[2017-08-17 13:35] kisenka opened #181 "Get rid of runtime generator in favor of chaining loaders to process an image"

[2017-08-17 13:35] kisenka commented on #181
Relates to #123

[2017-08-17 13:40] kisenka commented on #179
@meowtec could you please attach PNG image which you try to transform?

[2017-08-17 14:51] meowtec commented on #179
PNG file is:

![opacity](https://user-images.githubusercontent.com/4006436/29418177-373d7722-839e-11e7-873b-acfe4f0e7597.png)

then I import it using:

[code]

In version 0.3, I got a SVG symbol like this:

[code]

While In version 3.x, I got the error message:

[code]

[2017-08-17 15:00] meowtec commented on #179
Now I write a loader to do it:

[code]

I don't know if there is a ready-made solution.

[2017-08-17 15:02] kisenka commented on #179
@meowtec looks like a bug, sprite-loader should detect PNG image via [svg-baker](https://github.com/kisenka/svg-baker/blob/53f8796d0382a921e718591d48dbe1896d7599d4/packages/svg-baker/lib/symbol-factory.js#L20).

[2017-08-17 20:41] kisenka commented on #175
@kedmyster ping

[2017-08-17 20:43] #129 closed

[2017-08-17 20:48] kisenka commented on #176
@thomasaull ping

[2017-08-17 21:04] thomasaull commented on #176
I'm sorry Stas, I was quite busy the last days, I'm gonna try your suggestion next week! :)

[2017-08-17 21:34] kisenka commented on #166
webpack-manifest-plugin compatibility shipped with vesion 3.2.2

[2017-08-18 07:19] #173 closed

[2017-08-18 07:20] kisenka commented on #173
Shipped with svg-sprite-loader@3.2.3

[2017-08-18 07:22] kisenka commented on #134
@Temp2017 ping

[2017-08-18 07:24] kisenka commented on #161
@swesh ping

[2017-08-18 07:26] kisenka commented on #156
@sourvb still actual? If no, please close an issue.

[2017-08-18 07:27] kisenka commented on #145
@highmind ping

[2017-08-18 07:28] kisenka commented on #138
@Hammster please update to the latest loader version and try again.

[2017-08-18 07:32] kisenka commented on #113
@Grsmto you're right, it's a configuration issue. Should be mentioned in FAQ.

[2017-08-18 07:32] #113 closed

[2017-08-18 07:33] kisenka commented on #124
Importing image from JS and from CSS works only in extract mode (#113)

[2017-08-18 07:39] kisenka commented on #132
Related issue https://github.com/kisenka/svg-baker/issues/4

[2017-08-18 07:51] kisenka commented on #152
@aalbericio is this approach worked for you?

[2017-08-18 10:50] Hammster commented on #138
@kisenka still have the same issue with 3.x. I update all packages just to be sure. Maybe the path is not properly mapped through the asar file after adding svg-sprite-loader which could be a cause why it works under unix-based machines but not windows.

The stack trace looks like this:
[code]

[2017-08-18 12:58] kisenka commented on #138
@Hammster I am getting another error, but even if I disable svg-sprite-loader the same error appears. So I think it's not a sprite-loader issue. Here is screenshot from Windows machine:

![image](https://user-images.githubusercontent.com/2714771/29459724-c0da538a-842d-11e7-81df-ad73eaaac37f.png)

[2017-08-18 14:52] dangreen opened #182 "Icons doesn't load in async-imported modules."
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
Icons doesn't load in async-imported modules.

**What is the expected behavior?**
Icons should be loaded in async-imported modules.

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**

[2017-08-18 15:01] #182 closed

[2017-08-18 15:44] kisenka commented on #182
@dangreen does it works with lazy imports?

[2017-08-18 15:50] dangreen commented on #182
@kisenka after update to v3 all has become ok

[2017-08-19 00:37] #138 closed

[2017-08-19 00:38] kisenka commented on #178
@vchrm ping

[2017-08-19 07:44] vchrm commented on #178
Yes, but not this week (too much work). Moreover I am still investigating the issue (trying to find some working polyfill or something).

[2017-08-19 08:27] kisenka commented on #178
Check this one https://github.com/Keyamoon/svgxuse

[2017-08-20 18:01] #141 closed

[2017-08-20 18:09] kisenka commented on #141
Shipped withg `svg-sprite-loader@3.2.4`

[2017-08-23 10:50] coderitual commented on #178
I have the same issue. Unfortunately svgxuse is not working for this purpose. Any other solution? Maybe this has something to do with the way svg-sprite-loader is creating fragments id's in external file (exposed by `use` element referenced internally to `symbol`).

[2017-08-23 11:17] sourvb commented on #156
I am using svg-inline-loader now which fixed my issue. Thanks.

[2017-08-23 11:17] #156 closed

[2017-08-23 11:21] kisenka commented on #156
@sourvb ah sorry, I've missed your gist, 0.x version behaviour can be enabled via `runtimeCompat: true` [config option](https://github.com/kisenka/svg-sprite-loader/#runtimecompat-default-false-deprecated).

[2017-08-23 11:32] kisenka commented on #178
@vchrm currently it's a planned feature for 4.x (see kisenka/svg-baker#4), but as usual I have no time to implement it :) BTW the only working approach among all browsers is to create classic sprite and move it's `background-position`. I'll try to find time on next week.

[2017-08-23 14:38] thomasaull commented on #176
No… Unfortunately this doesn't work. If i console.log my spriteUrl it is still the string '__SPRITE_URL__' … @kisenka

[2017-08-23 15:20] kisenka commented on #176
@thomasaull I need a test repo then, It's fastest way to help you

[2017-08-24 06:28] meowtec opened #183 "Raster image not working in IE9"
This is a bug

Below is my Code, it work well in Chrome, but IE9 give me a broken image.

add.svg
[code]

raster.svg
[code]

HTML:
[code]

<img width="704" alt="2017-08-24 2 10 36" src="https://user-images.githubusercontent.com/4006436/29652069-58821c52-88d6-11e7-82ee-f4b2f2b1395c.png">

If delete `add.svg`, IE9 work well.

Then I use the script to insert the full SVG into body,  IE9 work well too

[2017-08-24 07:15] kisenka commented on #183
@meowtec I need entire compiled code to test it in IE

[2017-08-24 08:11] meowtec commented on #183
http://meowtec.qiniudn.com/bundle.html

Input the url in IE9, press ENTER, will render success.
<img width="526" alt="2017-08-24 4 06 37" src="https://user-images.githubusercontent.com/4006436/29656311-ae89f59c-88e6-11e7-8423-7f87e8383d4f.png">

Then click `Refresh(F5)` button, image will break...
<img width="528" alt="2017-08-24 4 06 56" src="https://user-images.githubusercontent.com/4006436/2965

[2017-08-24 23:48] kisenka commented on #183
@meowtec I have only machine with IE11. I've tested it in emulation mode IE9 and it's working for me.

[2017-08-25 09:29] meowtec commented on #183
IE9 mode behaves different in some ways between real IE9.

You can simply test with https://netrenderer.com/index.php
This is my test result:

<img width="1164" alt="2017-08-25 5 05 17" src="https://user-images.githubusercontent.com/4006436/29707376-a3cde254-89b7-11e7-9be4-df69959641ee.png">

[2017-08-25 09:35] meowtec commented on #183
I just write another svg-sprite-loader, it concat all symbols HTML to a SVG, then insert the HTML into body. working well for me.

loader.js

[code]

runtime.js

[code]

[2017-08-25 12:50] Grsmto commented on #183
I don't know if it's related but this example doesn't work in IE11: http://kisenka.me/svg-sprite-loader/examples/browser-sprite-extract-mode/demo.html

[2017-08-25 15:29] vchrm commented on #178
Do we agree that this is what Safari is missing? https://caniuse.com/#feat=svg-fragment

[2017-08-25 19:58] kisenka commented on #178
@vchrm yes, both, desktop and mobile.

[2017-08-25 20:12] coderitual commented on #178
The simplest solution is to use object instead of img. Not sure if this has some disadvantages.

[2017-08-29 09:44] josemartos commented on #178
Looking forward to hearing from this 👍

[2017-08-30 11:12] More4ever opened #184 "TypeError: this.cacheable is not a function"
Hello

I've received an error on startup

[code]

Node: 8.3
npm: 5.3
Webpack: 3.4
OS: MacOS Sierra
Use with: Laravel Mix

Config:
[code]

Stacktrace
[code]

[2017-08-30 14:07] nikuz commented on #149
Same issue in 3.2.4:
[code]

import upArrow from '../assets/svg/up.svg';

Result:
[code]

[2017-08-30 19:38] unwrittenmike opened #185 "svg-sprite-loader not working in nuxt.js application"
**Do you want to request a feature, report a bug or ask a question?**
Report a bug
**What is the current behavior?**
Compiled with 1 warnings
 warning  in ./assets/icons/big-loader.svg
svg-sprite-loader exception. 2 rules applies to
**What is the expected behavior?**
No warnings and sprite to load
**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack c

[2017-08-31 11:21] kisenka commented on #185
I need the whole webpack config to be sure that is a loader bug

[2017-08-31 11:28] unwrittenmike commented on #185
Hi there see below:
const SpriteLoaderPlugin = require('svg-sprite-loader/plugin')
module.exports = {
/*
** Headers of the page
*/
head: {
title: 'nissanconfig',
meta: [
{ charset: 'utf-8' },
{ name: 'viewport', content: 'width=device-width, initial-scale=1' },
{ hid: 'description', name: 'description', content: 'Nuxt.js project' }
],
link: [
{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ic

[2017-08-31 11:39] unwrittenmike commented on #185
That a nuxt.js config...

[2017-08-31 16:20] gazpachu commented on #154
@yantakus @kisenka I'm also suffering this error with the latest version (3.2.5). Did u fix it? Any idea of what could be wrong? It works well with 0.3.0. This is my webpack config:

[code]

[2017-08-31 16:23] kisenka commented on #154
@yantakus please create git repository with package.json, webpack config, SVG image and piece of your code which produce an error.

[2017-08-31 16:25] yantakus commented on #154
@gazpachu I fixed my issues by removing `metadata` tags from my SVGs as I described here: https://github.com/kisenka/svg-sprite-loader/issues/154#issuecomment-316008710

So it works well for me since than.

[2017-08-31 16:27] gazpachu commented on #154
Hmm, I don't have `metadata` tags in my SVGs

[2017-08-31 16:33] yantakus commented on #154
This is how I identified the issue: removed SVGs one by one to understand which one causes the issue. Then I looked through source code of the problematic one and found out this weird block of code. Removed it and the issue disappeared.

[2017-08-31 16:41] gazpachu commented on #154
Thanks @yantakus. I found some SVGs with the metadata! and now I don't get that error :)

[2017-08-31 16:44] yantakus commented on #154
I found out this metadata appears when my teammates generate SVGs with Adobe Illustrator. I use Sketch for this purpose and it generates clean SVGs. Illustrator might have settings for not including it, but I'm not sure.

[2017-08-31 16:50] gazpachu commented on #156
@kisenka I also had to enable `runtimeCompat: true` to make it work with the latest version. What do we have to change in our code to be able to get rid of `runtimeCompat`?

[2017-08-31 16:54] kisenka commented on #156
@gazpachu from [migration guide](https://github.com/kisenka/svg-sprite-loader/blob/master/2.0.md):

[2017-09-01 10:27] gazpachu commented on #156
Thanks. I fixed it now :)

[2017-09-01 14:56] pSHCH opened #186 "Error: Cannot find module 'svg-baker-runtime/symbol'"
**Do you want to request a feature, report a bug or ask a question?**
Ask a question

**What is the current behavior?**
Error: Cannot find module 'svg-baker-runtime/symbol'

I have submodule (kit for component) and main project. I tested svg-sprite-loader in kit and it was ok. Then I added this rules to main project ( https://gist.github.com/pSHCH/cb03ff5469df85439f4fe42969430330 ).

My component

[2017-09-05 11:47] vanoorschot commented on #185
@unwrittenmike You can extend the nuxt default webpack in the nuxt.config.js.
Nuxt already has it's own webpack config (https://nuxtjs.org/guide/assets/#webpacked) which uses the 'url-loader' for svg files.
I don't think this is a bug in svg-sprite-loader, but a conflict with the nuxt webpack configuration.

Right now I have the same problem ;)

[2017-09-05 14:00] vanoorschot commented on #185
@unwrittenmike I created an issue with Nuxt, to ask how this can be achieved.
Meanwhile I wrote a hack to get it working.

See my ticket for the implementation:
https://github.com/nuxt/nuxt.js/issues/1584

[2017-09-05 16:12] unwrittenmike commented on #185
@vanoorschot  Thanks! Your hack works for me! ... sat for a a full day trying to get this working.. total legend!

@kisenka Sorry for pointing the blame at your library...

[2017-09-06 08:17] #185 closed

[2017-09-06 13:44] timkelty commented on #166
This issue has been addressed, but the loader still isn't really usable with webpack-manifest…

The output of `manifest.json` is now something like:

[code]

For it to be useful, we want something like this:
[code]

[2017-09-12 12:50] JimVercoelen commented on #149
I don't get it. Is this supposed to be solved at 3.0.6? Because I am facing the same problem using 3.0.6.

Can other rules cause this problem?

@katiasmet You managed to solve this problem? Because I am using the same config for this loader as you have.

[2017-09-14 15:38] sqal opened #187 "spriteFilename doesn't work when using rule.oneOf setup"
**Do you want to request a feature, report a bug or ask a question?**
Bug (I guess)

**What is the current behavior?**
Option spriteFilename doesn't work (fallback to default sprite.svg) when using a specific webpack's rules configuration (explained below).

**What is the expected behavior?**
Option spriteFilename should always work

**Please tell us about your environment:**

- Node.js version: 8

[2017-09-15 10:17] draperunner commented on #186
I had a similar problem with `Module not found: Error: Can't resolve 'svg-baker-runtime/browser-symbol'`, using v3.2.5. Reverting back to v3.2.1 resolved the problem.

[2017-09-15 20:56] awhitty opened #188 "Example webpack config files should externalize dependencies"
**Do you want to request a feature, report a bug or ask a question?**
Request a feature

**What is the current behavior?**
The examples in this repo include a `build/main.js` file. The custom runtime generator examples happen to import `React` and include the entire source code for React in the output.

**What is the expected behavior?**
It would be more useful as documentation to mark React and o

[2017-09-19 11:03] kisenka commented on #188
@awhitty could you please make a PR?

[2017-09-19 16:46] awhitty commented on #188
Sure!

[2017-09-22 05:57] MaxMilton opened #191 "Attributes are missing after <svg> is converted to <symbol>"
**Do you want to request a feature, report a bug or ask a question?**
Bug + feature

**What is the current behavior?**
Most attributes on `<svg>` elements are stripped. Looks like this was fixed for `stroke` and `fill` attributes in https://github.com/kisenka/svg-sprite-loader/issues/141 .

**What is the expected behavior?**
At least `fill-*` and `stroke-*` attributes should be preserved. There's

[2017-09-22 07:06] MaxMilton opened #192 "Add option for symbol based output for use with <use>"
**Do you want to request a feature, report a bug or ask a question?**
Feature

**What is the current behavior?**
Symbol markup in the sprite is wrapped in `<defs>`, includes a `<style>` block, and includes a `<use>` for each svg item. The reasoning for this is explained in https://github.com/kisenka/svg-sprite-loader/issues/122 .

**What is the expected behavior?**
If the developer will only be re

[2017-09-27 12:18] jpzwarte opened #194 "Get svg-sprite-loader to work with html-webpack-plugin"
**Do you want to request a feature, report a bug or ask a question?**
I would like either an example if this is already possible, otherwise a new feature :)

**What is the current behavior?**

**What is the expected behavior?**
I want to inline my SVG icons in my index.html at build-time using webpack (html-webpack-plugin). For example:

[code]

The above output is created manually using svgstore.

[2017-09-27 12:21] jpzwarte commented on #192
See #194, you really want to have the SVG icons inline, not in a separate resource (also see https://css-tricks.com/svg-symbol-good-choice-icons/)

[2017-09-28 01:31] alx-gk opened #195 "Merging <defs> outside of symbols ?"
Hi! Can anybody tell me, what's the right way to use one defs to a several symbols (linear-gradient for example) ? When I'm add symbols to sprite, each symbol has its own defs, can I move and merge defs outside of symbols for multiple use ? I understand, that I can use it multiple through css, if it is in one symbol only, but I think, this is not usable to some tasks.

[2017-09-28 10:00] CXHtml commented on #187
@kisenka this issue is solved in v3.2.6, you can close it

[2017-09-28 14:25] kisenka opened #196 "style-loader interop in extract sprite mode"
Set `esModule: false` if CSS processed by style-loader.
See #193

[2017-09-28 18:25] kisenka commented on #186
@pSHCH @draperunner still reproduces with latest version?

[2017-09-28 18:30] kisenka commented on #149
@JimVercoelen could you please check latest version?

[2017-09-29 06:48] MaxMilton commented on #192
Inline is not a good idea if you have icons which repeat, no point defining the same code multiple times. The `<use>` technique is great since SVG resources only need to be defined once and you can style the same SVG item in different ways.

I'm not sure that this package is the right place to do file inlining as its purpose is to create an SVG **sprite**, although there may be some SVG parsing lo

[2017-09-29 06:50] jpzwarte commented on #192
I mean inlining the *sprite* in de HTML. You get all the benefits of ```<use>``` without cross browser issues and having to load the sprite using AJAX.

[2017-09-30 13:20] alinchican commented on #143
@sidonaldson I'm experiencing the same issue while using [devServer](https://webpack.js.org/configuration/dev-server/).

Based on your answer I've added Cache-Control in [devServer.headers](https://webpack.js.org/configuration/dev-server/#devserver-headers-) as a workaround. Be aware that this adds Cache-Control to all responses.

[code]

[2017-09-30 13:23] kisenka commented on #124
Using with style-loader (#193)

[2017-10-02 23:17] cletusw commented on #188
@awhitty Any progress on this? I totally agree!

[2017-10-03 16:25] soluml commented on #187
@kisenka @CXHtml Can you publish v3.2.6 tp npm? I think my build is suffering from this issue as well.

[2017-10-03 19:16] kisenka commented on #187
@soluml sorry, I forgot to publish it :) Now it's published

[2017-10-04 01:35] soluml commented on #187
Better late then never :)

[2017-10-04 19:37] brunohkbx opened #197 "Why the loader append the file name in the svg ID when I try to extract a file?"
This is my webpack configuration.

[code]

I'm trying to include the /node_modules/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg file.

This is a example of symbol extracted using the loader.
`<symbol viewBox="0 0 24 24" id="symbols_event">`

Why this string **symbols_** is appended in the original ID?
I tried to alter symbolId option, but it also doesn't work.

[2017-10-05 14:26] kisenka commented on #197
This loader doesn't supports using sprite generated by other tools.

[2017-10-05 19:39] #197 closed

[2017-10-05 19:41] kisenka commented on #195
@alx-gk do you have any problems with multiple defs or just curious?

[2017-10-05 19:43] kisenka commented on #194
I can only suggest some placeholder in template processed by html-webpack-plugin which will be replaced with sprite content.

[2017-10-05 19:45] kisenka commented on #186
@pSHCH @draperunner ping

[2017-10-06 11:32] draperunner commented on #186
I can't reproduce the issue with version 3.2.4, 3.2.5, nor 3.2.6. Maybe `svg-baker-runtime` was updated?

[2017-10-06 11:34] kisenka commented on #186
Probably it was error while publishing an 3.2.4 version. Closing this one.

[2017-10-06 11:34] #186 closed

[2017-10-06 13:16] c0defre4k opened #198 "Generate sprites at build-time and auto inject in html template"
Has anyone tried to generate the sprites at build time?

My goal is to reduce the package size of my app. Since svg-sprite-loader renders the sprite in the browser on the client-side the client also needs to know how to build that sprite.

Now I came up with the idea of building the sprite during build and inject the SVG with HtmlWebpackPlugin or something into my index.html.

So my question is, i

[2017-10-06 13:51] kisenka commented on #198
@c0defre4k this feature already was requested in #194

[2017-10-06 15:43] kisenka commented on #194
Related issue #192

[2017-10-06 15:44] kisenka commented on #198
Closing as duplicate, try to implement this on the next week.

[2017-10-06 15:44] #198 closed

[2017-10-06 15:44] kisenka commented on #194
Try to implement this on the next week.

[2017-10-07 22:21] alx-gk commented on #195
I think its not problem, but, for example, if I need two svg symbols with same linear-gradient, now I can create defs with gradient in each symbol ( but dont want to duplicate code ), or create defs in first symbol and use it for second symbol too ( symbols will be not independent ). I think the right way will be create one defs outside of symbols ( merge it from symbols with same gradient ) and u

[2017-10-08 01:13] kisenka commented on #195
Actually it's not a loader issue, it is related to sprite optimization and minification, svgo for example. However, such optimizations in automatic way is rather dangerous and I don't think they are necessary.

[2017-10-08 01:13] #195 closed

[2017-10-08 01:15] kisenka commented on #195
@alx-gk svg-sprite-loader uses svg-baker for creating sprites under the hood, you can file an issue there.

[2017-10-08 16:30] alx-gk commented on #195
Ok, thanks! Will read svgo documentation once more.

[2017-10-09 19:17] negomi commented on #147
Unfortunately this is still not fixed.

I traced the line back to svg-baker-runtime: https://github.com/kisenka/svg-baker/blob/53f8796d0382a921e718591d48dbe1896d7599d4/packages/svg-baker-runtime/src/browser-sprite.js#L117

It uses `event.detail`, which doesn't seem to exist in IE11 :/

[2017-10-10 14:59] antongunkin commented on #149
Same problem...

[2017-10-10 15:02] katiasmet commented on #149
@JimVercoelen I used another plugin. But it doesn't have all the features of this one. So a solution would be nice :(.

https://github.com/mrsum/webpack-svgstore-plugin

[2017-10-10 15:04] kisenka commented on #149
@katiasmet @antongunkin it will be very useful if some of you guys create git repo with reproducible error. In this way I will assist quickly :)

[2017-10-10 19:13] cedrictahina opened #199 "spriteFilename option not working properly"
**Do you want to request a feature, report a bug or ask a question?**
I would like to report a bug
**What is the current behavior?**
spriteFilename option is not taken into consideration
**What is the expected behavior?**
The generated file should take the spriteFilename value in webpack configuration, output file always has sprite.svg as name

**If the current behavior is a bug, please provide th

[2017-10-11 07:51] kisenka commented on #199
@cedrictahina couldn't reproduce with your webpack & loader version. Could you please create a git repo where I can reproduce described error?

[2017-10-11 11:29] omRm opened #200 "spriteModule not working"
**Do you want to request a feature, report a bug or ask a question?**
bug / feature request

**What is the current behavior?**

importing my own spriteModule.js throws compilation errors.

**What is the expected behavior?**
we should be able to load the sprite.js and its dependencies.

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with l

[2017-10-11 12:05] cedrictahina commented on #199
After deep investigation, I noticed that the svg-sprite-loader was in conflict with image-webpack-loader when svg files are presents in the rule test.

[2017-10-11 12:05] #199 closed

[2017-10-11 20:34] enapupe commented on #147
I'm getting this issue with edge:

Edge
Version: 15.15063

[2017-10-12 08:02] mascardoso commented on #40
I also have the same issue.
Tried reading @antonydb post reference but their options for me don't work.
The weird thing is that I only have this issue when starting webpack in dev env and it still works.

This is the error:
[code]

**Webpack config:**

[code]

**jsx-1:**

[code]

**jsx-2:**

[code]

[2017-10-12 12:52] kisenka commented on #147
@negomi looks like custom event initialization method in svg-baker works in IE11 ([stackoverflow](https://stackoverflow.com/a/19345563/4624403), [MDN](https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/initCustomEvent#Browser_compatibility)).

[2017-10-12 14:59] xlotlu commented on #192
Except inlining the sprite means losing the benefits of caching. Besides, there's [this](https://github.com/jonathantneal/svg4everybody).

[2017-10-16 09:34] kisenka commented on #161
@swesh ping, still actual?

[2017-10-16 09:34] kisenka commented on #176
@thomasaull ping, still actual?

[2017-10-16 11:31] #132 closed

[2017-10-16 12:08] kisenka commented on #132
@ShimShamSam sorry for the delay, this feature is shipped in `svg-sprite-loader@3.3.0`.

[2017-10-16 12:08] kisenka commented on #191
@MaxMilton sorry for the delay, this shipped in `svg-sprite-loader@3.3.0`.

[2017-10-16 12:08] #191 closed

[2017-10-16 14:05] girwin575 commented on #184
Is there any update to this? I'm having the same issue.

[2017-10-16 14:38] #184 closed

[2017-10-16 14:40] kisenka commented on #184
@girwin575 sorry for the delay, just published `svg-sprite-loader@3.3.1` with fix.

[2017-10-16 15:07] girwin575 commented on #184
Thanks @kisenka will take a look!

[2017-10-16 15:52] girwin575 opened #201 "this.async is not a function issue with webpack"
Hi Kisenka,
After getting your updates from the callback issue I'm getting the below error.
<<< start of error >>>
loader option has been deprecated - replace with "use"
{localfilepath}/node_modules/svg-sprite-loader/lib/loader.js:18
  const done = this.async();
                    ^
TypeError: this.async is not a function
<<< end of error >>>
Could you please advise on a fix? Thanks.

[2017-10-16 15:53] kisenka commented on #201
@girwin575 please provide webpack version

[2017-10-16 16:01] girwin575 commented on #201
@kisenka  3.7.1

[2017-10-16 20:12] kisenka commented on #201
@girwin575 couldn't reproduce, could you please create a git repo with reproducible error?

[2017-10-17 07:52] mascardoso commented on #201
Having the same issue.
Using `"webpack": "^3.6.0"`

[2017-10-17 09:36] mascardoso commented on #201
any ideas how to solve this?

[2017-10-17 10:35] girwin575 commented on #201
@mascardoso yeah I'm having the same issue. What version of node are you using?

[2017-10-17 10:36] mascardoso commented on #201
@girwin575 node `v8.7.0`

[2017-10-17 10:43] mascardoso commented on #201
Also probably good to know but I have in place an SSR app. I get this error when I try to add `sprite-svg-loader` to my `.babelrc`

[2017-10-17 10:44] kisenka commented on #201
@girwin575 it will be better if you edit this issue and fill the [template](https://github.com/kisenka/svg-sprite-loader/blob/master/.github/ISSUE_TEMPLATE.md) (and don't remove it next time). Also I can help you much faster if you create a git repo where I can reproduce an error.

[2017-10-17 10:45] girwin575 commented on #201
@kisenka I'll fill out that issue template now as a comment, with regards to a repo I'm working on one with the same issue as I can't publish what I currently have.

[2017-10-17 10:46] kisenka commented on #201
@girwin575 ok, let's start from details about your environment, I need only this information from issue template

[2017-10-17 10:52] girwin575 commented on #201
- Node.js version: 7.10.1
- webpack version: 3.7.1
- svg-sprite-loader version: 3.3.1
- OS type & version: OS X El Capitan - 10.11.6

[2017-10-17 10:54] mascardoso commented on #201
If it also helps @kisenka:

- Node.js version: 8.7.0
- webpack version: 3.6.0
- svg-sprite-loader version: 3.3.1
- OS type & version: OS Sierra - 10.12.6

[2017-10-17 11:56] kisenka commented on #201
@mascardoso

What does it mean `try to add sprite-svg-loader to my .babelrc`? sprite loader configuration should be defined in webpack config

[2017-10-17 12:10] kisenka commented on #201
@girwin575 still cannot reproduce with node 7.10.1 & webpack 3.7.1. I need demo repo with package.json, webpack config & minimal piece of your code. You don't need to share whole project :)

[2017-10-17 12:16] mascardoso commented on #201
@kisenka the reason I add in `babelrc` it's because this is a SSR application. Does it make sense?

[2017-10-17 12:17] girwin575 commented on #201
Ok @kisenka I'll get one together. Thanks!

[2017-10-17 12:17] kisenka commented on #201
@mascardoso please provide an .babelrc example with svg-sprite-loader config

[2017-10-17 12:18] mascardoso commented on #201
[code]

[2017-10-17 12:21] kisenka commented on #201
@mascardoso svg-sprite-loader is not a babel plugin, it's a webpack loader. Please follow the [configuration](https://github.com/kisenka/svg-sprite-loader#configuration) readme section to setup it properly.

[2017-10-17 12:28] mascardoso commented on #201
@kisenka this is probably a different topic for me then... but if I use only webpack config and SSR I get the following error when importing an svg: `"ReferenceError: React is not defined",`. There's also a ticket [here](https://github.com/kisenka/svg-sprite-loader/issues/175)

[2017-10-17 13:53] girwin575 commented on #201
Hi @kisenka here is the repo https://github.com/girwin575/testrepo

Node.js version: 7.10.1
webpack version: 3.7.1
svg-sprite-loader version: 3.3.1
OS type & version: OS X El Capitan - 10.11.6

I hope this helps?

[2017-10-17 14:17] kisenka commented on #201
@girwin575 you're trying to import loader instead of plugin [here](https://github.com/girwin575/testrepo/blob/master/webpack.config.js#L3):

[code]

should be
[code]

[2017-10-17 14:25] kisenka commented on #175
@kedmyster @mascardoso this is not svg-sprite-loader, but try to add following in your webpack config:

[code]

[2017-10-17 14:39] mascardoso commented on #175
@kisenka sorry it's not working ;(. Our project for SSR loads first `babelrc` config. I can see the sprite but not when initially the app starts. Only after reloading it.

[2017-10-17 14:45] kisenka commented on #175
@mascardoso the same request: demo repo with minimal code where I can reproduce the error.

[2017-10-17 14:45] #201 closed

[2017-10-17 14:48] mascardoso commented on #175
I understand. It will take some time since the project is relatively big. Thanks @kisenka.

[2017-10-17 14:57] mascardoso commented on #175
@kisenka I made it work by adding this plugin https://github.com/taddei/babel-plugin-transform-strip-svg-sprite.

[2017-10-17 15:10] girwin575 commented on #201
Thanks @kisenka whilst you have the repo may I ask the fact I have

`    module: {
        rules: [
            {
                test: /\.svg$/,
                loader: 'svg-sprite-loader',
                include: path.resolve(svgDir),
                options: {
                    extract: true,
                    spriteFilename: 'flags-sprite.svg'
                }
            }
        ]

[2017-10-17 15:29] kisenka commented on #201
@girwin575 you can't see it because you have no svg imports in your code. Add `import shareId from './assets/share.svg';` in app.js.

Also you have an error in [webpack.config.js#2](https://github.com/girwin575/testrepo/blob/021b6e47ceaea8532327ebd309c486c5f7c88ee1/webpack.config.js#L2), leading slash should be removed in /src/assets:

[code]

[2017-10-17 15:32] girwin575 commented on #201
Fantastic, thanks for the help @kisenka

[2017-10-17 16:12] thomasaull commented on #176
@kisenka Kinda… But not urgent right now. If ok for you, I'm gonna reopen this issue as soon as I got a test repo for you!

[2017-10-17 18:55] kisenka commented on #176
@thomasaull have you tried solution in my [comment](https://github.com/kisenka/svg-sprite-loader/issues/176#issuecomment-322622821). Problem is that there could be a few sprite files and simple replace placeholder with hash will not work.

[2017-10-18 10:40] thomasaull commented on #176
I did try that and the result was, that somehow the __SPRITE_URL__ wasn't replaced with the actual sprite Url, it was still just __SPRITE_URL__ in my compiled code…

[2017-10-18 13:09] alxpsr opened #202 "Remove symbol from sprite dynamically"
My angular-component have few svg icons.
Can i remove icon (symbol tag) from svg-sprite when component is will destroyed?

[2017-10-18 13:12] kisenka commented on #202
@alxpsr could you provide an example of usage svg symbols in your application?

[2017-10-18 17:44] alxpsr commented on #202
`my-component.component.ts`
[code]
`my-component.html`
[code]

Webpack build svg-sprite with icons, like this:
[code]
When angular-route will change - my-component will destroyed, but all svg-icons from them will stay in sprite.

Can i remove these icons from sprite? Maybe this is the wrong way and I should not worry?

P.S. Mojet ya napishu po-russki :D?

[2017-10-19 08:29] c0defre4k commented on #194
Any updates on this?

[2017-10-19 10:28] kisenka commented on #202
@alxpsr it's possible, but a bit hacky. Human understandable sprite/symbol API is on the way. Here is hacky solution for this time:

[code]

NET nado speak in russian, because of ostalnoe NE russke Chelovek, which uses etot library, don't ponimaet cirilica. Etot razumny!

[2017-10-19 10:35] alxpsr commented on #202
thank you

[2017-10-19 10:35] #202 closed

[2017-10-19 12:05] MaxMilton commented on #191
Thank you very much :heart:

[2017-10-19 12:17] MaxMilton commented on #192
Saw some work towards this in https://github.com/kisenka/svg-sprite-loader/commit/fcf3939 . Now when initializing the class you can speficy:
[code]
Everything is pretty sweet and works basically as I originally described in the OP. Only issue is the `-usage` is still appended to my svg path, e.g. `"sprite.svg#item-name-usage"` instead of `"sprite.svg#item-name"`.

[2017-10-19 12:24] kisenka commented on #192
@MaxMilton it's inconsistent behaviour, but if it will produce `sprite.svg#item-name` instead of `sprite.svg#item-name-usage` it will have no sense if you're using external sprite. Right?

[2017-10-19 21:58] kisenka commented on #175
@kedmyster ping, still actual?
@mascardoso could you please create a repo?

[2017-10-19 22:31] #194 closed

[2017-10-20 04:07] #161 closed

[2017-10-20 04:11] #160 closed

[2017-10-20 04:15] kisenka commented on #147
@negomi ping

[2017-10-20 04:15] #145 closed

[2017-10-20 04:19] kisenka commented on #124
Serve external sprite properly #143

[2017-10-20 04:20] #143 closed

[2017-10-20 04:21] #137 closed

[2017-10-20 04:21] #134 closed

[2017-10-20 04:22] #127 closed

[2017-10-20 11:45] sqal opened #203 "Use webpack@2 RuleSet to match rules"
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
Loader throws this error:

[code]

**What is the expected behavior?**
No error and project to be built

**Steps to reproduce:**
- clone repo https://github.com/sqal/svg-sprite-loader-bug-repro
- `npm run build` to see the error

This bug occurrs ONLY in the following setup:
- loader rule is

[2017-10-20 12:56] kisenka commented on #203
@sqal thanks a lot for reporting!

Looks like it's time to drop webpack-1 support and use introduced in webpack-2 [RuleSet](https://github.com/webpack/webpack/blob/master/lib/RuleSet.js) utility to test/match rules. It's a breaking change and requires some time.
My answer is: it will be fixed in next major version when I replace my own rule matcher with similar from webpack's core. For now I don't

[2017-10-20 13:04] kisenka commented on #149
@katiasmet still actual?

[2017-10-20 16:42] sqal commented on #203
Hi and thanks for looking into this issue. Yes, for now i can drop rule.oneOf configuration or just don't use extract option and let loader inject my SVGs at runtime, I don't have problem with that :) So if you need to introduce a breaking change in order to fix this issue, then let it be, I can wait :)

[2017-10-21 13:21] irodger commented on #149
I had same problem and it was a url-loader make base64 from svg. I solved this problem by exclude svg from url-loader.

[2017-10-22 17:52] wanecek opened #204 "Bug: Hash is sporadically invalidated"
## Current behaviour

When building an external sprite with webpack, the hash of the sprite-chunk is sometimes invalidated (changes) without the source files (the svgs) having been modified.

## Expected Behaviour

When building an external sprite with webpack, the hash of the sprite-chunk should *never* be invalidated (change) without the source files (the svgs) having been modified.

## Demo

A

[2017-10-22 18:07] erquhart opened #205 "Broken due to removed dependency"
**Do you want to request a feature, report a bug or ask a question?**

bug

**What is the current behavior?**

loader doesn't work due to removal of `posthtml-svg-mode` from npm

**What is the expected behavior?**

loader should work

Related issue in `svg-baker` repo: https://github.com/kisenka/svg-baker/issues/17

[2017-10-22 18:19] kisenka commented on #205
I didn't remove it from NPM, just change posthtml-svg-mode readme about renaming it to postsvg. Could you please provide an error or warning which happens when you install svg-sprite-loader.

[2017-10-22 18:22] kisenka commented on #205
@erquhart btw which package manager is used?

[2017-10-22 18:23] erquhart commented on #205
@kisenka the module contains a readme, a package.json, and nothing else, so you'll get a "can't find module" error. Using yarn/webpack, I get this:

[code]

You didn't update the dependency in `svg-baker`: https://github.com/kisenka/svg-baker/blob/master/packages/svg-baker/package.json#L26

[2017-10-22 18:25] aga5tya commented on #205
@kisenka Same here with yarn after latest version bump.

[2017-10-22 18:29] erquhart commented on #205
@kisenka if you're deprecating, the 1.0.1 patch should simply include a notice that the module is being deprecated, and the next major release (2.0) would bring removal. As it stands, this isn't a deprecation, but a breaking change.

[2017-10-22 18:30] kisenka commented on #205
@erquhart seems like it was an error while publishing, I've published posthtml-svg-mode @1.0.2 and recheck package contents.

[2017-10-22 18:31] erquhart commented on #205
Awesome, thank you!

[2017-10-22 18:31] #205 closed

[2017-10-23 16:59] #204 closed

[2017-10-23 17:00] kisenka commented on #204
@wanecek thanks a lot for reporting! Fix shipped with `v3.4.1`

[2017-10-23 17:22] wanecek commented on #204
Neat! Thank you for the quick fix @kisenka!

[2017-10-23 20:04] kisenka commented on #200
@omRm sorry for the delay, could you please create a repo where I can reproduce described error? Because by default transpiled code is used - https://github.com/kisenka/svg-sprite-loader/blob/master/lib/config.js#L58

[2017-10-24 02:47] sentience opened #206 "custom-runtime-generator example fails to build"
**Do you want to request a feature, report a bug or ask a question?**

Report a bug.

**What is the current behavior?**

Building the examples failed with an error: Exit status 2. I have narrowed this down to an error building the custom-runtime-generator example.

**What is the expected behavior?**

Building the examples with `npm run build:examples` should run successfully.

**If the current beh

[2017-10-24 02:50] sentience opened #207 "extract-mode example fails to build"
**Do you want to request a feature, report a bug or ask a question?**

Report a bug.

**What is the current behavior?**

Building the examples failed with an error, Cannot find module 'extract-text-webpack-plugin', in the extract-mode example.

**What is the expected behavior?**

Building the examples with `npm run build:examples` should run successfully.

**If the current behavior is a bug, pleas

[2017-10-24 05:56] kisenka commented on #207
@sentience try to run

[code]

[2017-10-24 07:29] sentience opened #208 "Extract and inject SVG spritesheet in a single build"
**Do you want to request a feature, report a bug or ask a question?**

Propose a feature we might contribute.

**If this is a feature request, what is motivation or use case for changing the behavior?**

We need to support a couple of constraints on our SVGs:

* Our pages are sometimes rendered as PDF using [wkhtmltopdf](https://wkhtmltopdf.org), which crashes when SVG symbols are injected into th

[2017-10-24 07:49] sentience commented on #208
I just tested the proposed change above (adding a `runtimeOptions.ignoreExtract` flag) in our project, and it meets our needs perfectly.

[2017-10-24 08:54] omRm commented on #200
Yes, the sprite.build you export is transpiled, but when pointing to my own sprite module i get an error.
I forgot to post my spritemodule.js

even if i only import the sprite module and export it right away, i get the error. Maybe im doing something wrong ?

the sprite.js i forgot to post
[code]

more elaborate error

[code]

i will be able to create a repo sometime this week!

[2017-10-24 08:59] kisenka commented on #200
Try to import transpiled sprite in your code:

[code]

[2017-10-24 09:10] omRm commented on #200
Yes, this does work. but is there a way to set id and style from here ?
calling the constructor does not work

[2017-10-24 09:16] kisenka commented on #200
Nope, but you can instantiate sprite class by your own:

[code]

[2017-10-24 09:19] omRm commented on #200
Rendering this server side should not work, right ?

[2017-10-24 09:20] kisenka commented on #200
No, but for SSR you can use plain sprite `svg-baker-runtime/sprite`. Tell me what you want to do :)

[2017-10-24 09:23] omRm commented on #200
We use SSR and need to be in full controll of the HTML output.
right now the html output  contains

id="__ SVG_SPRITE_NODE __" and a style="position: absolute; width: 0; height: 0"

we need to change id and remove style.

[2017-10-24 09:30] kisenka commented on #200
Have you seen [server side rendering example](https://github.com/kisenka/svg-sprite-loader/tree/master/examples/server-side-rendering)?

Also you can check [runtime which](https://github.com/kisenka/svg-sprite-loader/blob/master/runtime/sprite.js) uses when `target: 'node'` is set in webpack config. You can copy-paste it (replace `svg-baker-runtime/src/sprite` with `svg-baker-runtime/sprite`) and

[2017-10-24 09:31] sentience commented on #207
Aha! Did I miss the docs for this, or do they still need to be written? I'd be happy to draft an addition to examples/README.md and submit a PR if that would help.

[2017-10-24 09:33] kisenka commented on #207
Actually it's in Setup section of [contributing guidelines](https://github.com/kisenka/svg-sprite-loader/blob/master/CONTRIBUTING.md#setup), but maybe it should be referenced from readme :)

[2017-10-24 09:34] kisenka commented on #207
I've added postinstall script which runs `yarn run env webpack-3` each time when you install deps. Hope it helps.

[2017-10-24 09:44] omRm commented on #200
Server side rendering part is working great, but changing id and style is not.
Setting the HTML output in the Components where svgs are rendered is no option for me.

i also feel like importing svg-beaker runtime to control what svg-sprite-loader should be doing is not
a correct way, and leads to much bloated code.

i think we could close this issue and i would open up a feature request if you'd l

[2017-10-24 09:48] kisenka commented on #200
I understand you, thanks for idea. It's minor for me, but still important.

[2017-10-24 09:58] omRm commented on #200
No Problem, i appreciate the concern !

maybe something like this would help ?
we already have a direct configuration for symbolID.
[code]
or custom attributes ?

[2017-10-24 10:01] kisenka commented on #200
Technically I need to use some placeholder in runtime code (something like `new BrowserSprite(__OPTIONS__)`) and then replace it in loader runtime generator.

[2017-10-24 12:20] kisenka commented on #206
@sentience cannot reproduce, could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2017-10-24 12:25] kisenka commented on #208
I didn't get, you describe two different cases:
1. Extract mode with external sprite.
2. Usual mode with JS runtime.

You want to mix them in one webpack build? I mean you want to import the same SVG image and it should be processed in both ways?

[2017-10-24 13:51] sentience commented on #208
That's right, yes. We would like to use the standard mode where the spritesheet is injected into the DOM on `documentready`, while also generating the extracted version of the spritesheet as an SVG file that we can inject into the page server-side for our PDF rendering, where it needs to be present in the DOM *before* `documentready`.

[2017-10-24 14:35] omRm commented on #200
Yes, i think that will do

[2017-10-24 19:04] kisenka commented on #208
If I know it's not possible in webpack to process one module differently. But if you know how - PR is always welcome!

[2017-10-24 22:51] sentience commented on #207
I'm now seeing this in a project that depends on svg-sprite-loader master:

[code]

[2017-10-25 12:22] kisenka commented on #207
How you include sprite-loader in this project? You should use `npm link` or `yarn link`

[2017-10-25 12:25] sentience commented on #207
I simply included it as a GitHub dependency in package.json:

[code]

[2017-10-25 12:35] kisenka commented on #207
shelljs specified in devDependencies

[2017-10-25 12:37] sentience commented on #207
That explains it, then, right? The new postinstall script is running when the package is installed as a dependency of my project—when the devDependencies are not available.

[2017-10-25 12:39] kisenka commented on #207
`npm install --ignore-scripts`?

[2017-10-25 12:46] sentience commented on #207
I don't think it's reasonable for all projects that use svg-sprite-loader as a dependency to have to specify `--ignore-scripts` when they `npm install`.

Because npm postinstall scripts are run both when you `npm install` the package itself, as well as when you `npm install` a project that _depends_ on the package, you simply can't rely on `devDependencies` being present.

[From the official docs

[2017-10-25 12:49] kisenka commented on #207
Hmm, could you suggest better solution? I want to always run env script after dependencies changed.

[2017-10-25 13:04] sentience commented on #207
How about if your postinstall script checked for the presence of a devDependency (such as shelljs), and exited silently if it was not present? That way, when the package is installed with devDependencies, the script will run, and when the package is not installed with devDependencies (i.e. as a dependency of a project), then the script would exit harmlessly.

[2017-10-25 17:42] m1neral commented on #151
@kisenka Thank you. I created separate sprite file. How can I get name of sprite, then I use option
[code]
?

[2017-10-25 18:11] m1neral commented on #151
I think only by the possibilities of webpack `require-context`

[2017-10-25 18:32] kisenka commented on #151
@m1neral only via StatsPlugin

[2017-10-25 22:39] kisenka commented on #207
Too complicated :) I'm better remove postinstall script!

[2017-10-25 22:39] kisenka commented on #207
Too complicated :) I'm better remove postinstall script!

[2017-10-25 22:39] #207 closed

[2017-10-30 05:58] negomi commented on #147
Hi @kisenka, sorry for the delayed response.

I agree it looks like it should work, but our error tracker is still reporting the issue.

I'm not sure what's causing it exactly, though I wonder if this is related: https://connect.microsoft.com/IE/feedback/details/789773/ie-increments-event-detail-on-clicks-over-different-locations

If it is due to that and/or not possible to fix, would it be possib

[2017-11-02 19:53] kisenka commented on #186
@dvkndn could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files. Also it will be useful if you provide name of your package manager and it's version.

[2017-11-03 00:39] binarykitchen opened #209 "Module build failed: SyntaxError: Unexpected token {"
When I require an SVG image like `const listSvg = require('list.svg')` and use it in a Coffee markup like

[code]

the above error message comes up. Using latest versions of everything here. Really weird why it complains about `{` ... why?

[2017-11-03 14:09] kisenka opened #210 "Incorrect behaviour in combination with svg-fill-loader in extract mode"
If resource has a query (eg `image.svg?fill=red`) it will be skipped and as result URL to symbol sprite will be incorrect. See mapper argument in [plugin](https://github.com/kisenka/svg-sprite-loader/blob/9a3d1c71e4c9d355546209c7c2ae82d15f85207c/lib/plugin.js#L72).

cc @burn1ng

[2017-11-03 15:14] kisenka commented on #124
Destroy symbol via JS API #202

[2017-11-08 11:33] edouard-lopez opened #211 "Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin"
**related:** webpack-contrib/extract-text-webpack-plugin#662

I'm following the [extract-mode](https://github.com/kisenka/svg-sprite-loader/blob/master/examples/extract-mode/webpack.config.js) example.
### Error

[code]

### webpack.config.js
[code]

### package.json

[code]

[2017-11-08 12:50] kisenka commented on #211
@edouard-lopez you process SVGs with 2 loaders: file-loader and svg-sprite-loader. You should use one of them.

[2017-11-08 12:55] edouard-lopez commented on #211
@kisenka what if I want only some svg in a sprite?

[2017-11-08 12:59] kisenka commented on #211
Use include or exclude options in rule. What happens if you drop svg-sprite-loader rules and plugin from your build? Is error still appears?

[2017-11-08 13:00] edouard-lopez commented on #211
@kisenka
When I remove `svg` from `{test: /\.(png|jpg|svg|gif)$/, use: ['file-loader']}`, I got a an error previous to the one describe above:

[code]

[2017-11-08 13:07] edouard-lopez commented on #211
If I remove the `svg-sprite-loader` rule, the error still appears until I remove
      {
        test: /\.html$/,
        loader: HTMLExtractor.extract({ use: 'html-loader' })
     }

Then I got the error, which is kind of expected:

[code]

[2017-11-08 13:19] kisenka commented on #211
@edouard-lopez this is not svg-sprite-loader issue, but you can create a demo repo/gist with package.json, webpack config and piece of your code and I'll try to help you.

[2017-11-08 14:05] edouard-lopez commented on #211
@kisenka I don't have the error when I remove use of `extract-text-webpack-plugin. However, I'm missing my `icons.svg` that should contains every icons from `src/icons`.

I'm only using the webpack `rule` to generate the `icons.svg` is it correct or should I import the files in my entry point?

<details>
  <summary>webpack.config.js</summary>

[code]
</details>

[2017-11-08 14:08] kisenka commented on #211
Of course you should import each icon so webpack can process them. Are you sure that you understand how webpack works?

[2017-11-08 14:20] edouard-lopez commented on #211
My bad, assumed the `included` was another way to include module, but reading the [Condition](https://webpack.js.org/configuration/module/#condition) it's not what I though.

I close as initial issue is fixed

[2017-11-08 14:20] #211 closed

[2017-11-10 15:04] marcobiedermann opened #212 "Question: Generate SVG sprite without JS import"
Is there a way to generate the sprite without importing each icon in my JavaScript file?

This is my webpack config and it does not work unless I use `import icon from './path/to/icon'` although I set `include`.

[code]

[2017-11-10 19:17] kisenka commented on #212
You can use [require.context webpack feature](https://webpack.js.org/guides/dependency-management/#require-context). Somewhere in entrypoint of your application:

[code]

[2017-11-10 19:19] kisenka commented on #124
Using with require.context

[2017-11-10 22:34] marcobiedermann commented on #212
@kisenka Than you Stas for your quick reply and suggestion. But I wonder, is there a "webpack" only solution to it?
I would like to use webpack just as an build tool and not a module bundler when working with static sites. No React, Vue or any other larger framework.

[2017-11-11 00:22] kisenka commented on #212
Tell me more what you want from webpack. You want only to generate svg sprite?

[2017-11-11 09:06] marcobiedermann commented on #212
Yes exactly. Currently I cam using `gulp `and `gulp-svgstore` to create one svg sprite from many icons.
Because webpack has some more nice features, I would like to switch from `gulp` to `webpack`.
I would like to keep the approach from gulp to specify an input and an output.
Unfortunately in webpack you most often need to set the input in you main JavaScript entry.
Sure this would work but I am l

[2017-11-11 13:16] kisenka commented on #212
You can create entrypoint dynamically:

[code]

[2017-11-12 19:00] fenderil opened #213 "Allow to generate sprite filename via function"
**Do you want to request a feature, report a bug or ask a question?**
feature, plz (or question?)

**What is the current behavior?**
Commonly we have this condition: `svgSpriteLoaderRules.length === sprites.length`

**What is the expected behavior?**
One rule for any count of sprites

**If this is a feature request, what is motivation or use case for changing the behavior?**
There is one webpack-c

[2017-11-12 20:53] kisenka commented on #213
I don't get what you want. You can ping me in Telegram - `@superkisenka`

[2017-11-13 05:43] sentience commented on #208
I completed an implementation of this feature, but then our requirements changed and so we no longer require this, so I will close this issue. Just in case my work is of use or interest to future generations, I've opened a pull request with the changes (#214); however, I will also close that without merging for now.

[2017-11-13 05:43] #208 closed

[2017-11-13 07:50] vercoelenmike commented on #149
Same problem, this problem is still alive

[2017-11-13 07:54] vercoelenmike commented on #149
@JimVercoelen @katiasmet @irodger

The problem here is that you are using more than 1 webpack `rule` for handling `svg` file types, so you prob. have a rule going for either images or fonts.

You should exclude ur `icons` folder, and it's solved.

[2017-11-13 08:01] kisenka commented on #124
#149

[2017-11-13 09:10] marcobiedermann commented on #212
@kisenka
Thank you very much. You script works file. I din't know of the `glob.sync` method.
One last thing:
Because I now have two entries I also get two JS files in my output:

webpack.config.js
[code]

output:

[code]

[2017-11-13 14:37] kisenka commented on #212
This is how webpack works. You can remove assets by creating a tiny plugin:

[code]

[2017-11-13 20:38] Memoyr commented on #212
Hi @kisenka ,

I have a similar request which is related to the solution you have made up here
``
const svgModules = require.context('source/assets/images/icons', false, /\.svg$/);
svgModules.keys().forEach(svgModules); ``

Basically,
I want to include all the icons I have (from a directory) in one page and render them using <use>.
And I don't want to include them manually.

I think I miss one par

[2017-11-13 20:51] kisenka commented on #212
@Memoyr approach above (with globbing) just works. You can create a demo repo where I can reproduce described behaviour.

[2017-11-14 15:31] Memoyr commented on #212
Thanks @kisenka, no need for demo, I got it working.

[2017-11-14 16:44] #212 closed

[2017-11-14 23:33] derrickpelletier commented on #186
I'm seeing the error too. Error was only occurring when running `npm install --production` on our project. Will see if i can get a smaller test case together if I find time.

[2017-11-15 10:55] kisenka commented on #186
@pSHCH @draperunner @dvkndn @derrickpelletier I can help you only if anyone of you guys demonstrate this error in git repo/gist. I need only package.json with lock npm/yarn file, webpack config and small piece of your code.

[2017-11-15 12:02] pSHCH commented on #186
Hello, I tried the last v and still have problems. So, my template the same (component in UI-KIT and it using in other projects, see my first message).

So, my kit config (https://gist.github.com/pSHCH/ec32a422959f2cb73119e9a7e4b6cb7a) and everything ok, I see my svg icons. Then I use UI-KIT in other project like submodule. My config in other project: https://gist.github.com/pSHCH/927318b70c2fc1ed

[2017-11-15 12:06] kisenka commented on #186
@pSHCH thanks for response. I have no time to setup project manually I don't know what UI-KIT is and how you use sprite loader as submodule. Could you please setup project, where I can run npm script and have an error?

[2017-11-15 12:18] pSHCH commented on #186
@kisenka sorry, I can't. So, if I move component (svg icons) from submodule to project - it works ok. If i use component from submodule - I have error. So, I can make test project to show it at weekend.

[2017-11-15 12:19] kisenka commented on #186
@pSHCH will be great!

[2017-11-20 09:48] chestozo commented on #209
Apparently it is the same problem as here:
https://github.com/kisenka/svg-sprite-loader/issues/140#issuecomment-312474829

I am getting the same error on node `v4.5.0`, but no error on `v9.1.0`.
Also you can use older versions of this plugin (which is not a good idea but ... it is easier sometimes compared to upgrading your node version).

[2017-11-20 10:22] kisenka commented on #209
@chestozo you're right, only node>= 6 is supported. Thanks for clarification!

[2017-11-20 10:22] #209 closed

[2017-11-21 14:08] raymondoh opened #215 "Err: Can't find the css sprite file"
**Do you want to request a feature, report a bug or ask a question?**

**What is the current behavior?**

**What is the expected behavior?**

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
**The best way is to create repo with minimal setup to demonstrate a problem (package.json, webpack

[2017-11-21 14:54] ophite commented on #65
I have this bug on windows 10, npm 5.4.2, node 8.7, not help /\.(svg)$/i

[2017-11-21 14:54] kisenka commented on #215
Unfortunately sprite-loader can't resolve resulting sprite filename according to resource which refers to it. That means if you store compiled stylesheets in `css` folder and sprite is placed in root folder stylesheet will refers to it in current folder (`css`). It can be fixed by adding `output.publicPath: '/'`.
And second thing, you don't need `plainSprite: true` option, because it used in case

[2017-11-21 14:54] #215 closed

[2017-11-21 14:57] kisenka commented on #65
@ophite usually it's about loaders configuration. Are you sure you configured it properly? Please provide relative part of webpack config.

[2017-11-21 15:07] ophite commented on #65
it works in linux/mac and dont work in windows:

{
          test: /\.(svg)$/,
          loader: 'svg-sprite-loader',
          include: [
            `${path.join(rootFolder, 'src/themes/default')}/icons/svg`,
            `${path.join(rootFolder, `src/themes/${themeName}`)}/icons/svg`,
          ],
          options: {
            extract: true,
            spriteFilename: 'theme-sprite.svg',

[2017-11-21 15:11] kisenka commented on #65
@ophite try to use `path.resolve` instead of `path.join`

[2017-11-21 15:12] kisenka commented on #124
Use publicPath property #215

[2017-11-21 15:12] ophite commented on #65
@kisenka rootFolder get with `path.resolve`

[2017-11-21 15:13] kisenka commented on #65
Try to use `path.resolve` also in include

[2017-11-21 15:31] ophite commented on #65
Thanx a lot all works))) Was error with slash in path

[2017-11-21 19:51] ophite opened #216 "Wrong behaviour with ExtractTextPlugin"
When use ExtractTextPlugin and set there custom folder for assets (for example js and css want to place in chunks folder, image, fonts, svg sprite in assets folder and index.html in root) then ExtractTextPlugin add prefix chunks and svg-sprite-loader add prefix path assets for sprite and as result we have chunks/assets/sprite.svg but expected assets/sprite.svg by loader and so sprite does not work

[2017-11-21 19:53] kisenka commented on #216
Please see https://github.com/kisenka/svg-sprite-loader/issues/215#issuecomment-346050967:

[2017-11-22 08:45] ophite commented on #216
It works only in webpack dev server case, but when open static (dev/prod) files - incorrect path to assets

[2017-11-22 11:27] kisenka commented on #216
I don't get. If assets path on production differs from dev-server specify them like this `publicPath: isProduction ? '/productionPath' : '/'`.

[2017-11-22 11:27] #216 closed

[2017-11-22 11:59] ophite commented on #216
But even in dev mode it does not help. Use svg icon through css.

P.s. in prod and dev the same dir structure (directory dist and all inside).

[2017-11-24 09:30] jamescrstnwork opened #217 "Hash in filename is changed if htmlWebpackPlugin is used at plugin:91"
**Do you want to request a feature, report a bug or ask a question?**

**What is the current behavior?**

**What is the expected behavior?**

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
- htmlWebpackplugin with svg-sprite-loader extract mode
-  module-rule:
`{
        test: /\.svg$/,

[2017-11-24 09:34] jamescrstnwork commented on #217
- SVG file is generated with hashcode, but in html-webpack-plugin phase 'html-webpack-plugin-before-html-processing', it recreates hash with different value with different filename, then in line 91 of plugin get value of undefined filename

`
                     app.icons.a6db05.svg    70.2 kB          [emitted]         app.icons.a6db05
                               index.html    1.41 kB

[2017-11-24 16:41] folmert opened #218 "How to automatically inject extracted svg file?"
**Do you want to request a feature, report a bug or ask a question?**
Question.

**What is the current behavior?**
I've extracted the svg sprites into separate file and it works, but I still have to manually inject it, and to make it worse, on production, development and [Storybook](https://github.com/storybooks/storybook) it has to be done on 3 different ways. I'm currently using [svg-sprite-inje

[2017-11-25 08:28] kisenka commented on #218
Why not use default way to work with sprite via JS?

[2017-11-25 12:07] folmert commented on #218
What's the default way? Can you elaborate? :)

[2017-11-25 12:12] kisenka commented on #218
I mean import SVGs in JS so they will be automatically injected in DOM.

[2017-11-27 09:13] folmert commented on #218
You mean with `require('icons.svg)`? Or non-extract svg-sprite-loader?
The first returns "module not found" and the latter works but won't cache the svg, will it?

[2017-11-27 10:31] kisenka commented on #218
You should specify relative path to image, eg `require('./icon.svg')`

It's cached as other resources.

[2017-11-27 10:41] folmert commented on #218
Regarding my main problem - I see now the svg is injected into iframe of the Storybook and still doesn't show icons, so it must be a problem within Storybook.

But what do you mean by "cached as other resources"? In dev tools I don't see it in any cache when I'm not using `extract: true` option. If it's not extracted to any file how can it be cached?

[2017-11-27 10:47] kisenka commented on #218
You can create git repo with your setup to demonstrate a problem and I'll help you.

In default mode sprite and it's symbols are part of your JS code, so browser will cache them like other resources.

[2017-11-27 12:24] folmert commented on #218
Thank you!

It's here: https://github.com/folmert/storybook/tree/master/app/vue

Steps to reproduce:

1. cd app/vue
2. npm install
3. npm run storybook
4. UiButton doesn't have icon displayed:
[code]
#shadow-root normally has svg contents, but now it says "closed"

[2017-11-27 15:27] folmert commented on #218
It works now, my button component template had a missing colon (:) before icon href, so the property value was in fact the variable name (iconLeft) instead value behind this variable (#envelope).

[2017-11-28 11:31] NeXTs commented on #53
Hello @kisenka

Please take a look how this SVG renders in FF without sprite and then with sprite using svg-sprite-loader (v3.4.1)

[code]

that's how it looks for me in
Chrome (v62 on Mac) (even using svg-sprite-loader)
or in FF without using svg-sprite-loader
![image](https://user-images.githubusercontent.com/1753208/33317223-393ec002-d43f-11e7-9872-ca829bf8e6d0.png)
and in FF using svg-sprite-l

[2017-11-28 15:36] Dinfyru opened #219 "Generated not valid objects"
Node: 9.2
webpack: 3.8.1
svg-sprite-loader: 3.4.1
OS: Linux 100dfcbb1e31 4.4.0-101-generic #124-Ubuntu SMP Fri Nov 10 18:29:59 UTC 2017 x86_64 GNU/Linux

[code]
error in
[code]
![image](https://user-images.githubusercontent.com/10163112/33328998-2b02cf90-d464-11e7-80e5-f9942355e1fb.png)

[2017-11-28 15:54] Dinfyru commented on #219
webpack.config.js
[code]

[2017-11-28 16:43] kisenka commented on #219
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2017-11-28 17:22] Dinfyru commented on #219
if setup in generate-export.js this
[code]
works fine...

[2017-11-28 17:23] Dinfyru commented on #219
i change `export default` to `module.exports`;

[2017-11-28 18:08] Dinfyru commented on #219
Repo: https://github.com/Dinfyru/svg-sprite-error

[2017-11-28 20:28] kisenka commented on #219
Just add `esModule: false` to svg-sprite-loader config.

[2017-11-28 20:28] #219 closed

[2017-11-29 08:38] Dinfyru commented on #219
But my version of webpack >3, then this solution is not right.

[2017-11-29 08:54] kisenka commented on #219
It will affect only code generated by loader. BTW most webpack loaders generate `module.exports` under the hood, so it's have no sense

[2017-11-29 08:55] Dinfyru commented on #219
Ok, thanks. Close it.

[2017-11-29 14:36] omRm opened #220 "Load svg's in SSR via webpack"
**Do you want to request a feature, report a bug or ask a question?**
Question

**What is the current behavior?**
Loading all SVGs in SSR means i have to have direct access to the .html file,
which i dont as we use handlebars to insert our app.

**What is the expected behavior?**
Can i extract all icons and insert them into the html via webpack?

[2017-11-29 15:11] kisenka commented on #220
I need a demo of your project.

[2017-12-01 12:00] 3lvcz opened #221 "plainSprite extract mode emits incorrect id/url of symbols to the webpack chunk"
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
When using extract mode with `plainSprite: true` option, symbol id in resulting sprite is equals to original file name, but values of `id` and `url` properties in emitted webpack chunk is composed like this: `{filename}-usage`.

**What is the expected behavior?**
Id and url in emitted javas

[2017-12-04 20:31] ophite opened #222 "Don't work in Firefox"
All work in chrome, but do not work in firefox and safari.
`
      {
          test: /\.(svg)$/i,
          loader: 'svg-sprite-loader',
          options: {
            extract: true,
            spriteFilename: 'theme-sprite.svg',
          },
        }
`
Icon use via css https://monosnap.com/file/BVf4cJjnjD2nQDMFINCl8c3IaZYwBS
If open sprite fragment in firefox (copy link address) in separate t

[2017-12-08 12:08] #213 closed

[2017-12-08 12:40] sqal opened #224 "3.5.0 installation fails"
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
I cannot install the last version of svg-sprite-loader

Logs:

[code]

**Please tell us about your environment:**

- Node.js version: 8.5.0
- NPM version: 5.5.1
- webpack version: 3.10.0
- svg-sprite-loader version: 3.5.0
- OS type & version:  Windows 10 x64

[2017-12-08 12:43] kisenka commented on #224
@sqal just published `svg-sprite-loader@3.5.1` with fix.

[2017-12-08 12:43] #224 closed

[2017-12-08 12:45] sqal commented on #224
@kisenka It works now, thanks for the quick fix! :)

[2017-12-08 12:49] cho-is commented on #224
blazing fast, kudos for it

[2017-12-08 12:50] kisenka commented on #224
@sqal quick report - quick fix! :)

[2017-12-08 18:33] GrzegorzZajac000 opened #225 "SVG Sprite not working in CSS - [object Object]"
**Do you want to request a feature, report a bug or ask a question?**
Report a bug

**What is the current behavior?**
SCSS input:
`background: url('../../static/images/svg-sprites/caret-down.svg') no-repeat;`
CSS output:
`background: url(http://localhost:3000/[object Object]) no-repeat;`

**What is the expected behavior?**
SCSS input:
`background: url('../../static/images/svg-sprites/caret-down.sv

[2017-12-08 18:35] kisenka commented on #225
please provide package.json with listed dependencies and example code which produce wrong output

[2017-12-08 18:37] GrzegorzZajac000 commented on #225
package.json: https://gist.github.com/GrzegorzZajac000/aff95175d95afe96df66d6500e112baa

Example CSS code which produce wrong code: https://gist.github.com/GrzegorzZajac000/615cb3cbae2fa40a1bbb5d27605887c5

[2017-12-08 18:56] kisenka commented on #225
And where is webpack/dev.config.babel.js?

[2017-12-08 19:07] GrzegorzZajac000 commented on #225
I added it to previous post: https://gist.github.com/GrzegorzZajac000/adb2a4888d1e64756a68e690460111b2

[2017-12-11 08:23] GrzegorzZajac000 commented on #225
@kisenka Any info about that bug?

[2017-12-11 20:59] thomasaull commented on #197
I'm having the same problem, without any other tools. I want an exported svg form Sketch to have a specific Id, but SVG-Sprite-Loader overwrites the ID with filename_id, which basically breaks my workflow. Any solution to this?

[2017-12-12 10:08] kisenka commented on #197
@thomasaull why you need this? You refer to sprite symbols manually?

[2017-12-12 10:13] kisenka commented on #225
Also base.config.babel.js is missed. Please create ready-to-use repo where I can just install dependencies and see described behaviour. I don't have time to collect demos from pieces.

[2017-12-12 10:16] kisenka commented on #222
Please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2017-12-12 10:21] thomasaull commented on #197
No, I wanted to overwrite fills or strokes based on an ID – but I was making a mistake, since it's in the shadow dom I can't really access it anyway :)

[2017-12-12 10:22] kisenka commented on #197
Yep, but you can fill and stroke elements without these attributes.

[2017-12-12 10:25] thomasaull commented on #197
I know, but I have to edit the svgs manually. When I export it again, I have to do the changes again, which is cumbersome and error-prone…

[2017-12-12 10:28] kisenka commented on #197
But you can drop fill and stroke in Sketch source once (if we are talking about icons of course).

[2017-12-12 10:30] thomasaull commented on #197
Yes we're talking about icons. Thing is, when I define this in sketch im bound to a specific color. What I want to do is basically this:
[code]
For line icons

[2017-12-12 12:38] constverum commented on #67
One more way:

[code]

Webpack config:
[code]

[2017-12-12 12:51] #203 closed

[2017-12-12 12:55] kisenka commented on #203
@sqal fixed in svg-sprite-loader@3.5.2

[2017-12-12 14:55] sqal opened #227 "Add id attr to the svg node in extract mode"
**Do you want to request a feature, report a bug or ask a question?**
Tiny feature request

**What is the current behavior?**
When using extract mode with plainSprite enabled ([official example](https://github.com/kisenka/svg-sprite-loader/blob/master/examples/interop-with-html-webpack-plugin/build/index.html)) loader generates svg without `id` attribute, unlike runtime mode where it adds  `__SVG_

[2017-12-12 15:09] spookyUnknownUser commented on #166
I would also really like this feature, in the mean time you can kind of naively use regex to remove the hash with [webpack-assets-manifest](https://github.com/webdeveric/webpack-assets-manifest)

Because it has a customize option it let's you search emitted files, from the documentation:

[code]

[2017-12-12 15:12] vitortalaia commented on #225
Hi @kisenka!

I'm having the same problem of getting `[object Object]` as the output, I'm trying to use the loader in a Vue.js project, so it could be a problem with other loaders (who knows ¯\_(ツ)_/¯). Here is a way for you to reproduce the problem: https://github.com/vitortalaia/sprite-svg-test. You can simply `npm run dev` to see what is happening.

Thanks!

[2017-12-12 17:46] kisenka commented on #225
@vitortalaia in your case it can be fixed by setting `esModule: false` in loader config:

[code]

[2017-12-12 18:18] vitortalaia commented on #225
@kisenka It worked like a charm, I didn't really understand why though :laughing:

Thanks!!! :heart:

[2017-12-12 18:32] kisenka opened #228 "esModule should be false by default"
Because of Vuejs loaders (https://github.com/kisenka/svg-sprite-loader/issues/125#issuecomment-302879497, https://github.com/kisenka/svg-sprite-loader/issues/225#issuecomment-351080158) and style-loader (#127)

[2017-12-12 18:34] kisenka commented on #225
@vitortalaia if shoutrly - Vue.js loaders evaluate result in their own sandbox, and as Node.js can't handle ES exports yet we should use old commonjs export syntax, esModule=false does the trick.

[2017-12-12 23:21] GrzegorzZajac000 commented on #225
`esModule: false` works also in my case ;)

[2017-12-12 23:47] #225 closed

[2017-12-13 08:44] kisenka commented on #220
@omRm ping

[2017-12-13 08:45] kisenka commented on #206
@sentience still actual?

[2017-12-13 08:52] kisenka commented on #192
Closing this one, there is a bug described by @MaxMilton, please follow #221

[2017-12-13 08:52] #192 closed

[2017-12-13 08:56] kisenka commented on #188
@awhitty ping

[2017-12-13 08:58] kisenka commented on #183
@meowtec still actual?

[2017-12-13 09:01] #175 closed

[2017-12-13 15:02] kisenka commented on #197
This will not work decause of shadow DOM. But you can always inline SVGs directly.

[2017-12-13 16:53] MaxMilton commented on #192
Sorry, I didn't get back about this. It is important to me but I've been on holidays for the last few weeks.

I'll put together a reproducable case for this ASAP and post a link to it in the new issue.

[2017-12-13 16:56] kisenka commented on #192
No needs for demo case, I know where is a bug, just need some time to fix it. Subscribe to #221.

[2017-12-13 16:58] MaxMilton commented on #192
Amazing, thank you very much. P.S. love the project, I use it on almost every client project now :heart:

[2017-12-13 16:59] kisenka commented on #192
I making this work for such words!

[2017-12-13 17:07] kisenka commented on #227
Agreed with you, but I want to implement total user setup over generating output in next 4.x version. This is not critical, so I add it to roadmap.

[2017-12-19 08:23] airtonix commented on #166
just needs to provide a configurable chunkname in the loader options.

[2017-12-19 10:52] kisenka commented on #166
@spookyUnknownUser could you please make a PR? :)

[2017-12-19 15:45] anrn commented on #149
Is it possible to use more than one rule? I try to use this loader with webpacker 3 (it's ruby on rails gem) and you cannot really manage all rules and change settings easily in that case.

[2017-12-19 15:48] anrn commented on #149
Is it possible to use more than one rule? I try to use this loader with webpacker 3 (it's ruby on rails gem), in that case you cannot really manage all rules and change prepared settings.

[2017-12-19 15:49] kisenka commented on #149
@anrn this warning broke your compilation somehow?

[2017-12-19 16:18] anrn commented on #149
@kisenka Yes, after warning I have an error:
`Module build failed: InvalidSvg: svg-sprite-loader exception.`
Other default loader didn't change anything in svg file, it just modified name with adding hash

[2017-12-19 16:48] kisenka commented on #149
Dropped this silly warning in `svg-sprite-loader@3.5.3`, please update!

[2017-12-19 19:23] spookyUnknownUser commented on #166
Yeah I'll take a look 😄

[2017-12-19 19:55] #221 closed

[2017-12-19 19:56] kisenka commented on #221
@3lvcz sorry for delay, fixed in `svg-sprite-loader@3.5.4`

[2017-12-19 20:02] kisenka commented on #217
@jamescrstnwork could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2017-12-22 14:32] hidalianmao opened #229 "Why <head>is inserted under <svg> , not <symbol>"

[2017-12-22 14:39] kisenka commented on #229
I don't understand your question

[2017-12-22 15:36] jpzwarte opened #230 "Add ability to specify sprite attributes in extract mode"
**Do you want to request a feature, report a bug or ask a question?**
Feature request

**What is the current behavior?**
It outputs the <svg> element with icon definitions without inline styles. This causes the element to be visible on the page until the CSS has loaded (which hides the element).

**What is the expected behavior?**
Add inline style to <svg> element so it is always invisible.

**If

[2017-12-22 15:37] jpzwarte commented on #230
Perhaps you can point me in the right direction?

[2017-12-22 15:46] kisenka commented on #230
@jpzwarte how you use extracted sprite? Download it via AJAX?

[2017-12-22 17:05] jpzwarte commented on #230
Sorry, i guess i wasn't clear. I'm using html-webpack-plugin with the ```extract: true``` and ```plainSprite: true```

[2017-12-22 18:13] #230 closed

[2017-12-22 18:14] kisenka commented on #230
Shipped in `svg-sprite-loader@3.6.0`, it produces `syle="position: absolute; width: 0; height: 0` in plain sprite mode (see https://github.com/kisenka/svg-sprite-loader/issues/63#issuecomment-254225478, #70)

[2017-12-22 18:45] jpzwarte commented on #230
Thanks! Guess i'll have to wait for it to appear on npm :)

[2017-12-22 18:53] kisenka commented on #230
It's already there!

[2017-12-22 19:26] jpzwarte commented on #230
Not yet with yarn :( Dunno why; perhaps its mirrored?

[2017-12-23 07:20] jpzwarte commented on #230
Still not updated, weird: https://yarnpkg.com/en/package/svg-sprite-loader

[2017-12-23 08:30] kisenka commented on #230
https://www.npmjs.com/package/svg-sprite-loader

[2017-12-23 08:31] jpzwarte commented on #230
Yeah, yarn just listed the latest version. Just wanted to say how much i appreciate your work on this loader!

[2017-12-23 08:37] kisenka commented on #230
Thank you for kind words, I love my users! :)

[2017-12-25 13:09] VladShcherbin opened #232 "Why are position/width/height styles needed when plainSprite is used"
Hey,

I'm using the loader to extract `sprite.svg` file with `plainSprite` option. I'm referencing svg files later like this one:

[code]

The generated sprite file starts with `<svg style="position: absolute; width: 0; height: 0" ...`. Why do I need this styles when I'm using external file. Am I missing something?

[2017-12-25 13:17] #232 closed

[2017-12-25 13:17] kisenka commented on #232
Hola! Thanks for reporting, it's a bug, fixed in 3.6.1

[2017-12-25 13:20] VladShcherbin commented on #232
@kisenka holy crap, this was blazing fast. Thank you for such a great loader! ❤️

[2017-12-25 18:20] jamescrstnwork commented on #217
@kisenka repository created at [https://github.com/jamescrstnwork/svg-hash-issue](svg-hash-bug-repo).

- run `npm run build`.
- to test it, make changes at `webpack.config.prod.js` without `app.icons.[hash:6].svg` and with.

[2017-12-26 18:23] kisenka commented on #217
@jamescrstnwork thanks for the repo, I'm working on it

[2017-12-27 13:27] #217 closed

[2017-12-27 13:28] kisenka commented on #217
@jamescrstnwork fixed in `svg-sprite-loader@3.6.2`, please update.

[2017-12-28 06:22] jamescrstnwork commented on #217
@kisenka thanks, tested with prod and dev mode. Fully worked.

[2017-12-28 12:19] kisenka commented on #217
Thank you for reporting, your repo helps me a lot to investigate this bug.

[2018-01-02 11:05] gregorvoinov opened #233 "No spritesheet generated with nuxt.js"
HI,

I have a problem to get your svg-sprite-loader run with nuxt.js

my environment is:
svg-sprite-loader@3.6.2
webpack@3.10.0
npm@5.6.0
node@8.9.0

in the nuxt.config.js I added the rule

    extend (config, ctx) {
        config.module.rules.push({
            test: /\.svg$/,
            loader: 'svg-sprite-loader',
        })

        config.module.rules.push({
            test: /\.(png|jpg|gi

[2018-01-02 12:49] kisenka commented on #233
You should decide which loader should process SVGs - url-loader or svg-sprite-loader, because now webpack uses both.

[2018-01-02 14:19] gregorvoinov commented on #233
i have already tried it with the "hack" from https://github.com/nuxt/nuxt.js/issues/1584 or do you mean something other?

i also removed from "test: /\.(png|jpg|gif|svg)$/,"  the svg "test: /\.(png|jpg|gif)$/,"

[2018-01-02 15:11] kisenka commented on #233
I need a demo then, because have no idea what nuxt.js is :)
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-01-02 16:33] gregorvoinov commented on #233
Thank you for your help ;)
I created a repo
https://github.com/gregorvoinov/svg-sprite-loader

[2018-01-04 02:13] 719media opened #234 "it appears that keyframes are stripped"
[code]

produces js output without @keyframes

[2018-01-04 02:17] 719media commented on #234
apologies, it looks like it is a concern for the svgo-loader

[2018-01-04 02:17] #234 closed

[2018-01-04 02:56] binarykitchen opened #235 "Random SVGs are undefined upon first compilation"
This is a funny bug. Upon first webpack compilation a code line like this among many similar ones

`import broomSvg from 'broom.svg'`

gives me undefined, nothing.

But when I make a change and webpack recompiles, then the above works and that missing SVG can be seen. Using the latest version v3.6.2 here with all the latest webpack packages.

DOM is loaded and the SVG symbols exist in the HTML whi

[2018-01-04 08:33] kisenka commented on #235
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-01-04 22:23] binarykitchen commented on #235
okay, it took me hours to reduce our monster app to a minimalistic repo:
https://github.com/binarykitchen/random-svg-issues

it has some weird code there and could look better but that's not important. how to reproduce:
1. git clone it
2. install deps with yarn
3. run `yarn watch` and open http://localhost:3000 in the browser
4. keep an eye for errors in the dev console

if you don't see any error

[2018-01-09 11:39] kisenka commented on #233
@gregorvoinov I don't see hack you mentioned above in nuxt.config.js, the SVG is still processing via url-loader:
![image](https://user-images.githubusercontent.com/2714771/34719131-91e1258e-f54a-11e7-8f8c-8d8466f9bc24.png)

Following is worked for me:
[code]

![image](https://user-images.githubusercontent.com/2714771/34719197-da047d98-f54a-11e7-83c0-260baacbc940.png)

[2018-01-09 11:39] #233 closed

[2018-01-09 11:40] kisenka commented on #124
Using with nuxt.js (#233, https://github.com/nuxt/nuxt.js/issues/1584)

[2018-01-09 11:57] kisenka commented on #235
Have no idea how this expression works `import restoreSvg from 'restore.svg'`, where restore.svg is located? If I use `import restoreSvg from '../vectors/restore.svg'` all works fine. Just use relative path in imports and God will bless you!

[2018-01-09 11:58] #235 closed

[2018-01-09 11:59] #229 closed

[2018-01-09 12:01] kisenka commented on #227
@sqal BTW it was implemented in 3.6.0, see https://github.com/kisenka/svg-sprite-loader#sprite-attributes :)

[2018-01-09 12:01] #227 closed

[2018-01-09 12:04] kisenka commented on #222
@ophite ping, I need a working demo to fix error

[2018-01-09 12:05] kisenka commented on #220
@omRm ping

[2018-01-09 12:14] kisenka commented on #218
@folmert sorry for dig delay, but I am having following error with your demo:

[code]

[2018-01-09 20:51] binarykitchen commented on #235
@kisenka huh, i already have added the path `src/vectors` to the webpack modules
https://github.com/binarykitchen/random-svg-issues/blob/master/env/dev/webpack/config.js#L57

it should work

[2018-01-09 21:02] kisenka commented on #235
Honestly I have no idea how to investigate this and I think it's webpack's HMR issue

[2018-01-11 21:25] gregorvoinov commented on #233
thanks works perfect 👍

[2018-01-12 16:20] JamesJefferyUK opened #236 "Error in parsing SVG: Non-whitespace before first tag."
I'm getting the following error:

[code]

The `triangle.svg` file is:

[code]

I've ran the following command to test if it's an `svgo` issue but that runs fine, which suggests that maybe its an issue with this library?

[code]

Node: 8.9.0
Webpack: 3.10.0

[2018-01-14 11:35] kisenka commented on #236
It means that svg-sprite-loader should applies __after__ svgo-loader

[2018-01-14 13:15] #236 closed

[2018-01-16 11:00] Alcadur opened #237 "How to fix svg-sprite-loader exception?"
How to fix: `svg-sprite-loader exception. Some loaders will be applied after svg-sprite-loader in extract mode`

[2018-01-16 18:35] omRm commented on #220
sorry for the delayed response. i had a look at the SSR example and understand it now.
can be closed

[2018-01-16 18:35] #220 closed

[2018-01-17 09:01] kisenka commented on #237
Review your webpack config and check that svg-sprite-loader is the latest applied loader to SVGs.

[2018-01-24 15:16] katiasmet commented on #149
@kisenka sorry for the late reply. But i managed to make it work :)

[2018-01-25 10:31] katiasmet commented on #212
Hi @kisenka ,

This seems a very interesting topic. Thanks for all the answers! I'm still new to Webpack and I can't achieve the same result as above.

This is my original config, which works. Now i'm trying to add the automatic svg to it.
An example of my variable 'configSettings.css.input': `./src/_scss/main.scss`

*Original*
[code]
So now i'm trying to do the same as you guys, but this gives se

[2018-01-26 20:42] #149 closed

[2018-01-27 16:08] wmertens commented on #183
@kisenka I used @meowtec's code to make a very simple symbol loader that works without changes with SSR, check it out at https://gist.github.com/wmertens/37c63d8a7088b2bfa3af298fe49a6c98

[2018-02-01 15:45] jburghardt commented on #123
why does the id of the icons differ in the mode ?

should it not generate the same id ?

#icon in runtime mode.
#sprite.svg#icon in extract mode.

having the sprite-loader add the -usage string to every id is very confusing

[2018-02-01 16:24] jburghardt opened #239 "'-usage' String in extracted mode but not in generated sprite.svg"
**Do you want to request a feature, report a bug or ask a question?**

Querstion

**What is the current behavior?**

currently the id's of svgs will be appended with "-usage" when the loader is in extract mode,
but the spritefile that is generated does not contain the same id's.

**What is the expected behavior?**

dont append -usage ?
or rather give us the option to set the id in extract mode

[2018-02-04 08:01] leighkendell opened #240 "Optional inline styles on root SVG element"
Currently when using the runtime configuration a few inline styles are added to the root SVG element to hide it. Is it possible to turn this behaviour off so I can hide the element through CSS instead? I'm implementing a strict CSP where inline styles are forbidden so they're being stripped out by some browsers.

[2018-02-04 10:52] kisenka commented on #240
https://github.com/kisenka/svg-sprite-loader#sprite-attributes

[2018-02-05 08:29] jesperlandberg commented on #185
Is there a chance someone could show me a full implementation/solution to this? How the config looks and how the icon is imported into the components because I can't seem to get this working. Would be extremely grateful.

[2018-02-05 14:47] kisenka commented on #183
@wmertens great stuff! But why not just use inline SVGs?

[2018-02-06 10:50] unwrittenmike commented on #185
@jesperlandberg I'll post a link to some code for you a bit later today. I have it running smoothly in 2 nuxt.js apps ;)

[2018-02-06 10:51] jesperlandberg commented on #185
@unwrittenmike would be awesome=)

[2018-02-06 19:42] unwrittenmike commented on #185
@jesperlandberg Here you go:
[https://unwrittenmike@bitbucket.org/unwrittenmike/spriteloadertest.git](url)

[2018-02-06 19:42] unwrittenmike commented on #185
@jesperlandberg Happy to answer any questions you may have...

[2018-02-06 23:56] wmertens commented on #183
@kisenka because that causes more memory use vs. `<use/>` statements… or do you mean putting the `<symbol/>` inline? That is hard, because if an element is removed, another instance of the symbol needs to be created elsewhere.

[2018-02-07 03:04] chess126 commented on #149
@vercoelenmike
thx.. i found myself forget to add 'exclude'.. lol
`      {
        test: /\.svg$/,
        loader: 'svg-sprite-loader',
        include: [resolve('src/icons')],  //
        options: {
          symbolId: 'icon-[name]',
        }
      },
      {
        test: /\.(png|jpe?g|gif|svg)(\?.*)?$/,
        loader: 'url-loader',
        exclude: [resolve('src/icons')],  // folders other th

[2018-02-07 03:10] chess126 commented on #149
@vercoelenmike
thx.. i found myself forget to add 'exclude'.. lol

      {
        test: /\.svg$/,
        loader: 'svg-sprite-loader',
        include: [resolve('src/icons')],  //
        options: {
          symbolId: 'icon-[name]',
        }
      },
      {
        test: /\.(png|jpe?g|gif|svg)(\?.*)?$/,
        loader: 'url-loader',
        exclude: [resolve('src/icons')],  // folders other th

[2018-02-07 06:20] jesperlandberg commented on #185
@unwrittenmike awesome! Looks like the repo doesnt exist tho?

[2018-02-07 06:35] unwrittenmike commented on #185
@jesperlandberg try this, sorry new to sharing repos...  not the hottest git guy haha... [https://bitbucket.org/unwrittenmike/spriteloadertest](url)

[2018-02-08 09:45] kisenka commented on #183
Do you have any tests/statistics about it? I can't find any research about it

[2018-02-08 11:32] wmertens commented on #183
if you inline the same svg 50 times because it's a bullet point, I doubt the browser will be de-duplicating it, so it will use more resources. Same with sending the HTML, gzip catches a lot of the duplication, but not everything, and it's not free either.

[2018-02-08 12:45] kisenka commented on #183
Yes, but before saying about performance it will be good to have tests which compares inline vs refering via `<use>`

[2018-02-08 13:09] wmertens commented on #183
I only have the one semi-test where I had a page that was a huge
initial download until I replaced all the inlined SVG icons with
<use>. I never measured memory usage or cpu time, but I cannot imagine
it will be worse with <use>.

[2018-02-08 19:47] jesperlandberg commented on #185
@unwrittenmike thanks a lot! However, the icons doesn't seem to show up. Tested on my project and also cloning ur repo and running dev mode.

![icons](https://user-images.githubusercontent.com/3479734/35994616-42693ea4-0d11-11e8-9c87-091b48115507.jpg)

[2018-02-13 00:32] SwamyKottur opened #242 "Need support for AngularJS SSR for SVG Sprite Loader in TypeScript"
**Feature**

**Current behavior**
[code]
When Server Side Rendered, I don't see the sprite information inject into the index.html

**What is the expected behavior?**
`Need to inject the extractable sprite on to the rendered page on the server side. so when such page is requested on browser can show all the svg painted at the same time as other text content`
Using webpack for server side as well wi

[2018-02-14 10:04] diff-dennis opened #243 "Server-side rendering doesn't output sprites on the first request after starting the server"
The first time I open a server rendered page, `require('svg-sprite-loader/runtime/sprite.build')` doesn't contain the individual SVG sprites (the `symbols` array is empty) but only the container (`.stringify()` outputs `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position: absolute; width: 0; height: 0" id="__SVG_SPRITE_NODE__"></svg>`)

If I reload th

[2018-02-14 13:49] diff-dennis opened #244 "Can the symbolId option be a function?"
Is it possible to set the `symbolId` option with more options?

Let's say I have several SVG files in a folder with sub-folders:
[code]

The second `one.svg` would be ignored because of the same name if I use the option
[code]

I know there is a `[folder]` and `[path]` interpolation string available, but I want my symbols named something like:

[code]

Is this currently possible?

[2018-02-14 17:52] algil opened #245 "How to generate a svg sprite with electron-vue template"
**Do you want to request a feature, report a bug or ask a question?**
question

I'm using the electron-vue (https://github.com/SimulatedGREG/electron-vue) in my project. In src/renderer/assets/icons folder I've got svg icon files, and I want to generate a svg sprite in order to use from Vue component as follow, but nothing is shown:

[code]

I've created a minimal repo for this demo: https://githu

[2018-02-17 21:26] thasmo opened #246 "`svg-sprite-loader` seems to handle loader conditions incorrectly"
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
Using a function on an `include` condition throws an error `Module build failed: TypeError: test.test is not a function`.

**What is the expected behavior?**
`svg-sprite-loader` should handle `include` and `exclude` conditions of type `function` correctly.

**Please tell us about your envir

[2018-02-17 21:35] thasmo commented on #246
My rules look like this:
[code]

[2018-02-20 01:15] binarykitchen commented on #235
This issue is still bugging me and studying webpack's HMR does't make me believe it's their problem. What makes you think so @kisenka ?

[2018-02-21 21:20] denisw opened #248 "Not compatible with Wepack 4"
This plugin doesn't seem to work with Webpack 4.0.0-beta.2 at the moment. I get the following error:

[code]

This might be caused by one of the breaking changes for plugin authors described here:

https://github.com/webpack/webpack/releases/tag/v4.0.0-beta.0

[2018-02-22 18:52] GrzegorzZajac000 commented on #186
I have the same error, but only in heroku. Locally works everything.
Node 8.6.0
I've tested svg-sprite-loader 3.2.1, 3.5.2, 3.6.2

[2018-02-26 08:16] a526672351 commented on #65
Thanx ,use path.resolve instead of path.join , can be solved

[2018-02-26 15:32] Hypnosphi commented on #248
@kisenka See official migration guide for loader developers https://medium.com/webpack/webpack-4-migration-guide-for-plugins-loaders-20a79b927202

[2018-02-27 13:30] Chris2011 commented on #248
Have the same problem, just voted for it. Only want to know, is there a workaround for this? Except from downgrade Webpack :D

[2018-02-27 14:44] rynclark commented on #248
Started work in #247. @phun-ky has continued this on in #249.

Hopefully will land soon.

[2018-03-05 11:26] khanharis87 commented on #225
Have the same Issue,` esModule:false` is not working with me, it throws a `Typeerror` that cannot read viewBox property of the svg!
 Adding `extract:true `(with the plugin) does not show the SVGS with their symbols in html(inspect elements)

[2018-03-11 04:19] 719media opened #251 "minor deprecation warning"
in the latest 3.7.0 build:

https://github.com/kisenka/svg-sprite-loader/blob/master/lib/plugin.js#L188
`let { modules } = chunk;`

This line causes deprecation warning in webpack 3+

Since the default case is to do this anyway, perhaps just a `let modules;` declaration is sufficient.

Thx

[2018-03-11 20:36] krivaten commented on #185
@jesperlandberg any chance you could make a gist or something? Both the BitBucket links were busted :(

[2018-03-12 15:21] #248 closed

[2018-03-12 21:47] donacellos opened #253 "Invalid CSS after "<":"
My Webpack configuration:
[code]

In main app.jsx file I use
[code]

and get error
[code]

I think that svg-sprite-loader did not 'catch' svg files. And I do not know why.

- Node.js version: 9.8.0
- webpack version: 4.1.1
- svg-sprite-loader version: 3.7.1
- OS type & version: macOS 10.13.13

[2018-03-12 21:55] #253 closed

[2018-03-14 20:45] davorpeic opened #254 "[How to] Remove fill from SVG icon"
I was breaking my head for a while, so here is how you can remove fill attribute from path so you can style it with css.

[code]

[2018-03-14 20:45] #254 closed

[2018-03-19 06:14] salmanm commented on #172
@kisenka Looks like there's [one more place](https://github.com/kisenka/svg-sprite-loader/blob/master/lib/plugin.js#L188) we need to fix this issue.

[2018-03-19 06:38] zhengkai2001 opened #257 "How to migrate to webpack 4? (help wanted)"
I'm quite new to webpack and everything about nodejs but need to migrate a project written with webpack 1 and svg-sprite-loader 0.1.2 to the latest version of them (webpack 4 and svg-sprite-loader 3.7.1).

In the original project, the webpack config was:
[code]
Then in the .vue files we could use the svgs like `<btn icon="menu"></btn>`.

But how to transform it to meet the latest version of both s

[2018-03-19 06:53] salmanm commented on #172
Accessing `modules` property throws a warning from [here](https://github.com/webpack/webpack/blob/webpack-3/lib/Chunk.js#L469).
It anyway already defaults to `({ modules } = chunk);`, so the declaration can just be `let modules;`.

WDYT?

[2018-03-19 07:14] IvanRodriCalleja opened #258 "Loader doesn´t set the spriteFileName in version 3.7.0"
**Do you want to request a feature, report a bug or ask a question?**
Bug
**What is the current behavior?**
When i configure the loader with property 'spriteFilename', allways is the default file name .

My loader configuration is:
[code]

**What is the expected behavior?**

I expect the output file hase the name 'my-custom-name.svg' but always is 'sprite.svg'

**Please tell us about your environm

[2018-03-19 08:42] #251 closed

[2018-03-19 09:10] kisenka commented on #244
@diff-dennis this is not currently possible, but you can make a PR. You need to check config.symbolId option type [here](https://github.com/kisenka/svg-sprite-loader/blob/431c2d6b27bb201a7b3d9d1ab5f68970f12b75e1/lib/loader.js#L71) and if it's a function - call it.

[2018-03-19 09:15] kisenka commented on #258
This is strange, because corresponding tests [are passed successfully](https://travis-ci.org/kisenka/svg-sprite-loader/builds/351705029#L887). I need a demo repo where this option doesn't work for you.

[2018-03-19 09:16] kisenka commented on #257
Could you please create repo with minimal setup to demonstrate your setup (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-03-19 09:18] #240 closed

[2018-03-19 09:30] Alcadur commented on #237
Yes, You can close it

pon., 19.03.2018, 10:19 użytkownik Stas Kurilov <notifications@github.com>
napisał:

[2018-03-19 10:11] IvanRodriCalleja commented on #258
I have reproduced this issue in repo: https://github.com/IvanRodriCalleja/svg-sprite-loader-issues-258

I was looking repo for posible solutions but i dont know exactly how this plugin works. X(

[2018-03-19 10:33] #237 closed

[2018-03-19 16:53] zhengkai2001 commented on #257
@kisenka Thanks for the response!
If you may help, I've setup a repo: https://github.com/zhengkai2001/svg-sprite-loader-help

A little explanation:
I want to use "menu.svg" and "remove.svg" (the are located in "node_modules\tb-icons\lib\svgs") in my customized element Btn and Icon.'
When I inspected them in the browser, they have the correct <svg>, <use>, etc. So I guess the problem is my inabilit

[2018-03-19 16:55] zhengkai2001 commented on #257
As said I'm quite new to webpack and all the stuff. So if there is a better to do it (use the svg's in the Btn and Icon elements) I'll be happy to learn!
Thank you for your help!!

[2018-03-22 09:37] kisenka commented on #258
@IvanRodriCalleja `spriteFileName` should be `spriteFilename` [here](https://github.com/IvanRodriCalleja/svg-sprite-loader-issues-258/blob/master/webpack.config.js#L31). I should add config validation to prevent such errors.

[2018-03-22 09:37] #258 closed

[2018-03-22 09:39] kisenka opened #259 "Add JSON schema based config validation"

[2018-03-22 09:43] kisenka commented on #258
#259

[2018-03-22 09:43] IvanRodriCalleja commented on #258
@kisenka thanks for the aclaration, i didn´t see this error. 😬

[2018-03-22 13:51] fnlctrl commented on #194
Any plans to document about this? I only found out about this awesome feature after digging into the source...

[2018-03-22 16:41] zhengkai2001 commented on #257
Thank you so much for looking into this!
Now I realize the problem is probably that I'm using Windows 10 ... I just ran it on my friend's macbook and it was successful just like what you showed.
Do you have any idea about how to make it work on Windows? Or where could the root cause be? Or is there a way to debug (like, showing the internal process step by step in console)?
Thanks again for your k

[2018-03-22 16:53] kisenka commented on #257
I still don't understand what problem is. Are there any errors during the build or what?

[2018-03-22 17:14] zhengkai2001 commented on #257
Sorry I forgot to mention the problem ...
![screenshot](https://user-images.githubusercontent.com/6929247/37786325-670bb29e-2dca-11e8-98b2-20dcb06306c4.png)
The problem was: The svg's simply didn't display. The build was successful. Also, there was no error in browser's console.

[2018-03-22 17:17] zhengkai2001 commented on #257
![screenshot 2](https://user-images.githubusercontent.com/6929247/37786511-e4696100-2dca-11e8-90c4-fbdb1f1e2f7f.png)
The elements

[2018-03-22 17:19] kisenka commented on #257
This happens in all browsers?

[2018-03-22 17:22] kisenka commented on #194
@jpzwarte no, sorry. But PR is always welcome!

[2018-03-22 17:26] zhengkai2001 commented on #257
I tried Firefox and Chrome, same result.

[2018-03-22 17:30] kisenka commented on #257
Try to check this demo on other Windows machine. If error appears I'll find way to debug it on Windows.

[2018-03-22 17:30] kisenka commented on #243
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-03-22 17:31] kisenka commented on #239
Relates to #123

[2018-03-22 18:30] zhengkai2001 commented on #257
Actually I have two Windows laptops (both of them are 64-bit Windows 10 though) ... I ran it on both and got same result.
If you could help resolve this that would be great! Thank you!!

[2018-03-22 18:32] kisenka commented on #257
OK, I will check it

[2018-03-23 09:51] raj-pel opened #260 "Module parse failed: unexpected token error"
I am facing
[code]

issue in my local dev Could you please tell me how to resolve

`  },
      {
        test: /\.(svg)$/i,
        exclude: /node_modules/,
        include: /client\/assets\//,
        use:     [
            {
                loader:  'svg-sprite-loader',
                options: {
                    extract:        true,
                    spriteFilename: 'icons.svg'

[2018-03-23 11:24] kisenka commented on #260
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-03-24 17:13] storageddd opened #261 "Usage use tag with link to sprite problems"
Im using bootstrap-vue webpack standard environment.  And have problems embed use tag with link to sprite file. Sprite file was created in build mode, but use tag link path not changed to right (include filepath/filename);

Webpack code:
`{
        test: /\.(svg)$/,
        loader: 'svg-sprite-loader',
        include: resolve('src/assets/svg'),
        options: {
          extract: true,

[2018-03-26 11:18] kisenka commented on #261
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-03-27 02:00] eschao opened #262 "Module parse failed: Unexpected token (1:0)"
**Do you want to request a feature, report a bug or ask a question?**
I think it is a bug or something else

**What is the current behavior?**
Just simply configured it in webpack and loaded given sprite file but failed when start vuejs project by npm

**What is the expected behavior?**
load sprite successfully and can be used in vue file

**If the current behavior is a bug, please provide the ste

[2018-03-27 02:01] eschao commented on #262
Here is my sprite svg file:
[fa-brands.svg.zip](https://github.com/kisenka/svg-sprite-loader/files/1850116/fa-brands.svg.zip)

[2018-03-27 09:45] kuiperr005 opened #263 "InvalidSvg svg-sprite-loader exception"
**Do you want to request a feature, report a bug or ask a question?**
Report a bug

**What is the current behavior?**
I'm getting the following error:
[code]

**What is the expected behavior?**
To resolve as a valid svg module

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
[code]
**Plea

[2018-03-27 09:49] kisenka commented on #263
It's not a bug, `data:image/svg+xml;base64,PHN2ZyBpZD0iTG` is not a valid SVG. Looks like you process SVG via url-loader first, just don't do that.

[2018-03-27 09:49] #263 closed

[2018-03-27 10:00] kisenka commented on #262
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-03-28 01:04] ottoborden opened #264 "Extract Mode in Webpack 4"
I'd like to use `svg-sprite-loader` with Webpack 4 in extract mode. The gist below contains my `webpack.config.js` and how I'm trying to use the files. The issues I'm running into is that `extract-text-webpack-plugin` is not compatible with Webpack 4 and there are no intentions to fix this. Instead I've had to switch over to using `mini-css-extract-plugin`. Has anyone else tried this plugin and ha

[2018-03-28 11:30] matan-modai opened #265 "Inject existing svg sprite file"
**Do you want to request a feature, report a bug or ask a question?**
question

I have an existing svg sprite file (as opposed to many svg files) and I would like to inject it into my index.html. Meaning I want to skip the svg bundling part and only do the injecting.
For some reason I don't find a good explanation to this online.
Is it possible to do this with this loader? If not, how can I achiev

[2018-03-28 19:13] moltar opened #266 "Question: Style tag gets stripped out"
**Do you want to request a feature, report a bug or ask a question?**
Question

**What is the current behavior?**
`<style>` tag gets stripped out.

**What is the expected behavior?**
Leave `<style>` tag intact.

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
Not sure if a bug yet.

**The

[2018-03-28 19:49] storageddd commented on #261
@kisenka Here is code snippets https://gist.github.com/storageddd/cab0d1735bccf465bc116a37988bc57f

[2018-03-29 22:31] silicakes opened #267 "SVG loader returns a string instead of a symbol object when loading from storybook"
### versions:

[code]

### webpack configuration

[code]

When importing a sprite:

`import * as education from "../src/assets/svg/education.svg";
`

instead of getting a symbol object as depicted [here](https://github.com/kisenka/svg-sprite-loader#runtime-configuration), I'm getting a url in the form of:

`/static/media/education.3a3782a8.svg
`

I can't seem to find the reason causing it.
Thanks

[2018-03-29 23:32] kisenka commented on #267
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-03-30 10:11] dormadekhin-denis commented on #264
@ottoborden, In the parameters, you need to add ` esModule: false`

[2018-03-30 13:14] silicakes commented on #267
@kisenka I've failed to reproduce it on a new repo as the issue was directly connected to [storybook](https://github.com/storybooks/storybook).

For future references, storybook uses [file-loader](https://github.com/webpack-contrib/file-loader) to load most of its assets - including svg:

#### /node_modules/@storybook/react/dist/server/config/defaults/webpack.config.js

[code]

my workaround was t

[2018-03-31 03:08] ottoborden commented on #264
@dormadekhin-denis Thanks! Don't know how I missed that, must have been too late at night.

[2018-03-31 03:08] #264 closed

[2018-04-03 18:21] freezy opened #268 "Disable runtime configuration completely?"
**Do you want to request a feature, report a bug or ask a question?**
Ask a question

**What is the current behavior?**
SVGs get extracted and injected into my template, but there is ~30kb of additional code in my bundle:
![image](https://user-images.githubusercontent.com/70426/38267185-fb69a112-377a-11e8-9baa-45abc8cdd7bc.png)

**What is the expected behavior?**
I don't import any icons in code,

[2018-04-03 19:39] kisenka commented on #268
You're right, extract runtime is not optimal, because it contains symbol id, viewBox etc. As quick workaround you can write own runtime generator which returns only path to symbol:

**extract-runtime-generator.js**
[code]

And setup it in loader config:

[code]

[2018-04-03 21:46] joserobleda commented on #264
@dormadekhin-denis in case you don't know, note that `extract-text-webpack-plugin` is already working for Webpack 4, just install the "next" version (I think they say it is unstable for now, but works great for me)

[2018-04-04 11:36] tibineagu commented on #261
@kisenka I am running into a similar problem, but I'm not even trying to use a separate entry for all the sprites.

Simply using `extract: true` in the `svg-sprite-loader` options breaks the behaviour.

My code looks like this and works without the `extract: true` option:
[code]

All vue templates go through vue-loader and it looks just like in [@storageddd 's gist](https://gist.github.com/storage

[2018-04-04 13:04] thomasaull commented on #176
@kisenka I spend some hours trying to figure out what's wrong… turn's out the Uglify Plugin interferes in some way that the `__SPRITE_URL__` replacement does not work anymore. You can find a test repo over here: https://github.com/thomasaull/svg-sprite-loader_testrepo

if you remove the UglifyJS Plugin at the bottom of the webpack.conifg and run `npm run dev` it's working. With UglifyJS it's not…

[2018-04-12 15:07] chiefraccoon commented on #262
Have the same issue, but need some time to distinguish minimal setup to reproduce the issue from my pretty huge project.

[2018-04-12 16:19] chiefraccoon commented on #262
I don't know yet, how it is related but the issue is reproducing only if i run task within Webstorm npm scripts runner module. In case if i manually launch exactly the same command (npm task) directly from console, it builds successfully!

[2018-04-15 02:26] moltar opened #269 "Lazy-loading the SVG sprite"
**Do you want to request a feature, report a bug or ask a question?**

Question

**What is the current behavior?**

SVG is bundled.

**What is the expected behavior?**

How would I go about lazy-loading the SVG sprite, rather than bundling it?

Thanks.

[2018-04-16 05:49] kisenka commented on #269
Which kind of sprite do you have? In JS or external?

[2018-04-16 05:51] kisenka commented on #262
@eschao you're using precompiled SVG sprite, it's not possible with this loader.

[2018-04-16 05:55] kisenka commented on #176
@thomasaull sorry for the delay, I'll check your demo ASAP

[2018-04-16 14:15] moltar commented on #269
I am loading the entire dir of SVGs this way:

[code]

[2018-04-16 20:51] kisenka commented on #269
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-04-18 07:13] #267 closed

[2018-04-18 10:39] silicakes opened #270 "Loading multiple sprites from multiple libraries"
Following https://github.com/kisenka/svg-sprite-loader/issues/136 , I have  the following use case:

* MyProject - contains the normal svg/sprite config which works great
* A 3rd party library also containing a SVG sprite.

the question is, how do I combine the two?

I've tried the solution previously suggested in the aformentioned discussion, however that one only works for svg files, rather than

[2018-04-18 11:47] silicakes commented on #270
I have a temp workaround for the dev env, should you using webpacks devserver:

[code]

Adding the above to devServer's config should take care of it.
As for production - it's pretty much the same, just with your actual server.

[2018-04-19 10:54] srosca opened #271 "Sprite doesn't get loaded"
**Do you want to request a feature, report a bug or ask a question?**
Question

**What is the current behavior?**
Svg is doesn't get  imported when `extract: true`

**What is the expected behavior?**
Svg gets imported.

**The best way is to create repo with minimal setup to demonstrate a problem (package.json, webpack config and your code).**
https://gist.github.com/srosca/80932a82e55e90c8409c6a6d

[2018-04-23 13:37] BrRenat opened #272 "Random icons missing from sprite."
**It is a question.**

**Current behaviour** Sometimes random icons missing from sprite.

**Expected behaviour** Always all icons includes in sprite.

Maybe you know about this issue and easily can help us. If you have not encountered this problem before i can add more description.

https://gist.github.com/BrRenat/3decec5e6ce42ca4db4e01c3db147d9c

- Node.js version: 9.11.1
- webpack version: 4.5.0

[2018-04-24 13:40] rhinonan opened #273 "SVG is not injected into the page with webpack4"
**Do you want to request a feature, report a bug or ask a question?**
BUG
**What is the current behavior?**
SVG is not injected into the page with webpack 4, and console is clear.
**What is the expected behavior?**
SVG is injected into the page
**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code

[2018-04-24 15:25] BrRenat commented on #272
@kisenka Sure! I will add more description and demo.

[2018-04-24 15:27] kisenka commented on #272
It's better to create separate git repo which I can clone, run and see the problem.

[2018-04-25 01:32] rhinonan commented on #273
I have already solved it. This is a problem with my environment.Port 8080 is already in use, but nodejs don't give me any warning . Sorry bro.

[2018-04-29 23:21] antonVl opened #274 "It's possible to remove '-usage' affix on each svg filea?"
**Do you want to request a feature, report a bug or ask a question?**
Ask
**What is the current behavior?**
loader add -usage affix to each svg
**What is the expected behavior?**
Try to remove affix

[2018-04-29 23:25] #274 closed

[2018-04-30 20:20] nicomartin92 opened #275 "Sprite svg not working with vuejs"
I am trying to install svg-sprite-loader on my projet. But it seems it does'nt work , no svg sprite is generated. Maybe I configure the solution in the wrong way.
Could you please help me.
This is a gist url of my file:
https://gist.github.com/nicomartin92/a828b7e3c70be80cfa03295c78d1c478

- Node.js version: v8.9.4
- webpack version: ^3.11.0"
- svg-sprite-loader version: ^3.7.3
- OS type & version

[2018-04-30 22:55] jasongerbes opened #276 "Allow custom spriteNodeId"
**Do you want to request a feature, report a bug or ask a question?**
Request a feature.

**If this is a feature request, what is motivation or use case for changing the behavior?**
I would like to provide a custom `spriteNodeId` instead of using the hard-coded `__SVG_SPRITE_NODE__`.

[2018-05-01 10:33] kisenka commented on #276
You can use custom sprite implementation via [spriteModule](https://github.com/kisenka/svg-sprite-loader#spritemodule-autoconfigured) config option.

[2018-05-01 10:34] kisenka commented on #275
You're process svg files twice: by [url-loader](https://gist.github.com/nicomartin92/a828b7e3c70be80cfa03295c78d1c478#file-webpack-base-conf-js-L54) and by [svg-sprite-loader](https://gist.github.com/nicomartin92/a828b7e3c70be80cfa03295c78d1c478#file-webpack-base-conf-js-L78). Also set esModule: false in svg-sprite-loader option

[2018-05-01 10:34] #275 closed

[2018-05-01 10:35] kisenka commented on #271
@srosca I need a whole package.json and build script to reproduce a problem

[2018-05-01 10:37] kisenka commented on #270
@silicakes if you have already built sprite from 3rd party lib - process it via file-loader, not svg-sprite-loader

[2018-05-01 10:41] kisenka commented on #268
@freezy does my solution fit you needs?

[2018-05-01 10:54] kisenka commented on #266
Your svg works for me. Maybe you use svgo-loader which strips style tags?

[2018-05-01 10:54] freezy commented on #268
Yes, sorry for not getting back to you earlier. I've tried your suggestion, and while the produced script is now smaller (18k minified), it's still there:

<img src="https://user-images.githubusercontent.com/70426/39470566-b9bf5e1c-4d3e-11e8-854b-dca976134a16.png" width="400">

[2018-05-01 10:55] kisenka commented on #265
This loader is for building sprite from single SVG images. It is not possible to use existing sprite with this loader

[2018-05-01 10:55] #265 closed

[2018-05-01 10:55] #262 closed

[2018-05-01 10:58] kisenka commented on #268
And what about production mode?

[2018-05-01 10:59] kisenka commented on #261
Guys, I need a standalone demo, where I can reproduce a problem by running `npm start` or `npm run build`

[2018-05-01 11:00] kisenka commented on #260
@raj-pel ping

[2018-05-01 11:00] freezy commented on #268
It's already production mode (Wepack config `{ mode: "production" }` if that's what you're referring to).

[2018-05-01 11:01] kisenka commented on #246
@thasmo could you please make a PR?

[2018-05-01 11:01] nicomartin92 commented on #275
Ok thank you very much for your quick feedback.

[2018-05-01 11:02] kisenka commented on #243
@diff-dennis ping

[2018-05-01 11:03] kisenka commented on #242
@SwamyKottur ping

[2018-05-01 11:03] #222 closed

[2018-05-01 11:33] freezy commented on #268
I've pushed your proposition to the repo mentioned in the description if you want to reproduce.

[2018-05-01 12:53] #270 closed

[2018-05-03 00:49] jasongerbes commented on #276
Thanks :)

[2018-05-03 00:49] #276 closed

[2018-05-03 00:53] jasongerbes opened #277 "Wrap <symbol>s in a <def>"
**Do you want to request a feature, report a bug or ask a question?**
Request a feature

**If this is a feature request, what is motivation or use case for changing the behavior?**
The `<symbol>`s should be wrapped in a `<def>`, for example:

[code]

[2018-05-03 07:00] storageddd commented on #261
@kisenka, here is my demo repo with problem https://github.com/storageddd/svg-sprite-loader

[2018-05-03 09:40] kisenka commented on #277
There is no `<def>` tag in SVG. If you mean `<defs>` generated sprite already contains it.

[2018-05-03 09:40] #277 closed

[2018-05-08 06:25] BorodinDK commented on #147
I ran into the same problem on IE11
* Node.js version: `7.9.0`
* Webpack: `3.10.0`
* svg-sprite-loader version: `3.6.2`
* OS type & version: `Windows 7`

[2018-05-09 22:41] aLkRicha opened #278 "Getting sprite with optimized svgs"
**Do you want to request a feature, report a bug or ask a question?**
ask

**What is the current behavior?**
seems like svgo loader doesn't work

**What is the expected behavior?**
expects to use svgo optimization on output sprite

[gist](https://gist.github.com/aLkRicha/97059771972791d88cc262bab3e85650)

**Please tell us about your environment:**

- Node.js version: v9.11.1
- webpack version: web

[2018-05-15 02:52] imnot2 opened #279 "I can't set the spriteFilename in version 3.7.3"
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
When i configure spriteFilename option, output always is default name(sprite.svg)

**What is the expected behavior?**
I want control output file name by spriteFilename option

**Please tell us about your environment:**
- Node.js version: ?
v8.4.0
- webpack version: ?
^4.8.1
- svg-sprite-loa

[2018-05-15 12:00] pkarev commented on #237
I spent a whole bunch of time in order to fix this warning (i'm using symfony webpack encore).

The reason was that webpack encore has it's default file loader for all kind of image assets and it applies it always the last.

My solution is to add in your webpack config next code:

1.Disable default image loader in order to avoid svg-sprite-loader exception:
`.disableImagesLoader()`

2.And then ena

[2018-05-15 14:45] diff-dennis commented on #243
I prepared a repository here:

https://github.com/diff-dennis/svg-loader-test

After `npm i` you can start the project with `npm run dev`. The project should be available at `http://localhost:4040`

[2018-05-15 18:12] kisenka commented on #279
@rguanghui thanks, you are right.

[2018-05-15 18:12] #279 closed

[2018-05-16 01:44] imnot2 commented on #279
I must provide these two rules for two different file formats (jsx & less),
mergeing svg background-image in less, i use svg-sprite-loader;
using svg as a react component, i use svgr;

Anyway!  after change the order of these rules, it's work !
https://github.com/imnot2/svg-sprite-loader--279/commit/993da7fe9adc30cb72f65102309fe7eddb65dc6c#diff-86b76ea5eaea59291e53ab7d5343950b

[2018-05-16 02:48] rguanghui commented on #279
you can do like this

[code]

[2018-05-16 03:45] imnot2 commented on #279
The same svg may be used on svg-sprite-loader and svgr

[2018-05-17 20:36] dsbudiac opened #281 "Resource query string is inaccessible for modification in symbolId"
## Do you want to request a feature, report a bug or ask a question?
bug

## What is the current behavior?

`symbolRegExp` does not include query string / `resourceQuery` to match. Thus, the query string is always appended to the symbol id and there's no way to remove from the output symbol id (that I can tell).

**entry.js**
[code]

**webpack config svg-sprite-loader rule**

[code]

**sprite.svg*

[2018-05-21 11:06] thomasaull commented on #176
Any news @kisenka?

[2018-05-22 11:17] evilebottnawi commented on #271
@kisenka Repo: https://github.com/CPatchane/test-webpack4-svg
Ref: https://github.com/webpack-contrib/mini-css-extract-plugin/issues/103

[2018-05-22 16:50] ManvendraSK opened #282 "Wrong order of braces generation"
**Do you want to request a feature, report a bug or ask a question?**
Question

**What is the current behavior?**
Not producing correct braces order.
**What is the expected behavior?**
Should produce correct braces order.

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
I have same code b

[2018-05-22 21:28] kisenka commented on #282
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-05-25 04:26] Yanzengyong opened #283 "Why I can't change ‘fill’ value the use tag"
First, I'm using the vue cli tool，My configuration is as follows：

webpack.base.conf.js

[code]
demo.vue
[code]
I can see icons on the page，but can't change style (e.g.  fill) even on the Elements.

Please tell me the solution，please

[2018-05-26 04:58] wmertens commented on #283
Put the class on the svg, not the use.

[2018-05-26 05:37] Yanzengyong commented on #283
@wmertens  I tried, but it couldn't work, and even on the page Elements as couldn't work

[2018-05-26 07:02] wmertens commented on #283
Make sure your svg image doesn't have fill specified

[2018-05-26 13:02] kisenka commented on #281
Unfortunately loader-utils#interpolate doesn't support query string interpolation, so I add ability to use `symbolId` as function which accepts 2 arguments - image path and image query, so you can do something like this:

[code]

[2018-05-26 13:02] #281 closed

[2018-05-26 13:04] kisenka commented on #283
Sorry, it's not a svg-sprite-loader issue, closing this.

[2018-05-26 13:04] #283 closed

[2018-05-26 13:05] kisenka commented on #278
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-05-28 10:09] rguanghui commented on #271
the same error with me

[code]

[2018-05-28 11:09] kisenka commented on #271
Could someone make a PR?

[2018-05-28 20:46] aLkRicha commented on #278
I'll close it because I figured out the situation

[2018-05-28 20:46] #278 closed

[2018-05-28 20:50] aLkRicha opened #284 "How to get raw svgs?"
**Question**

**What is the current behavior?**
SVG images come into build path in "export" format
**What is the expected behavior?**
SVG's in raw format included svgo's optimization

So question is how could i change webpack options, to get svgs in raw optimized format?

[2018-05-28 21:02] kisenka commented on #284
I don't understand your question, could you provide an example what you get and what you expect.

[2018-05-29 08:55] aLkRicha commented on #284
@kisenka of course.
One of images used in sprite generation:
[code]
after sprite generating, i'm getting in build directory svg image in js export format:
[code]
but im expecting to get in result optimized image:
[code]

[2018-05-29 13:30] kisenka commented on #284
Do you read the docs about [extract mode](https://github.com/kisenka/svg-sprite-loader#extract)?

[2018-05-29 13:50] aLkRicha commented on #284
if i set `extract: false,` i've got:
[code]

[2018-05-30 08:28] kisenka commented on #284
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-05-30 08:47] aLkRicha commented on #284
@kisenka try this one https://github.com/aLkRicha/svg-sprite-loader_issue

[2018-05-30 11:13] phun-ky commented on #147
We have experienced this issue for over a year now..

"svg-sprite-loader": "^3.7.1",
"webpack": "^4.5.0",

[2018-05-30 11:31] gswirrl opened #285 "Can you extract AND inline the same svg?"
Is is possible *both* to extract svg to a file *AND* inject the same svg into a server-side rendered page?

Im using a setup similar to https://github.com/kisenka/svg-sprite-loader/tree/master/examples/server-side-rendering. This works fine without extract enabled.

Enabling extract mode successfully generates the sprite file, but now an empty sprite is output into the html:

[code]

Very grateful

[2018-05-31 12:32] kisenka commented on #285
If you're rendering sprite at server why do you need it as separate file? Extract sprite to a file needed by frontend code only.

[2018-05-31 15:28] gswirrl commented on #285
Some of the html in my app is generated at compile time, but some of it is generated on the fly. I need to bake the svg sprite into the static pages, but also re-use (inline) the same svg in the dynamic pages (which use a completely different stack).

Thanks for your help, and for the great loader.

[2018-05-31 21:18] kricha commented on #284
@kisenka ping

[2018-06-01 08:57] rchesnokov commented on #282
Same problem, but i've got it in slightly diffrent place:
[code]
It brakes js on the page.

[2018-06-04 09:05] rchesnokov commented on #166
@kisenka could you please take a look at the PR? It's been up for a while.
This problem doesn't allow me to setup correct sprite versioning on my project. :(

[2018-06-05 16:06] codingwithchris commented on #166
Hey, @spookyUnknownUser! I appreciate you jumping on here and offering some support!

I ended up removing the fix from my Webpack config temporarily in hopes the PR would be looked at. (Here's a link)[https://github.com/CreativeFuse/aa.cf.core/blob/feature/advanced-asset-handling/themes/fuse/webpack.config.js] to my current config (in progress...so don't judge too harshly ;) ). The Manifest plugin

[2018-06-07 12:27] Alex-Sokolov opened #286 "Problem with extracting SVG's"
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
Files not extracted
<img width="308" alt="2018-06-07 14 55 08" src="https://user-images.githubusercontent.com/4497128/41098062-cfe57f8c-6a62-11e8-980c-c9f049fa5dc2.png">

**What is the expected behavior?**
Files extracted to sprite file & returned as link, not module

**If the current behav

[2018-06-07 12:34] spookyUnknownUser commented on #166
np @codingwithchris. So I checked your code your code sample and I think the problem is that your svg is saving as [sprite.svg](https://github.com/CreativeFuse/aa.cf.core/blob/feature/advanced-asset-handling/themes/fuse/webpack.config.js#L119). I don't know if you've tried naming it `sprite.min.[hash:6].svg`. Because with that name this manifest config should work:

[code]
It doesn't have to be `s

[2018-06-08 17:59] makhnatkin opened #287 "Not rerender when you change the background to svg-sprite (and can't create two sprites)"
Sorry for my not good English...

**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
I use the SVG sprite in the CSS property background. When classname in a component React change I change background image in the CSS. Due to the fact that the sprite changes the image using the # symbol, redrawing in Chrome does not occur

**Description**
I

[2018-06-09 08:01] makhnatkin commented on #287
@kisenka could you help me?

[2018-06-13 11:08] kisenka commented on #147
@phun-ky could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-06-20 11:14] kisenka commented on #287
I need a fully reproducible demo

[2018-06-21 09:48] kisenka commented on #286
@Alex-Sokolov sorry for delay and thanks for detailed report, but it will be more efficient if you create repo with package.json, webpack.config.js and minimal source files where I can reproduce a problem.

[2018-06-21 10:31] kisenka commented on #285
Unfortunately this is not possible in webpack, because you need to process the same file in different ways: in NodeJS env use isomorphic sprite; in browser env - use extracted sprite. To archive it you'll need to import the same SVGs in different ways, e.g.:

[code]

and webpack config:

[code]

But, to be honest, it should be done via different loaders. Currently I am developing separate webpack

[2018-06-21 12:51] kisenka commented on #284
Don't use file-loader after svg-sprite-loader

[2018-06-21 18:32] gswirrl commented on #285
Wow - ha - the double import idea is a genius hack! :-)

But you're definitely right too that multiple loaders is best. I'm about to give extract-svg-sprite-webpack-plugin a g - thank you for the advance notice.

Very grateful for your work. Thank you so much. Have a great day.

[2018-06-21 18:32] #285 closed

[2018-06-26 08:38] 0pt1m1z3r opened #288 "Icons with masks are displayed as if without masks"
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
Icons with masks are displayed as if without masks
![2018-06-26 11 26 51](https://user-images.githubusercontent.com/4936833/41899209-8dd5d9bc-7934-11e8-8f71-fcd9e7b149d4.png)

**What is the expected behavior?**
Masks must be applied correctly

**If the current behavior is a bug, please prov

[2018-06-27 14:24] porfirioribeiro commented on #288
Was about to report the same problem with filters and gradients.

I guess it's because how svg links those def's using `#links`
Dunno if there is a way to generate the sprite in a way to make the links correct :disappointed:

[2018-06-29 08:45] SemperPeritus opened #289 "React. SVG in JSX does not display, but in SASS does."
**Do you want to request a feature, report a bug or ask a question?**
Ask a question.

**What is the current behavior?**
Svg icon used in sass file displayed, but icon used in tsx (jsx) file doesn't.

**What is the expected behavior?**
Icon should displayed in tsx file too. Why it doesn't?

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config w

[2018-06-30 18:51] remoe opened #290 "Don't find svg-sprite-loader/runtime/symbol.build file in the npm package"
Bug?

**What is the current behavior?**

One can't find svg-sprite-loader/runtime/symbol.build

**What is the expected behavior?**

svg-sprite-loader/runtime/symbol.build should exists?
It's documented in readme.md

- Node.js version: 8.11.3
- webpack version: 3.10.0
- svg-sprite-loader version:  3.9.0
- OS type & version: windows / WSL

[2018-07-16 11:55] Krasnopir opened #292 "Use the critical icons on the page"
Is it possible to not add unused icons from the whole SPA to the sprite?
Add icon to the sprite when componentDidMount, and remove it from the sprite when componentWillUnmount

[2018-07-16 12:05] Krasnopir opened #293 "Is it possible to compare icons inner XML"
Sometimes in different components one and the same icon is called differently, and gets to the sprite on the fact twice, or more.

And sometimes different icons with the same name are called in different components, and the last component call icon is replaced in sprite.

It would be nice to compare them XML and rename them in case of the same code, or apply v1 v2 to the end of icon id in sprite i

[2018-07-16 18:22] eglaost opened #294 "Webpack 4 / MiniCssExtractPlugin issue"
Is this a bug?

In production mode html markup works fine but css file prints -> background: url(path/from/disk/to/file/mysvg.svg).

It supposed to print: "sprite-467f4d.svg#mysvgid".

In dev mode where i don't use MiniCssExtractPlugin the console log prints the correct url.

Git: https://github.com/eglaost/webpack-boilerplate

- Node.js version: 8.11.1
- webpack version: 4.15.1
- svg-sprite-loade

[2018-07-16 19:22] kisenka commented on #290
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-07-16 19:38] kisenka commented on #292
It is not possible yet.

[2018-07-16 19:38] kisenka commented on #293
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-07-17 06:23] Krasnopir commented on #292
The idea came after using https://github.com/kriasoft/isomorphic-style-loader.
16+ React with contexts and components life cycle methods help in this problem.
When componentDidMount context with all initialized icons passed to the parent component that takes the context and processes the results in the desired way.
It will be 'isomorphic-svg-sprite-loader' )
Also еo accept the context, you can wri

[2018-07-17 17:39] remoe commented on #290
I don't think this is needed. It's documented on your readme:

[code]
But this file is not there. It has only this:

[code]

[2018-07-18 08:41] Krasnopir commented on #293
Hi! I created repo https://github.com/Krasnopir/isomorphic-style-provider
with simple configuration. There you can try how working isomorphic-style-loader and svg-sprite-loader.
Different icons in components have the same name and gets into the sprite once.

[2018-07-18 09:05] Krasnopir commented on #293
At least console  warning or error in case of a match of names and different XML of icons

[2018-07-18 09:10] Krasnopir commented on #292
https://github.com/Krasnopir/isomorphic-style-provider
There are demonstration of working isomorphic-styles-loader and svg-sprite-loader

[2018-07-22 16:13] martinkadlec0 commented on #271
Also stumbled upon this, we replaced extract-text-webpack-plugin with mini-css-extract-plugin and now the svg urls in our css files don't get replaced by the sprite :(

[2018-07-23 07:34] martinkadlec0 opened #295 "Wbepack build [hash] substitution is not resolved in public path"
**Do you want to request a feature, report a bug or ask a question?**
Bug/Feature ?

**What is the current behavior?**
When I set publicPath to `app/[hash]` it is resolved to `app/[hash]`.

**What is the expected behavior?**
When I set publicPath to `app/[hash]` it is resolved to `app/buildhash`.

**Please tell us about your environment:**

- Node.js version: Node 10.4
- webpack version: 4.12
- sv

[2018-07-23 08:55] kisenka commented on #295
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-07-23 19:47] martinkadlec0 commented on #295
@kisenka added link to repo

[2018-07-24 14:44] verydanny opened #296 "Bug 🐛: spriteFilename messes up webpack manifest key/value generation"
When you change the spriteFilename like so:

[code]
It comes out like so in the manifest:

[code]

instead of (what I think it should be):

[code]

Am I messing up the configuration or something?

[code]

Thanks!

[2018-07-24 17:48] kisenka commented on #296
@verydanny yep, it's known issue and it's not possible to be compatible with manifest-plugin in current implementation (see #166).

[2018-07-24 17:48] #296 closed

[2018-07-24 18:13] kisenka commented on #295
@martinkadlec0 I suggest not to use `[hash]` interpolation in `publicPath` loader config option, because it's not safe to replace this token in whole CSS. I remove publicPath param from loader config and it's worked:

[code]

[2018-07-24 18:21] martinkadlec0 commented on #295
@kisenka no, notice that the public path for the sprite is different to the webpack public path.

I actually need this to set publicPath of sprite to my instead of cdn domain.

[2018-07-24 18:31] kisenka commented on #295
You talking about hash of compilation, right?

[2018-07-24 18:33] martinkadlec0 commented on #295
Yes

[2018-07-25 09:23] kisenka commented on #293
@Krasnopir you can use [symbolId](https://github.com/kisenka/svg-sprite-loader#symbolid-string--functionpath-query-default-name) option to avoid such cases.

[2018-07-29 06:26] sultan99 opened #297 "ExtractPluginMissingException"
I'm trying to use **svg-sprite-loader** in extract mode but I get the error:
[code]

**Webpack**
[code]
As soon as I remove `options: {extract: true}` from rules, it works but I get svg list in my html.
However I want svg list out of my html file.

**Usage**
[code]

**Enviroment**
- Node.js version: 10.4.0
- webpack version: 3.10.0
- svg-sprite-loader version: 3.8.0
- OS type & version: windows 10

[2018-07-31 08:09] notgiorgi commented on #194
Hi @kisenka, I followed this example:

But `sprites` object is empty while rendering html. Any pointers on what can cause that?

[2018-07-31 14:46] Krasnopir commented on #293
sorry. forgot about [hash]
symbolId : 'kisenka-[name]-[hash:base64:5]'

[2018-07-31 14:46] #293 closed

[2018-08-02 14:42] 0pt1m1z3r commented on #288
@kisenka can you help?

[2018-08-03 13:24] wanecek commented on #271
I'm seeing the same error as @rguanghui while attempting to upgrade our build process from Webpack 3 to 4, during which I've also switched to mini-css-extract-plugin (just like @martinkadlec0).

When the error is thrown (from `get-loader-options.js:26`), the following values are assigned to the variables:

[code]

`rules.map(normalizeRule)` evalutes to `[{ loader: 'file-loader', options: null }]`,

[2018-08-04 13:13] kisenka commented on #297
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-08-09 05:48] In4inQ opened #298 "[object Module] error"
Hello!
![default](https://user-images.githubusercontent.com/13464697/43880181-0091020e-9bb0-11e8-8916-2adce7559fa5.png)
I see this in my css-files after processing. How to fix it?

node v10.8.0
npm v6.2.0
svg-sprite-loader v3.8.0 or any other

The project is big, I tried to pull out the right part:
https://gist.github.com/In4inQ/6e3b4533856961dae6f4785a63624525

[2018-08-10 11:47] RehanSaeed commented on #176
Also interested in how to get the URL of the icon sprite file containing the hash.

[2018-08-10 19:00] SpikeShape opened #299 "Extract SVG sprite AND inject it."
Hey,

Is there a way to let svg-sprite-loader both inject and extract the svg sprite? My goal is to have it injected in my html file and put it into an assets folder for later use.

My current loadout:
- Node.js version: 8.10.0
- webpack version: 3.12.0
- svg-sprite-loader version: 3.8.0
- OS type & version: macOS 10.13.6

[2018-08-13 18:41] psachs21 opened #300 "Style tag with multiple urls, only the last url link is processed"
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
When processing an svg with the following syntax

[code]

The following is output:

[code]

**What is the expected behavior?**

It should output:

[code]

**Please tell us about your environment:**

- Node.js version: 8.9.1
- webpack version: 4.8.3
- svg-sprite-loader version: 3.7.3
- OS ty

[2018-08-13 18:43] psachs21 commented on #300
A quick workaround - define a separate fill rule:

[code]

[2018-08-13 19:00] kisenka commented on #300
@psachs21 could you please give me a full SVG code?

[2018-08-13 19:04] psachs21 commented on #300
@kisenka the original had some copyrighted material but this example works too:

[code]

[2018-08-13 21:41] antoniodcorrea opened #301 "svg-sprite-loader dont return correct url on after compilation"
I all,

I found a weird behaviour with `svg-sprite-loader`. After many researchs I didn't found a solution, so I will leave this question here.

**Do you want to request a feature, report a bug or ask a question?**
Bug/question

**What is the current behavior?**
Just after build, `svg-sprite-loader` don't return correct url for file imported from css. For example, if we load a SVG file from css: h

[2018-08-14 08:42] kisenka commented on #301
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-08-14 08:43] kisenka commented on #299
Check this [example](https://github.com/kisenka/svg-sprite-loader/tree/master/examples/interop-with-html-webpack-plugin)

[2018-08-15 18:34] SpikeShape commented on #299
Exactly what I was looking for. I just didn't know how to put it. Thank you so much!

[2018-08-15 18:34] #299 closed

[2018-08-17 09:04] vicvinc commented on #286
meet the same problem...
my environment is:
node : v8.11.3
webpck: 4.16.4
svg-sprite-loader: 3.8.0

my webpack config:
[code]

cmd error:
[code]

[2018-08-17 09:29] 0pt1m1z3r commented on #288
@kisenka can you help?

[2018-08-17 09:32] 0pt1m1z3r opened #302 "3.9.0 not released"
https://www.npmjs.com/package/svg-sprite-loader
There is 3.8.0.
Can you release 3.9.0?

[2018-08-17 12:34] kisenka commented on #302
Looks like 3.9.0 was published with errors, I've published 3.9.1

[2018-08-17 12:34] #302 closed

[2018-08-17 13:36] kisenka commented on #288
@0pt1m1z3r BTW if refer to SVGs from CSS all works fine :)

[2018-08-22 04:12] Farhad33 commented on #243
@kisenka @diff-dennis I have the same issue. I want to be able to render SVG on both client and server but it only renders on client. And also I have target: 'node' on server. Please let me know what other changes I need to make to make it render on server as well. Thank you.

[2018-08-30 23:37] jarodtaylor opened #303 "Can't run 'yarn bootstrap' because Cannot find module 'shelljs'"
**Do you want to request a feature, report a bug or ask a question?**
Bug when trying to pull down repo to contribute.

**What is the current behavior?**
After forking the repo and pulling it down locally, when I attempt to `yarn bootstrap` I get the following:
![image](https://user-images.githubusercontent.com/362248/44884896-937df980-ac83-11e8-9cf8-aed55906fa1e.png)

**What is the expected behav

[2018-08-31 14:53] smurrayatwork opened #304 "Feature Request: Prevent Original SVG Attributes From Being Removed."
**Do you want to request a feature, report a bug or ask a question?**

**What is the current behavior?**
Currently, when the sprite is generated, it strips off any existing attributes (things like aria-hidden, role, width, height, etc) from the SVG files that are being pulled into the sprite.

**What is the expected behavior?**
It'd be nice if it were possible to prevent this somehow. If it is alr

[2018-08-31 21:43] jarodtaylor commented on #303
Okay, so I tried the following:

1. Switched to node version 6.14.4
2. Ran `npm install`
3. Then ran `npm run bootstrap`

This was the result:

![image](https://user-images.githubusercontent.com/362248/44937042-f54e6a00-ad3c-11e8-9803-94cd3af49b18.png)

[2018-09-01 14:50] jarodtaylor commented on #303
So, after inspecting the `script/bootstrap.js` it looks like the [following line](https://github.com/kisenka/svg-sprite-loader/blob/master/scripts/bootstrap.js#L24) is what's killing the script. It looks like `envToSelect.name` returns `undefined`. If I remove `name`:

[code]

It finishes.

[2018-09-03 01:43] radislaw commented on #290
Документация отличается от того, что есть в npm пакете, или устарела! Ни уя не понятно, что, куда. Постоянно требует, какие-то зависимости, о которых в документации ничего не написано

[2018-09-04 15:55] didnotwant commented on #147
Hi @kisenka — I encountered this error on Edge 41.16299.492.0 (EdgeHTML 16) and also in some newer version (but I don’t remember the version number, it had EdgeHTML 17). I use After deeper digging I ended up with a conclusion that in Edge using names existing in `window` namespace for functions is not a good idea: they cannot be replaced.
See: this is the place where you fire `dispatchEvent` funct

[2018-09-05 12:28] dkhuntrods commented on #298
Also seeing the same issue:
node v8.11.4
npm 6.4.0
svg-sprite-loader 3.9.2

My project is fairly small and simple, and seeing the same issue.

[2018-09-07 08:05] onthedesk commented on #179
i got the same exception  when i loaded png file throw sprite-loader

[2018-09-10 10:15] didnotwant commented on #147
I made a mistake in my previous comment. The case of forcing properties in Edge from `window` exists only in global scope.

So: when one tries to create e.g. `var event = <some custom property>` or `var dispatchEvent = <some custom function>` and then wants to use it (`console.log(event)` or `dispatchEvent(…)`), the native one from `window` will be used.

I’m not sure if this information may be us

[2018-09-11 13:33] vortizhe commented on #294
Same here.

[2018-09-13 07:39] vortizhe commented on #294
I try to use 3 css extractors with Webpack 4 with the same results:
- extract-css-chunks-webpack-plugin
- mini-css-extract-plugin
- extract-loader + file-loader

[2018-09-13 07:57] vortizhe commented on #294
I try to use 3 css extractors with Webpack 4 with the same results:
- extract-css-chunks-webpack-plugin
- mini-css-extract-plugin
- extract-loader + file-loader

[2018-09-17 08:42] Bosch-Eli-Black opened #305 "Republish using svg-mixer package"
Hello :)

Is there any chance of having the `svg-sprite-loader` `npm` package get updated to use the `svg-mixer` npm package instead of the `svg-baker` npm package? As far as I can tell, `svg-baker` has been replaced by `svg-mixer`.

[2018-09-18 18:49] SpikeShape opened #306 "SVG symbols are rendered incorrectly"
I am running svg-sprite-loader in extract mode. I have a single svg file with the following content:

[code]

But the symbol is rendered as follows:
[code]
Do you have an idea why that is?

[2018-09-18 19:31] SpikeShape commented on #306
Update: I just found out that svg-ibline-loader was the problem. I just quick-fixed it by excluding the directory of my sprite icons from the inine-loader. Not sure what is causing the issue but it also caused that the export file of the sprite wasn't named and placed correctly...

[2018-09-19 09:35] kisenka commented on #306
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-09-19 09:36] kisenka commented on #305
@Bosch-Eli-Black yes, I am working on moving svg-sprite-loader to svg-mixer project, but don't have enough time yet. I'am planning to finish this work in November

[2018-09-19 09:36] #305 closed

[2018-09-19 09:37] kisenka commented on #304
Could you please provide an example of your svg file?

[2018-09-19 09:46] kisenka commented on #303
@jarodtaylor sorry for delay, I've updated bootstrap script, please check

[2018-09-19 09:49] kisenka commented on #298
@in4in-dev I'am getting 404 error when trying to check your link

[2018-09-19 09:50] kisenka commented on #297
@sultan99 ping

[2018-09-19 10:00] kisenka commented on #292
@Krasnopir very interesting concept, as I understand you properly svg-sprite-loader should use `componentWillUnmount` to track which symbol should be removed from sprite or not. Do you have any ideas how it should be? Something like static field in JSX component which will count usages?

[2018-09-19 10:04] kisenka commented on #290
Docs were updated, see [symbolModule section](https://github.com/kisenka/svg-sprite-loader/#symbol-module).

[2018-09-19 10:04] #290 closed

[2018-09-19 10:05] gooduserman opened #307 "Deploying in prod with svg-sprite-loader"
I use svg-sprite-loader (last version) in a react app with extrac: true option.

The process build generates the files excactly where I want it. Similar like this: https://github.com/doug2k1/react-svg-icon

My problem is that altough in dev more, the  full svg is included by the default in the body of the app, when used in prod the svg is not there, so usting svg tags referencing each id would not

[2018-09-19 10:13] kisenka commented on #307
Not sure that I understand you problem, I've launched your demo like so `NODE_ENV=production webpack-dev-server -p` and all icons are rendered correctly.
![image](https://user-images.githubusercontent.com/2714771/45747237-d8a3a480-bc0d-11e8-960e-55aa7069bb79.png)

[2018-09-19 10:15] kisenka commented on #289
@SemperPeritus you can't import SVG files in 2 ways: only from CSS or from JS

[2018-09-19 10:16] kisenka commented on #288
@0pt1m1z3r can I close this one?

[2018-09-19 10:16] kisenka commented on #287
@makhnatkin could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-09-19 10:19] kisenka commented on #284
@kricha does my comment fixes your issue? :)

[2018-09-19 10:19] 0pt1m1z3r commented on #288
@kisenka Yes, you can. I use the solution via css.

[2018-09-19 12:32] gooduserman commented on #307
True. in dev mode it works great: it shows up in my dom. My problem is when I build for prod it and extracted as a file, there is no reference in dom about it. Do i have to put it myself?

[2018-09-19 13:04] kisenka commented on #307
I see that you use prebuilt svg sprite - [icons.svg](https://github.com/doug2k1/react-svg-icon/blob/master/src/icons.svg). This loader was made to generate sprites _dynamically_ from single SVG import (e.g. `import './img.svg'`). I don't know why it works in your case, but it shouldn't :)

[2018-09-19 14:15] smurrayatwork commented on #304
Sure!

[code]

[2018-09-19 14:35] kisenka commented on #304
Okay, I can add needed attributes to white list, could you provide them?
I understand about aria-* and role. But why you need width and height, if you already has viewBox?

[2018-09-19 14:35] kisenka commented on #304
Okay, I can add needed attributes to white list, could you provide them?
I understand about aria-* and role. But why you need width and height, if you already has viewBox?

[2018-09-19 14:39] smurrayatwork commented on #304
Agreed on the width and height.

aria-* and role should be good right now.

Thanks!

[2018-09-19 15:42] kisenka commented on #304
@smurrayatwork fixed in svg-sprite-loader@4.1.0

[2018-09-20 02:34] Bosch-Eli-Black commented on #305
Okay. Thanks, man.

[2018-09-20 03:34] vicvinc commented on #294
here I come...

@vortizhe

It should be in the file loader chain. because background images were all in file loader chain, and think about fonts, they are the same.

[2018-09-20 03:38] vicvinc commented on #294
and if I put the publicPath in SVG-sprite-loader, the SVG path which is been used become 'publicPath/path/to/SVG'.

seems that sprite file name was replaced by the mini-css-extract-plugin.

[2018-09-20 04:46] gooduserman commented on #307
I saw that, but it was also good for injecting into the dom the svg :)

[2018-09-20 10:05] vicvinc commented on #294
@kisenka

hi, it's me again.

here Is the same [repo](https://github.com/vicvinc/webpack-svg-sprites-demo), and when building with `mini-css-extract-plugin` the sprite URL was replaced with the real file path.

here is the result:
![image](https://user-images.githubusercontent.com/3063949/45811384-804ccf80-bcff-11e8-867b-9a49b18f3567.png)

hope helps.

[2018-09-21 12:44] raduflp commented on #203
this issue has resurfaced in my case after upgrading from 3.9.x to 4.1.1
my config looks something along the lines
[code]

looking at the recent webpack docs examples `{ oneOf: [ /* rules */ ] },` should be a valid rule.

@kisenka any thoughts?

[2018-09-21 13:07] kisenka commented on #203
@raduflp I need a demo

[2018-09-21 13:56] raduflp commented on #203
here's an updated version of sqal's demo https://github.com/raduflp/svg-sprite-loader-bug-repro

[2018-09-21 14:54] ryan-codingintrigue opened #308 "spriteModule path resolution"
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
`spriteModule` does not resolve if including SVG from another NPM package

**What is the expected behavior?**
`spriteModule` should resolve to the root directory as per the README

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config wit

[2018-09-21 18:53] 0pt1m1z3r opened #309 "getWebpackVersion does not work properly"
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
`svg-sprite-loader` have `webpack 4` in dependencies.
`getWebpackVersion` return version for webpack in `{project}/node_modules/svg-sprite-loader/node_modules/webpack/package.json`

**What is the expected behavior?**
`getWebpackVersion` should return version for webpack in `{project}/node_m

[2018-09-21 18:56] 0pt1m1z3r commented on #309
Проще по русски написать :)
Ошибка возникает в `get-module-chunk.js`, условие `webpackVersion.IS_4` верно, хотя у меня стоит 3 вебпак.

[2018-09-24 11:20] GrzegorzZajac000 opened #311 "TypeError: Cannot read property 'source' of undefined"
**Do you want to request a feature, report a bug or ask a question?**
Report a bug
**What is the current behavior?**
Error in webpack build
**What is the expected behavior?**
Working webpack build

**Please tell us about your environment:**

- Node.js version: v8.11.1
- webpack version: v4.19.1
- svg-sprite-loader version: v4.1.1
- OS type & version: MacOS 10.13.6

**Other information (e.g. detail

[2018-09-24 19:20] GatoPresto commented on #298
hey guys I have the same problem.

check my config file pls:
https://gist.github.com/GatoPresto/f7eea501058d10aedafc0c7ed05f92e2

[2018-09-25 10:26] ryan-codingintrigue opened #312 "Security vulnerability in svg-baker-runtime dependency"
**Do you want to request a feature, report a bug or ask a question?**
Question

Our vulnerability scanning has picked up a vulnerability in the `merge-options` package, which is a dependency of the `svg-baker-runtime` ([CVE-2018-3752](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-3752))

Is there a public GitHub repository where we can make PRs for this project? Or are there any plans to

[2018-09-26 11:44] GatoPresto commented on #298
hello @kisenka,
please check my example above when you have some time
thank you

[2018-09-26 17:35] ceojoe1 commented on #298
**I had the same issue**
I added esModule: false in the test: /\.svg$/ { } object.
View code below.

{
					test: /\.svg$/,
					use: [
						{
							loader: 'svg-sprite-loader',
							options: {
								symbolId: '[name]_[hash]',
								extract: true,
								prefixize: true,
                                                                   esModule: false
							}
						},
						{
							loa

[2018-09-26 17:36] ceojoe1 commented on #298
@GatoPresto ^^

The next issue I'm having is, the absolute path to my svgs aren't actually rendering the svgs.. Can you let me know if you're seeing the same issue with yours?

[2018-09-26 20:45] suamikim opened #313 "SVG is not available in htmlWebpackPlugin"
**Do you want to request a feature, report a bug or ask a question?**
Not sure if I'm doing anything wrong or if it's a bug...

I've built an Aurelia app with the Aurelia CLI using webpack 4 & the `svg-sprite-loader`.
I'd like to extract almost all icons to an external `sprite.svg` which is working just fine but I'd like to inline 1 icon into my `index.html` which is used as my landing page icon a

[2018-09-27 06:04] kisenka commented on #313
@suamikim hi! It would be great if you can provide me a piece of your project (I don't need it entirely) with package.json webpack config, htmlwebpackplugin template, some SVGs and JS code, which imports SVGs for external sprite.

[2018-09-27 06:09] kisenka commented on #311
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-09-27 06:11] kisenka commented on #309
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-09-27 06:12] kisenka commented on #308
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-09-27 07:05] kisenka commented on #294
Hey! I'am planning to deprecate and remove extract mode from svg-sprite-loader. To replace it I wrote separate plugin which perform SVG extracting only – [extract-svg-sprite-webpack-plugin](https://github.com/JetBrains/svg-mixer/tree/master/packages/extract-svg-sprite-webpack-plugin). Webpack 3 and 4 are supported. It's under heavy development and I suggest you to take part in beta-testing of it.

[2018-09-27 09:20] CombeeMike commented on #313
Hi @kisenka [here's the project](https://github.com/kisenka/svg-sprite-loader/files/2423386/LuMiSuite.zip) which should include everything. As already stated, it's an Aurelia project so the general structure & configuration workflow might differ a little from a vanilla webpack project but the basics should still apply.

The relevant code lies within the `client` folder. To run it, simply go in the

[2018-09-27 11:35] kisenka commented on #294
@vicvinc @vortizhe @eglaost and, of course, I need your feedback, if something going wrong with this plugin.

[2018-09-27 12:16] ryan-codingintrigue commented on #308
@kisenka Sure thing! https://github.com/ryan-codingintrigue/svg-loader-308-repro

`npm run repro` should output the following:

The issue only appears when the SVG is imported from a module, i.e.:
[code]
This works fine:
[code]

[2018-09-27 18:49] jarodtaylor commented on #303
[code]

[2018-09-28 02:50] vicvinc commented on #294
@kisenka  me, troublemaker is glad to try this. got any situation will be feedback ASAP.

[2018-09-28 07:35] wanecek commented on #271
Not that I know of. @kisenka, have you had time to address this? Is there anything we can do to help?

[2018-09-28 15:14] GatoPresto commented on #298
@ceojoe1 and @kisenka thank you for answer. I have a lot of work right now. I'll answer as soon as I can.

[2018-09-28 16:43] NorbertNader commented on #40
I know this is an old post but look at the errors you are getting:
`Object.require.extensions.(anonymous function) [as .js] (/node_modules/babel-register/lib/node.js:154:7)",`

I had this same issue and what you can do is add an extensions to node. This is actually a babel issue. Try adding:
`require.extensions['.svg'] = () => {}; `
to wherever you are requiring babel-register

you could also try

[2018-09-29 16:47] Gagydzer commented on #309
fixed..

[2018-10-01 14:54] jarodtaylor commented on #312
I have the same question because the SVG sprite generated from this isn't a11y compliant and I'd like to make it pass accessibility with a PR.

[2018-10-01 20:38] jarodtaylor opened #315 "Sprite SVG injected into the DOM needs aria-hidden=true for Accessibility"
**Do you want to request a feature, report a bug or ask a question?**

I'm having [issues running the bootstrap](https://github.com/kisenka/svg-sprite-loader/issues/303) to create my own PR, and it would probably be quicker for you to just add a hotfix  (I believe it's actually part of svg-baker-runtime) that adds the `aria-hidden=true` to the SVG markup that is injected into the DOM. This will ai

[2018-10-02 08:32] kricha commented on #284
@kisenka
Latest configuration is:
[code]

This works without any warnings, but it doesn't create sprite.svg file.

If I change extract to true, it produces a lot warnings, but creates sprite.svg file...
And single svg files contain something like this:
[code]

😞

[2018-10-04 13:18] strukove commented on #298
Hey,
We have the same problem when we setup vue cli 3 project. Check this demo please, https://github.com/strukove/svg-sprite-loader-error

[2018-10-08 07:56] xsintill opened #317 "How to generate a sprite without symbol tags and keep using svg tags"
**Do you want to request a feature, report a bug or ask a question?**
ask a question

**What is the current behavior?**
-
**What is the expected behavior?**
-
**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
-
**The best way is to create repo with minimal setup to demonstrate a problem (pa

[2018-10-08 15:11] mistic100 commented on #297
I don't know for @sultan99 but I had the problem when linking my build library (NPM module containing the Webpack configuration).

In that case the NAMESPACE constant is `/var/workspaces/application/node_modules/svg-sprite-loader/lib` and the key in the compiler context is `/var/workspaces/common/node_modules/svg-sprite-loader/lib`.

It might be caused by this configuration in my "common" module I

[2018-10-09 00:20] fruchtose opened #318 "Has this library been replaced?"
**Do you want to request a feature, report a bug or ask a question?**
Question

**What is the current behavior?**
I noticed that there is a new library named [extract-svg-sprite-webpack-plugin](https://github.com/JetBrains/svg-mixer/tree/master/packages/extract-svg-sprite-webpack-plugin). It looks a lot like this library, except it depends on `svg-mixer` instead of `svg-baker`. Is this library cur

[2018-10-09 17:42] invernizzi commented on #288
Hi there, just chiming in to help future readers of this bug.

If you need to load a sprite via a <use> tag in Firefox and you see weird behavior with <mask>s and clip paths like the one shown in the first comment, it's because of this Firefox "oddity".
https://bugzilla.mozilla.org/show_bug.cgi?id=353575

You can fix that by running something like this after loading the sprite:
[code]
This workaro

[2018-10-09 19:35] rmunch commented on #311
I'm also running into this issue. I think the error happens in the following scenario:

* Using `html-webpack-plugin`
* Option `extract` is enabled
* Option `publicPath` is set

I uploaded a demo repo at https://github.com/rmunch/svg-sprite-loader-source-bug - run `npm install`, then `npx webpack --config webpack.config.js --mode production`

Thanks!

[2018-10-11 19:55] mate2 commented on #313
Hi,
I have same issue on my app too, with almost same config (with webpack 3, latest version of html-webpack-plugin and svg-sprite-loader).

The webpack config :
[code]

And that's the output of the console.log of `HtmlWebpackPlugin` object :

[code]

There is no property `files` in it despite my different attempts to set the config.
The sprite file is correctly included in build folder, but no sv

[2018-10-15 14:58] sqal commented on #203
@kisenka I have the same issue as @raduflp after updating to the 4.1.1.  You can use his reproduction to investigate the issue.

Logs:

[code]

btw. I noticed that unit test that supposed to test this setup was deleted in the commit:

https://github.com/kisenka/svg-sprite-loader/commit/9418920038e72db1b88ab0bd24552420a8a3894d#diff-94ddd23a53d918ba243886e5b60a78afL440

[2018-10-15 15:09] sqal commented on #203
Ohh I see there's PR fixing this issue https://github.com/kisenka/svg-sprite-loader/pull/316  :D

[2018-10-16 14:52] AmineABB commented on #212
If you have chunk with hash you can remove it by doing:

[code]

[2018-10-17 07:11] kalyantm opened #319 "Able to extract svg into a file, but not injecting it into dom (tried sprite-injector too!)"
**Do you want to request a feature, report a bug or ask a question?**
ask a question
**What is the current behavior?**
extracts the svgs into an icons.svg file, but not injecting it into the DOM
**What is the expected behavior?**
extracts the svg and injects it into the dom
**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader config

[2018-10-17 14:35] timbomckay opened #320 "Generating Multiple Sprites"
**Do you want to request a feature, report a bug or ask a question?**
Ask question that's potentially a feature

**What is the current behavior?**
Extracts all svgs into one sprite file

**What is the expected behavior?**
Extracts relative svgs into their own sprite, instead of one massive sprite

**It you don't want to create a repository - create a [gist](http://gist.github.com) with multiple fi

[2018-10-18 02:49] Hypnosphi commented on #312
This is also a dependency of `svg-baker` and `posthtml-svg-mode` packages

[2018-10-18 09:30] gzaripov commented on #298
The same for webpack 4.20.2, although esModule property helps I dont think it is appropriate solution.

[2018-10-18 10:42] gzaripov opened #321 "width and height tags of images are not saved in extract mode"
Here is one of SVG files I use

[code]

And this is svg in extracted file

[code]
Expected behaviour:  `width="24" height="24"`

**Please tell us about your environment:**

- Node.js version: 10.10.0
- webpack version: 4.20.2
- svg-sprite-loader version: 4.1.2
- OS type & version: Windows 10

here is my config file:
[code]

[2018-10-19 08:10] vtereshyn opened #323 "Audit issue. Found 4 low severity vulnerabilities"
Hi!
Recently after running the `npm audit` script, I got an issue that `4 low severity vulnerabilities have been found`
The full list is below. As I understood the problem is in `merge-options` package.
So, maybe you have opportunity to fix this nasty problem. Thank you in advance!

![audit](https://user-images.githubusercontent.com/32247411/47205730-6bf80300-d38f-11e8-8640-ff51d5175cba.png)

[2018-10-20 14:35] losbeekos commented on #323
I wanted to create an issue but instead found this.

As I understand, the `svg-baker` package has been renamed to `svg-mixer`, correct me if I'm wrong. Svg-mixer also contains the merge-options package so would throw the same vulnerabilities. I've created an issue over there: https://github.com/JetBrains/svg-mixer/issues/42.

[2018-10-21 08:57] vtereshyn commented on #323
# https://github.com/JetBrains/svg-mixer/issues/42

[2018-10-22 04:59] #319 closed

[2018-10-23 07:32] vtereshyn commented on #323
#JetBrains/svg-mixer#42

[2018-10-25 14:29] angelov-a commented on #225
Using Vue CLI 3.0 with `esModule: false` as well.
JS imports work as expected but CSS don't.

[code]

Input:
`background: url('../img/icn/arrw.svg');`

Current output
`background: url(../../C:/myApp/src/img/icn/arrw.svg);`

Expected output
`background-image: url("/dist/icons-3eb580.svg#arrw-usage");`

[2018-10-25 15:01] angelov-a commented on #225
Using `esModule: false`  with Vue CLI 3:

[code]

JS imports work as expected but CSS don't. Local dev path is inserted instead of output.

**Input**
`background: url('../img/icn/arrw.svg');`

**Current output**
`background: url(../../C:/App/src/img/icn/arrw.svg);`

**Expected output**
`background: url("/dist/icons-3eb580.svg#arrw-usage");`

[2018-10-25 17:10] mihnutzen opened #324 "Unable to use SVG in styles because all paths get replaced with [object Module]"
**Do you want to request a feature, report a bug or ask a question?**
question . how can i tell the sprite loader to ignore all paths in css files ?

**What is the current behavior?**
creating sprites but breaks css files .. all paths to SVG in css are replaced with url([object Module])

**What is the expected behavior?**
not brake paths

**If the current behavior is a bug, please provide the step

[2018-10-25 20:52] angelov-a commented on #324
I have a similar issue when using with Vue CLI 3.

[2018-10-28 19:41] kisenka commented on #324
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2018-10-28 19:43] kisenka commented on #225
@angelov-a don't use file-loader with svg-sprite-loader

[2018-10-28 20:14] angelov-a commented on #225
It doesn't make a difference if I do `.use('svg-sprite-loader')` or any other string.

[2018-10-28 20:18] kisenka commented on #225
Ok, I need a reproducible demo then.

[2018-10-28 21:33] angelov-a commented on #225
Just a clean install of Vue CLI + svg-sprite-loader:
https://github.com/angelov-a/svg-sprite-loader

[2018-10-29 10:29] kisenka commented on #323
Fixed in svg-sprite-loader@4.1.3

[2018-10-29 10:29] #323 closed

[2018-10-29 10:35] kisenka commented on #318
Hi @fruchtose! Thanks for the question :) Yes, the most complex part of this loader - sprite extracting was moved to extract-svg-sprite-webpack-plugin, which is under development, but already usable. You can try it to extract svg sprites. This loader will move to svg-mixer project in next major release and extract feature will be removed from it. Now I rather busy, but I'am planning to do it at De

[2018-10-29 10:36] kisenka commented on #312
Fixed in svg-sprite-loader@4.1.3, please check

[2018-10-29 10:36] #312 closed

[2018-10-29 13:53] nicholasrq opened #325 "Firefox doesn't render masks defined inside of `symbol`"
Firefox has some problems with rendering masks properly. If mask is defined within a symbol it just doesn't work at all in FF, but if you place your mask in defs at the root of the SVG it works like expected

Curren behavior: SVG mask doesn't work if defined inside of `symbol`

Expected behaivor: SVG mask renders as expected

Desired solution: option to be able to move masks to `defs` at the root

[2018-10-30 11:41] pulicapus commented on #324
I have a similar issue

[2018-11-02 07:11] ogonkov commented on #203
What versions affected by this bug? Came across same issue. While it was OK at `3.4.1`

[2018-11-02 07:32] wanglong886 opened #326 "No matching version found for posthtml-svg-mode@^1.0.3"
**npm install svg-sprite-loader**
**No matching version found for posthtml-svg-mode@^1.0.3**
**It was specified as a dependency of 'svg-baker'**

[2018-11-03 13:40] strukove commented on #298
Hi kisenka. Have you checked my last commenti with "fully reproducible demo"? Is there something wrong?

[2018-11-04 12:30] antoniodcorrea opened #327 "Get both `url` and `content` from sprite"
**Do you want to request a feature, report a bug or ask a question?**
Question
**What is the current behavior?**
I have this configuration:

[code]
Calling the sprites from js, for each svg I get an object with `url`:

{
    id: 'my-logo-empty-usage',
    viewBox: '0 0 28.3 28.3',
    url: '/svg/sprite.svg#my-logo-empty',
    toString: ƒ,
};

If I set `extract` to `false`, then I get this object w

[2018-11-06 13:53] strukove commented on #324
Hi!
We have the same problem when we setup vue cli 3 project. Check this demo please, https://github.com/strukove/svg-sprite-loader-error

[2018-11-12 03:10] sam3d commented on #203
I'm getting exactly the same issue on `4.1.3`:

[code]

Any updates on this?

[2018-11-12 10:31] AlexanderGogolev opened #328 "Duplication symbol in sprite"
Hello, I use plugin with options

[code]

On build I have duplication symbols on result sprite
I include svg in pug file in the following way:
[code]

[2018-11-13 06:29] m131-8 opened #329 "Error: Module build failed (from ./node_modules/svg-sprite-loader/lib/loader.js): InvalidSvg: svg-sprite-loader exception."
Error: Module build failed (from ./node_modules/svg-sprite-loader/lib/loader.js):
InvalidSvg: svg-sprite-loader exception.

module.exports = __webpack_public_path__ + "static/media/admin.5268f502.svg";
    at Object.loader (/Users/xiefeng/gitlab-hz/my/react-antd-admin/node_modules/svg-sprite-loader/lib/loader.js:30:11)

i want to know why?

my webpack.config.js configuration
    {
        test: /\

[2018-11-13 16:10] paramjitkaur commented on #177
Has there been any solution to this as I am running into the same issue

[2018-11-13 16:11] paramjitkaur opened #330 "Yeah, it's possible with server sprite, but it's a complex way. Feel free to reopen if you'll really need this solution and we'll discuss."
_Originally posted by @kisenka in https://github.com/kisenka/svg-sprite-loader/issues/177#issuecomment-322746564_

[2018-11-13 16:11] paramjitkaur commented on #330
I really need the solution to this.Is there any suggested way to go with it

[2018-11-14 09:57] ChucKN0risK commented on #185
@unwrittenmike @jesperlandberg @krivaten I managed to deal with SVG sprite with the following configuration. I hope it will help you 😉

https://gist.github.com/ChucKN0risK/2d0f8466e13d4b63f3982ed2b60bd111

[2018-11-15 15:45] fvsch opened #331 "Thank you"
Sorry to abuse the issues for this. But I just wanted to say thank you for this package. We're using it and it works well. Its documentation is pretty good too! Thanks again. :heart_eyes:

You can close this issue, of course. :smile:

[2018-11-17 21:50] vizo commented on #329
Same here ...

[2018-11-21 01:37] bvellek commented on #277
Hey @kisenka ,

I am also running into this issue since upgrading form v`0.3.0` to v`3.8.0` - did you find any resolution to this?

here is my config for reference

[code]

[2018-11-28 14:50] DanielaValero opened #332 "Module not found: Error: Can't resolve 'svg-baker-runtime/browser-symbol' in version 4.1.3"
**Do you want to request a feature, report a bug or ask a question?**
Bug
**What is the current behavior?**
I start as usual my already working application and get the next error:

[code]

Steps to reproduce:
1. Update version 4.1.2 to 4.1.3
2. Start the application as usual
3. Error appears: Module not found: Error: Can't resolve 'svg-baker-runtime/browser-symbol'

- Node.js version: v8.11.4
- we

[2018-11-28 15:07] DanielaValero commented on #332
I just discovered that my bug report might not be related to this project, but to the svg-baker-runtime itself. Not sure what changed, but independently of version 4.1.3 or 4.1.2 I had to install in my project: `https://www.npmjs.com/package/svg-baker-runtime` so that the error is gone.

[2018-12-04 00:44] gaven commented on #233
This method severely bloated my javascript bundles so I decided to create a module that inlines svgs at the top of the `app.html` file. Hope this helps someone. https://www.npmjs.com/package/nuxt-svg-sprite-module

[2018-12-06 13:21] IUnknown68 commented on #297
I have the same problem here, using webpack 4. It appears, webpack changed the structure of some internal data, so the loader can't find the plugin anymore. The point where it fails seems to be https://github.com/kisenka/svg-sprite-loader/blob/af52b750bd91c0bbc6b3be5eaf0afe4817244ec9/lib/loader.js#L49
Hope this helps!

[2018-12-07 15:21] vorobey commented on #221
I can reproduce it again

[2018-12-07 15:21] vorobey commented on #221
@kisenka was any changes for this in new releases?

[2018-12-11 22:22] salomoneb commented on #221
Bump on this as well. Experiencing it with version `4.1.3`.

[2018-12-12 07:59] andreyy4 commented on #298
I had the same "bug" when I used the html-loader without the text exstract plugin

[2018-12-19 20:08] timbomckay commented on #320
Any updates or thoughts on this?

[2019-01-10 15:07] joepagan commented on #260
In the past I have had issues where `.svg` files contain:
[code]

[2019-01-10 23:13] joepagan commented on #318
@kisenka I think just a note at the top of this repo's readme would be best.
Thanks for your work on this tool.

[2019-01-11 00:05] joepagan opened #334 "ERROR in ...app.bundle.js from UglifyJs - Unexpected token: punc ())"
**Do you want to request a feature, report a bug or ask a question?**
Question/potential bug?

**What is the current behavior?**
Getting a build error on production mode during the build on CircleCI, this does **not** happen when I run the same task on MacOS, from what I can see they're using a node:10.15 docker container, it returns as follows:

[code]

It is as if UglifyJs is trying to parse my

[2019-01-14 05:34] matthewmcclatchie commented on #237
Sorry to bring this one back up, but I'm having the very same Warning in my console.

`svg-sprite-loader exception. Some loaders will be applied after svg-sprite-loader in extract mode`

I'm using [Razzle](https://github.com/jaredpalmer/razzle) to generate a site so am extending the default Webpack config by following the instructions [here](https://github.com/jaredpalmer/razzle#extending-webpack)

[2019-01-16 08:47] humengqiao opened #335 "navigator is not defined"
![image](https://user-images.githubusercontent.com/23610300/51236851-2529a180-19ae-11e9-9855-0a6772b65c76.png)

How to resolve this problem

[2019-01-16 09:00] #335 closed

[2019-01-16 22:52] mseeley opened #336 "`pascal-case`"
**Do you want to request a feature, report a bug or ask a question?**

Report a bug.

**What is the current behavior?**

When using 4.1.3 and Webpack 4.28.4 I run into the following error on all of our SVG imports:

[code]

**What is the expected behavior?**

Looking into your `package.json` I can see [`pascal-case` is listed within `devDependencies`](https://github.com/kisenka/svg-sprite-loader/b

[2019-01-17 13:08] Frezc opened #337 "Generate wrong codes when set both of extract & esModule true"
**Do you want to request a feature, report a bug or ask a question?**
report a bug

**What is the current behavior?**
As the title describes,
below is generate codes in win10 with node v8.11.3
![v nw5 jpm _lq _ krvqc](https://user-images.githubusercontent.com/6942296/51320433-be35e680-1a9a-11e9-83fc-9ff783fc244d.png)
blow is in macos with node v10.11.0
![bb84e130-c8f6-b77a-e816-cac23883a12f](https

[2019-01-20 14:51] xie007 commented on #311
try this:
[code]
publicPath have a bug, default value is 'sprite.svg', Unable to pass path parameters.

my version is "svg-sprite-loader": "^4.1.3"

@kisenka @rmunch @GrzegorzZajac000

[2019-01-21 21:49] ChrisCampbell88 commented on #334
Hi @joepagan ,

I was having the same issue and found a solution mentioned in #337 , setting 'esModule: false,' seems to make the build work again. Seems like an ok workaround for now until the project gets updated with a proper fix.

Also to clarify the issue is that invalid JS is being generated in the build, and when terser / uglifyjs tries to minify the JS it then fails due to the invalid code

[2019-01-21 22:18] joepagan commented on #334
Thanks @ChrisCampbell88 !

[2019-01-23 20:20] ryanmitts commented on #320
This would be a great feature.

[2019-01-24 16:41] huston007 opened #338 "Detecting webpack version via require-ing it works wrong in some tricky cases"
It's a bug relates to #248.

Here svg-sprite-loader tries to detect webpack version by require-ing it:
https://github.com/kisenka/svg-sprite-loader/blob/master/lib/utils/get-webpack-version.js#L2

But this doesn't work if by some reason we have different webpack versions. I think it'd most reliable to analyze current webpack instance instead which loader is running on top.

[2019-01-25 21:53] kricha commented on #284
@kisenka ping

[2019-02-01 18:58] MarkiyanPyts commented on #225
Is there a resolution for
background: url(../../C:/myApp/src/img/icn/arrw.svg);

issue ?

[2019-02-04 17:00] prosv commented on #334
I have the same issue

[2019-02-07 08:59] PanicaCC commented on #329
use: [
                        {
                            loader: 'svg-sprite-loader',
                            options: {
                                extract: false, // --- this resolve my conflict
                                symbolId: 'icon-[name]',
                                publicPath: '/svg/',
                                spriteFilename: svgPath => `sprite${svgPath.subst

[2019-02-08 00:45] rosscreighton commented on #166
I worked around this by making the consumer of my manifest file more flexible. If it doesn't find `asset_name.[hash].fileextension` it will just look for `asset_name.fileextension`. This is kind of terrible but it works for my case.

[2019-02-13 19:31] thomas-darling commented on #268
@kisenka
There really need to be a way to turn this runtime stuff off. Most icon systems just need the SVGs to be added to the document with an ID, so they can be referenced with something like:

[code]

That should not require more than a couple of lines of code to accomplish - and I have to say, if we can't turn this off, then we can't use this otherwise promising package - maybe there are other

[2019-02-20 13:53] izbagov opened #339 "Integrate with create react app"
Hi! I can integrate svg sprite loader with Webpack 4 but i can't integrate with CRA.

**What is the current behavior?**

**What is the expected behavior?**

Should not create a new bundle file with name **sprite.js** and create in folder **assets** file with name icons.svg filed SVG symbols.

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config

[2019-02-21 11:13] JoniTech commented on #307
Damn, that post pushed me in the wrong direction.

Just to confirm: https://www.webdevdrops.com/build-an-svg-icon-component-with-react-de9db211ebd6/
This is not how you are supposed to use svg-sprite loader right?

[2019-02-21 18:37] swapzone commented on #324
Same issue here.

[2019-02-23 08:10] alxpsr commented on #266
I got similar problem in runtime. In compiled external sprite `<style>` exist, but in browser not exist. Whats wrong? 🤔
[code]

[2019-03-08 03:03] aethr commented on #324
I'm experiencing a similar issue, except the URL the browser is trying to load for the sprite is `[object%20Object]`.

For me this issue only occurs during development using HMR and the prod build appears to be fine.

[2019-04-05 12:10] frimoldi commented on #308
I'm having the same issue. @ryan-codingintrigue did you find a solution?

[2019-04-08 15:16] wanecek commented on #286
As far as I can tell, this seems to be solved by upgraded to the latest version. Can anyone confirm? @kisenka :)

[2019-04-08 16:56] markplewis commented on #320
It seems like this is a bug rather than a feature request because the documentation says "multiple sprites can be generated by specifying different loader rules restricted with include option", but this doesn't seem to work (in extract mode, at least).

I tried hacking `lib/loader.js` so that it would create a separate SVG compiler for each sprite:
[code]

However, `lib/plugin.js` also expects the

[2019-04-16 08:42] moimael opened #341 "Hash not inserted properly"
I want to use a hashed version of my SVG sprite file in production for cache invalidation.

We are using the `webpack-assets-plugin` to be able to map an asset name to his hashed name after build. It works fine for all assets except the SVG sprite file. It seems like the plugin does the replacement of the filename with a hash to soon.

Here is a screenshot of what happens:

![Screenshot from 2019-

[2019-04-18 09:21] laoergege opened #342 "`[chunkname]` not working"
**What is the current behavior?**
loader config:
[code]
It doesn't generate sprite for each chunk in dist。

**Please tell us about your environment:**

- Node.js version:  8
- webpack version: 4.x
- svg-sprite-loader version: 4.1.3
- OS type & version: ?

[2019-04-23 23:55] do-diegoortiz commented on #186
@pSHCH didn't you find a way to make it work from submodules?

[2019-04-24 22:02] bimbiltu opened #344 "spriteModule and symbolModule imports dont work with yarn PnP"
**Do you want to request a feature, report a bug or ask a question?**
Report a bug

**What is the current behavior?**
Currently this loader generates imports like `import 'svg-sprite-loader/runtime/browser-sprite.build'` and `import 'svg-baker-runtime/browser-symbol'`. These imports currently rely on the svg-sprite-loader and svg-baker-runtime packages being hoisted to work which can cause errors

[2019-04-25 15:01] ugrupp commented on #282
I just ran into the exact same problem, getting `return thi);s.url;`

node v11.13.0
npm 6.7.0
svg-sprite-loader 4.1.3
webpack 4.30.0

[2019-04-27 18:49] #300 closed

[2019-04-27 18:49] kisenka commented on #300
Fixed in v4.1.5

[2019-04-27 19:10] kisenka commented on #344
Fixed in svg-sprite-loader@4.1.4

[2019-04-27 19:10] #344 closed

[2019-04-27 19:12] kisenka commented on #338
Fixed in `svg-sprite-loader@4.1.4`

[2019-04-27 19:12] #338 closed

[2019-04-27 19:13] kisenka commented on #331
Wow, thanks for the kind words! :)

[2019-04-27 19:13] #331 closed

[2019-04-27 19:33] kisenka commented on #328
Fixed in `svg-sprite-loader@4.1.6`, please update

[2019-04-27 19:33] #328 closed

[2019-04-27 19:51] kisenka commented on #309
Fixed in `svg-sprite-loader@4.1.4`, please update

[2019-04-27 19:51] #309 closed

[2019-04-30 14:19] williansabiao commented on #309
@kisenka I had to go back to the version `svg-sprite-loader@4.1.3` because my [Cypress](https://github.com/cypress-io/cypress) was breaking after `4.1.3`.
It couldn't find the `require.main.require('webpack...')`.

Although, the last version worked well with my App and storybook.

[2019-04-30 14:20] kisenka commented on #309
@williansabiao which NodeJS version is used?

[2019-04-30 14:49] williansabiao commented on #309
The Cypress uses his own Node build. It's v8.2.1 😞 .

I just saw they are working on to update it. So, probably it is the reason I'm getting the error in the new versions of `svg-sprite-loader`, right?

I guess I can update to a newer version when Cypress update as well. That's ok. Thanks.

[2019-05-02 13:47] jdcmarques commented on #321
Any news on this?

[2019-05-06 03:28] Bosch-Eli-Black commented on #305
Hi @kisenka. Sorry to bug you, but are you still planning on moving this package over to using the svg-mixer package instead of svg-baker?

[2019-05-07 09:14] golubvladimir commented on #324
same problem.

[2019-05-08 21:18] vchrm commented on #324
My personal guess is that the issue is related to switch to mini-css-extract-plugin so in the meantime I looked into other issues related to webpack 4 or mini-css-extract-plugin and especially this comment struck my mind: https://github.com/kisenka/svg-sprite-loader/issues/271#issuecomment-425361287

So I guess [extract-svg-sprite-webpack-plugin](https://github.com/JetBrains/svg-mixer/tree/master/

[2019-05-14 15:04] golubvladimir opened #346 "Work with jss ?"
My code:

[code]

In Google chrome dev. tool:

[code]
Icon not displayed. Why ?

[2019-05-15 10:54] golubvladimir commented on #346
Use base64 -
`backgroundImage: 'url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBvcGFjaXR5PSIwLjUiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNOS40MTQzNiAxMkwxNi43MDczIDE5LjI5MjhMMTUuMjkzIDIwLjcwNzFMNi41ODU5NCAxMkwxNS4yOTMgMy4yOTI4NUwxNi43MDczIDQuNzA3MDZMOS40MTQzNiAxMloiIGZpbGw9Ii

[2019-05-15 10:54] #346 closed

[2019-05-23 08:59] dimensi commented on #332
Have same problem.

[2019-05-23 14:10] Antonio-Laguna commented on #320
This is rather serious. I thought I could overcome with going multi-compiler for Webpack and it doesn't work either.

[2019-05-25 10:25] sunil-jhamnani commented on #186
Was facing this issue with version `4.1.6`. Downgraded this to version `4.1.3` and it's gone. Config I used:
[code]

[2019-05-29 12:19] Under-Warz commented on #267
@silicakes and futher readers, I resolved my issue with overriding svg loader in storybook with this answer https://github.com/storybooks/storybook/issues/6758#issuecomment-495598635

[2019-05-29 12:25] linqcan commented on #309
Just wanted to highlight that this change (PR #314 ) breaks builds where webpack is started from a global Node.js application such as a global Gulp installation.

In that case the main entry point for Node.js will be the global Gulp and its paths (global paths) will be present in `require.main.paths`. If you don't happen to have webpack globally installed the webpack lookup will fail.

I have foun

[2019-06-03 09:04] kangschampagne commented on #320
have any good idea for extra multiple sprites?

[2019-06-05 12:35] jbures opened #347 "TypeError: Cannot read property 'target' of undefined"
Hi there, i've been looking around this place and the whole web for a few days now. I can't find exactly my situation, only some similar ones but no "Solution" helped me...

So i have this folder structure:

Frontend > Frontpage > Components > Icons > "A bunch of .svg files".

On another webpack config i can just do `import "../icons/myIcon.svg"` and everything is fine, but when i try to do the sa

[2019-06-07 12:32] joepagan commented on #334
A bit late to testing this, but, it looks like `esModule:false` worked!

[2019-06-07 12:32] #334 closed

[2019-06-24 11:12] Bosch-Eli-Black commented on #318
Hi @kisenka,

Are you still planning to move this library to use svg-mixer? I'm mostly wondering because this project depends on the svg-baker and svg-baker-runtime packages, and those packages don't have LICENSE files.

Anyway, thanks for your work on this project; just checking :)

[2019-06-26 12:14] ahmadalfy commented on #186
Can confirm @sunil-jhamnani solution is working.

[2019-07-02 17:43] sultan99 commented on #342
Try this one `spriteFilename: '[chunkname]\.svg'`

[2019-07-08 08:13] AndreiSoroka commented on #225
@MarkiyanPyts do you create issue?

[2019-07-08 12:07] kisenka commented on #318
@Bosch-Eli-Black yep, I'm still planning to do that, but have no time at this point :(

[2019-07-08 16:44] LoicUV commented on #338
This change breaks [gatsby-plugin-svg-sprite](https://github.com/marcobiedermann/gatsby-plugin-svg-sprite). It works until v4.1.3

Gatsby allows to override webpack config to add loaders such as this one. Although after your change in 4.1.4, the same line breaks with the error `Error: Cannot find module 'webpack/package.json'`

[2019-07-09 02:32] Bosch-Eli-Black commented on #318
@kisenka No worries! :)

I think the main issue for us is that it looks like maybe the LICENSE files disappeared from the svg-baker and svg-baker-runtime libraries.

Would it be possible to just add some LICENSE files to those packages?

[2019-07-16 04:17] BoyaZhang commented on #329
has anybody solved this problem? exactly the same one...

[2019-07-17 10:40] DanielaValero commented on #338
Hello,

The same error `Error: Cannot find module 'webpack/package.json'` appears in VSCode with this plugin each time one opens a new `js` file. I had the version 4.1.6, downgrading to 4.1.3 made the error disappear.

[2019-07-25 09:57] NickWoodward opened #349 "Hashing a sprite sheet and then linking to the svgs?"
**Do you want to request a feature, report a bug or ask a question?**
Question

**What is the current behavior?**
Extract mode is moving the sprite sheet to the build folder and hashing the filename, which is what I want

**What is the expected behavior?**
I'd then like to be able to link to the svgs in the html, but can't because of the hashed file name.

What's the best practice here? Inlining t

[2019-07-31 18:23] hinok opened #350 "Regression, `sprite.stringify()` returns no symbols in 4.1.6 when 4.1.3 works ok"
**Do you want to request a feature, report a bug or ask a question?**
Report a bug

**What is the current behavior?**

After upgrading to `v4.1.6`, calling `sprite.stringify()` returns no symbols.
It works without issues with `v4.1.3`.

**What is the expected behavior?**

`sprite.stringify()` should return stringified symbols.

Steps to reproduce

**Part of webpack config for `svg-sprite-loader`**

[2019-08-01 12:41] unkernet opened #351 "Webstorm code assistance broken"
**Do you want to request a feature, report a bug or ask a question?**
A bug

**What is the current behavior?**
Webstorm code assistance can't analyse webpack.config.js after including `require('svg-sprite-loader/plugin')`;

**Steps to reproduce:**
- Setup webstorm with webpack integration (see [instructions](https://www.jetbrains.com/help/webstorm/using-webpack.html))
- require svg-sprite-loader/p

[2019-08-06 11:38] papirovnyk commented on #332
fror me worked **4.1.2**

[2019-08-07 06:46] marijnz0r commented on #320
@kisenka do you have any pointers in the right direction for anyone to start making fixes? I would love to keep using this package, so please assist.

[2019-08-09 08:09] KhraksMamtsov commented on #268
@freezy
In execute mode you may add "null-loader", after "svg-sprite-loader".
It removes runtime data from bundle(url, width, height, ets.), but still produce empty runtime function, and Warnings in console output "Some loaders will be applied after svg-sprite-loader in extract mode"
But it save about 90% gziped code, and about 85% without gzip.

[2019-08-09 08:28] freezy commented on #268
Thanks, I'll try that!

[2019-08-12 11:28] ighosta9 commented on #308
Ok, look:

First of all, I had found `__webpack_public_path__` and then I saw many rows, that contain the next:

![image](https://user-images.githubusercontent.com/32453685/62861585-d4b2c200-bcb8-11e9-8640-cf3c79cb683b.png)

I think that the problem in this:

![image](https://user-images.githubusercontent.com/32453685/62861629-f3b15400-bcb8-11e9-891f-eb730b6b943c.png)

...But I don't know how I wo

[2019-08-15 07:45] Nettsentrisk commented on #309
I'm also running into this problem when running ESLint (with eslint-import-resolver-webpack).

This line:
`const webpackVersion = require.main.require('webpack/package.json').version;`

Causes this error:

[2019-08-15 07:46] Nettsentrisk commented on #338
Getting the same error as @DanielaValero in VS Code while running ESLint with a webpack resolver.

[2019-08-15 13:59] martinkadlec0 commented on #338
I also just run into the same problem in VSCode

[2019-08-15 19:07] nbrylevv opened #353 "Wrong parsing of query params via inline loader"
**Do you want to request a feature, report a bug or ask a question?**
Report a bug.

I use svg-sprite-loader as a inline-loader with replacing symbolId parameter.
[code]
And it does't work correctly.

**What is the current behavior?**
I'm debugging `lib/loader.js`:
[code]
And what I get in `config` variable:
[code]
As you see, my query parameters were parsed wrong.

**What is the expected behavior

[2019-08-18 10:42] Pet3ris opened #354 "Svg not visibe"
Hi There,

First of all, thanks for creating the library, eager to use it as my main option for rendering svgs using reason react.

**Do you want to request a feature, report a bug or ask a question?**

Ask a question/report a bug

**What is the current behavior?**

Svg not rendering. The path gets rendered in the browser but the svg is not visible at all.

**What is the expected behavior?**

Svg

[2019-08-19 20:49] basham commented on #315
My team was likewise encountering this issue. We noticed that when analyzing our site with the AXE plugin for Chrome, it warned that the SVG sprite was a child of `<body>` instead of some region element ([*All page content must be contained by landmarks*](https://dequeuniversity.com/rules/axe/3.3/region?application=AxeChrome)). Not having content in landmark regions makes it difficult for screen r