[2019-08-21 08:10] paopaolee commented on #283
you can edit the svg file you load, delete it's fill attribute

[2019-08-23 10:09] abderrahmane-tj commented on #351
I had to manually change line 9 to `return '4';`for now. a work around, but let's me work :-P

[2019-08-28 16:41] Hocoh opened #355 "Is it possible to handle SVG width/height at the source file level?"
**Do you want to request a feature, report a bug or ask a question?**
as a question
**What is the current behavior?**
the width and weight set in my svg source's file fail to actually change the size of my svg's rendered in the web browser.
Also,  when I `console.log()` my SVG's element, theses atributes just doesnt appear on the dev's console.

I have entered theses attributes as <svg width="" he

[2019-08-28 17:11] #355 closed

[2019-08-29 18:26] ivan-podgornov commented on #309
I use lerna and there is two directories: with builder and with sites. When I bootstrap builder to each site, causes this error:

[2019-09-02 15:55] demyan1411 opened #356 "Not working in Chrome 76"
I think I found a bug:
I use extract mode.
In your loader there is `moveGradientsOutsideSymbol`
and in your code it said that this is for firefox,
But after build - svg-sprite not working (not visible) in chrome 76

- Node.js version: 10.16
- webpack version: 4
- svg-sprite-loader version: 4.1.6
- OS type & version: MaOs Mojave

You can try with this svg icon:

[code]

Webpack config:

[code]

[2019-09-03 14:34] unkernet commented on #351
There is no problem here

[2019-09-10 07:39] pbelyaev commented on #320
any news?

[2019-09-26 21:25] StijnMaenhaut opened #357 "Some loaders will be applied after svg-sprite-loader in extract mode"
When using this loader in Webpack Encore, the following error appears:

[code]

[Reference](https://github.com/kisenka/svg-sprite-loader/blob/af52b750bd91c0bbc6b3be5eaf0afe4817244ec9/lib/loader.js#L56)

Within Webpack Encore, only the priority/order of plugins can be changed, not the priority of loaders. The build succeeds, but keeps throwing this warning on every compile. I searched a lot on this

[2019-09-30 09:34] lordisback opened #358 "publicPath not work as expected"
**Do you want to request a feature, report a bug or ask a question?**
Bug
**What is the current behavior?**
publicPath was added to output file path of sprite.svg
**What is the expected behavior?**
publicPath should not be added to the path of sprite.svg

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece o

[2019-10-01 22:49] dko-slapdash commented on #294
@kisenka, thanks for you work!

Could you please elaborate?
1. If extract mode is removed from svg-sprite-loader, what else remains there? I thought it's the main usecase? Does it mean that svg-sprite-loader is going to be deprecated entirely?
2. Do you recommend to completely switch to extract-svg-sprite-webpack-plugin? I'm asking, because Its weekly downloads counter looks low at npmjs, also the

[2019-10-03 14:00] agigox commented on #338
Hi @DanielaValero ,

Please how did you downgrade to 4.1.3, because I cannot find svg-sprite-loader in my package.json I have gatsby project

[2019-10-06 21:19] pdoreau commented on #176
Me too. I also the tried the `__SPRITE_URL__` solution and this deprecation message is displayed :

`(node:3601) DeprecationWarning: Tapable.plugin is deprecated. Use new API on .hooks instead`

Did you guys finally make it work ?
@kisenka do you now recommend something else ?

[2019-10-09 12:49] pwavg commented on #315
Any progression on this?

[2019-10-13 11:46] klyukvushka commented on #354
@Pet3ris hi! did you solve this problem? i've got the same issue, invisible icons, and warnings in console while i use option "extract: true"

[2019-10-13 12:39] Pet3ris commented on #354
For me it was an issue of not using the right sprite name. I found that by using an example project and then changing things one by one into my set up.

[2019-10-13 12:39] #354 closed

[2019-10-14 18:23] DrGor opened #359 "Cannot find module 'webpack/lib/RuleSet'"
**Do you want to request a feature, report a bug or ask a question?**
bug
**What is the current behavior?**
throws an error: Cannot find module 'webpack/lib/RuleSet'
**What is the expected behavior?**
works with webpack 5

**Please tell us about your environment:**

- Node.js version: ?
- webpack version: 5
- svg-sprite-loader version: v4.1.6
- OS type & version: ?

**Other information (e.g. detai

[2019-10-14 19:01] Lyrkan commented on #359
@DrGor

As noted in my comment in the Webpack thread the problem comes from the removal of `RuleSet` in Webpack 5 (https://github.com/webpack/webpack/pull/9138).

The solution from that `vue-loader` issue only applies to Webpack <= 4 in which this class was present (it didn't really make sense to use the loader without Webpack anyway...).

What I meant by "*`vue-loader` has the same issue*" is tha

[2019-10-14 20:27] DrGor commented on #359
I have no experience with `vue-loader`, but I can see they still use `RuleSet`, see it here https://github.com/vuejs/vue-loader/blob/master/lib/plugin.js

and their library is marked as compatible with Webpack 5, see here: https://github.com/vuejs/vue-loader/blob/master/package.json#L37

and I also can't find any open issues around `RuleSet` in their repo.
So I am confused :)

[2019-10-14 21:07] Lyrkan commented on #359
Yep, that's exactly what I was referring to :)

That line was changed in january, before the `RuleSet` class was removed.

I couldn't find one either, so there you go: https://github.com/vuejs/vue-loader/issues/1599

[2019-10-15 13:54] stanf0rd commented on #358
+1

[2019-10-16 19:49] stsiarzhanau commented on #282
I've got `return );this.url;` .

node v10.16.3
npm 6.9.0
svg-sprite-loader 4.1.6
webpack 4.41.0

And what's more interesting it occures only when build is running in Docker container. At the same time there are no errors during compilation when building locally both on Windows and Linux workstations.

![image](https://user-images.githubusercontent.com/17646997/66953322-f472b780-f066-11e9-9146-9a52

[2019-10-26 08:27] kaysonwu opened #361 "How to use the BrowserSpriteSymbol type in typescript？"
**Do you want to request a feature, report a bug or ask a question?**

 `question`

**What is the expected behavior?**

[code]

**Please tell us about your environment:**

- Node.js version: 10.14.1
- webpack version: last
- svg-sprite-loader version:  last
- OS type & version: Windows 10

**Other information (e.g. detailed explanation, stacktraces, related issues, suggestions how to fix, links fo

[2019-11-01 14:12] pkarev commented on #320
Possible workaround for TWO sprites, works for me.
Can be easy reworked for more than two sprites using switch-case in spriteFilename function
[code]

[2019-11-06 08:15] ydfzgyj commented on #350
Same question when execute SSR in nodejs. I believe this problem was introduced in PR #345 which used absolute path when import `sprite.build`. I have never used yarn before so I'm not able to fix it, @bimbiltu do you have any time to have a look at this bug?

[2019-11-07 03:08] mopacha commented on #243
I have the same issue, on the server side, svg  does not inject into html

[2019-11-07 09:00] mopacha opened #362 "target: 'node', can not auto inject the svg-spriate into the html"
- Node.js version:  10
- webpack version: "^4.41.0",
- svg-sprite-loader version:"^4.1.6",

[2019-11-07 09:01] mopacha commented on #362
@kisenka

[2019-11-09 01:59] AllienWorks commented on #329
See this for answer: https://github.com/kisenka/svg-sprite-loader/issues/149#issuecomment-343839674

[2019-11-09 06:55] Mighty683 opened #363 "Syntax error on import"
**Do you want to request a feature, report a bug or ask a question?**
Bug
**What is the current behavior?**
Outputed JS file from webpack build contains error.
[code]

**What is the expected behavior?**

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
**The best way is to create repo with

[2019-11-12 11:17] TobiDimmel opened #364 "Chunk for SVG sprite isn't properly created in extract mode"
**Do you want to request a feature, report a bug or ask a question?**
report a bug

**What is the current behavior?**
When I integrate the svg-sprite-loader with the [Angular CLI](https://github.com/angular/angular-cli) and build my app in production mode, following error is thrown:
[code]
Although the error is thrown in the package [@angular-devkit/build-webpack](https://www.npmjs.com/package/@an

[2019-11-14 06:07] hackerxian opened #366 "TypeError: Cannot read property 'require' of undefined"
**Do you want to request a feature, report a bug or ask a question?**
report a bug
**What is the current behavior?**
[code]
**My webpack config**
[code]

[code]

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please tell us about your environment:**

- Node.js version: v8.12.0
- webpack version: 4.41.2
- svg-sprite-loader version: 4.1.6
- OS type & v

[2019-11-19 02:00] zhanzizhen commented on #308
I ever had the same trouble. My solution is:
[code]
It works well on both wins and linux.

[2019-11-19 04:13] deadstar2011 commented on #363
Hi. did u find the way to fix it? i have similar problem:
ERROR in chunk common [initial]
js/common.min.js
/data/node_modules/babel-loader/lib/index.js??ref--5!/data/src/modules/header/index/index.js 2ae6a7272a7e141c17cf5ce51a84b06e
Unexpected token (8:2)
|         return this.url;
|       }
|   );  }
SyntaxError: /data/node_modules/babel-loader/lib/index.js??ref--5!/data/src/modules/header/index/

[2019-11-20 08:07] Mighty683 commented on #363
@deadstar2011 Try setting `esModule: false` in config. It fixed this issue for me.

https://github.com/JetBrains/svg-sprite-loader#es-module

[2019-11-20 08:25] deadstar2011 commented on #363
@Mighty683 thx very much! its save my day

[2019-11-24 20:58] SteGreig commented on #149
Does anyone know how I can fix this in a Gatsby project? After installing the gatsby-plugin-svg-sprite package, simply importing an SVG file into a component like this:

`import icon from "../images/bars-regular.svg"`

results in the following error:

`Cannot find module 'webpack/package.json'`

It sounds like I need to stop url-loader from processing my SVG icons that I want to be processed by ga

[2019-12-02 13:03] abderrahmane-tj commented on #351
Can we have any sort of response to this issue, or is this repository dead?

[2019-12-06 21:00] davidcarela opened #368 "Browser Error can't locate sprite.svg"
**Do you want to request a feature, report a bug or ask a question?**
Ask
**What is the current behavior?**
Browser Error
**What is the expected behavior?**
Render svg icon
**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
**The best way is to create repo with minimal setup to demonstrate a

[2019-12-06 21:10] davidcarela commented on #368
Forgot to include my.js file ...  Assistance to resolve is appreciated
[code]

[2019-12-09 02:40] davidcarela commented on #368
Hi,

I made some changes to my webpack.config file.

**webpack.dev.config**
[code]

I'm unable to display the svg icon and I get the following webpack warning.

WARNING in ./src/components/sidebar/sprite.svg
Module Warning (from ./node_modules/svg-sprite-loader/lib/loader.js):
svg-sprite-loader exception. Some loaders will be applied after svg-sprite-loader in extract mode
 @ ./src/index.js 5:0-41

[2019-12-09 02:42] davidcarela commented on #368
@kisenka  - Thoughts are appreciated : )

[2019-12-27 14:18] dramoturg commented on #368
HI. @davidcarela   have you details about way resolve this problem?

[2020-01-06 03:36] CodeLittlePrince commented on #294
same

[2020-01-07 03:49] CodeLittlePrince commented on #294
Same to you. And did you found the solution finally?

[2020-01-09 07:22] jackiewillen opened #369 "how to remove <use id="***" xlink:href="#***" in composite svg file"
**Do you want to request a feature, report a bug or ask a question?**
a question
**What is the current behavior?**
with to many <use id="***" xlink:href="#***" /> inside the final svg file.

**What is the expected behavior?**
without use tag. The small the better for the final composite svg file

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack co

[2020-01-10 11:07] jackiewillen commented on #369
new SpriteLoaderPlugin({plainSprite: true})

[2020-01-10 11:08] #369 closed

[2020-01-24 17:02] #351 closed

[2020-01-24 20:14] kisenka commented on #288
Fixed in svg-sprite-loader@4.2.0

[2020-01-24 20:14] kisenka commented on #325
Fixed in svg-sprite-loader@4.2.0

[2020-01-24 20:14] #325 closed

[2020-01-25 19:59] 719media opened #378 "v2.2.0 symbol.mount is not a function"
When updating from 4.1.6 to 4.2.0, I get the following error in the browser:

Uncaught TypeError: symbol.mount is not a function

my webpack rule is straightforward:
[code]

and I am including the plugin
[code]

All I've changed is the svg-sprite-loader version for this behavior to happen.

[2020-01-25 20:17] 719media commented on #378
In the generated code I can see that the function was completely deleted:

[code]

But I'm not sure why. Only change was the package.json version of this package from 2.1.7 to 2.2.0 for this break to happen.

[2020-01-27 10:56] s100 commented on #378
I am experiencing an identical-looking issue, however, for me the latest working version of `svg-sprite-loader` is `4.1.6` and the first broken version is `4.2.0`.

[2020-01-28 14:39] MagicHacker commented on #378
me too!

[2020-01-29 04:20] Ignigena commented on #378
Hitting this issue as well. Updating to 4.2.0 breaks with the `sybmol.mount is not a function` error above and downgrading back to 4.1.6 fixes the issue.

For what it's worth, we have this running on several Vue projects using the same configuration (mostly default autoconfigure settings from the installation docs here). 4.2.0 seems to work on our projects that are only frontend builds and is only

[2020-01-29 07:08] DarknessChaser commented on #378
me too

[2020-01-29 08:44] kangning1206 commented on #378
目前降级安装 4.1.6 版本，4.2.0有bug;

[2020-01-29 13:24] sqal opened #379 "npm-shrinkwrap needs to be regenerated or removed"
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
I recently upgraded this plugin from 4.1.6 to the latest version 4.2.0 and all icons in my app have disappeared. After some digging, I found out that it was caused by some old version of svg-baker, reference issue https://github.com/JetBrains/svg-mixer/issues/2. This dependency was updated

[2020-01-31 13:51] levenecav commented on #378
I have the same problem.

[2020-01-31 14:06] #378 closed

[2020-01-31 14:08] kisenka commented on #378
Fixed in `svg-sprite-loader@4.2.1`

[2020-01-31 14:08] kisenka commented on #379
Fixed in `svg-sprite-loader@4.2.1`

[2020-01-31 15:06] #379 closed

[2020-02-04 08:53] burnmaniac opened #380 "SVG not rendered properly"
**Do you want to request a feature, report a bug or ask a question?**
Report a bug.

**What is the current behavior?**
SVG is not rendered properly.

**What is the expected behavior?**
SVG should be rendered properly.

![image](https://user-images.githubusercontent.com/15699390/73728058-e7bbc180-4732-11ea-95a1-f14eeea425fe.png)

Original SVG:

[code]

Sprite, copied from Network tab in DevTools:

[2020-02-05 14:28] kisenka commented on #380
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2020-02-13 11:26] burnmaniac commented on #380
Sorry, I've been busy. I'll create the repo soon.

[2020-02-26 16:26] Klutch27 commented on #338
Same error as @DanielaValero . Currently using `4.2.1`.

[2020-02-26 18:10] martinkadlec0 commented on #338
Yup, the VS Code error unfortunately persist in 4.2.1 which includes #352.

[2020-02-26 19:19] Klutch27 commented on #338
@martinkadlec0 -- appreciate the quick reply!

[2020-02-27 16:17] DanielaValero commented on #338
Actually that downgrading thing did not really work... I still have the problem, it has been so long that when is fixed I will miss the false negatives from the lintin notifications panel in VS Code, and the import statements...

[2020-02-28 18:03] betorobson commented on #364
Hi, did you figure out this?
I am facing the same issue.

[2020-03-01 13:26] TobiDimmel commented on #364
I didn't in a proper way. I hope they will fix it until we go into production.

You can comment out this [line](https://github.com/JetBrains/svg-sprite-loader/blob/85f07caed508403ab259b5b13eabc97704e0261b/lib/plugin.js#L179), which solved the problem for me. But I'm not sure what side effects it may cause.

[2020-03-01 18:53] betorobson commented on #364
Ow, I did something similar adding this at line 168
`chunk.id = '';`

I also do not know the side effects

[2020-03-02 16:50] reckter commented on #332
I just got  `Module not found: Can't resolve './node_modules/svg-baker-runtime/browser-symbol.js'` when updating to 4.2.1.
Seems to be not fixed :/ (4.1.3 working for me currently)

[2020-03-03 02:05] 719media opened #381 "require.main.require overwriting causes problems with vscode"
Hello,
I am having a problem where vscode eslint is "crapping out" after including this library.
I get that this is probably a problem with vscode, and not with svg-sprite-loader.

The problem is specifically this line here:
https://github.com/JetBrains/svg-sprite-loader/blob/master/lib/utils/get-webpack-version.js#L6

Which results in the vscode error `Cannot find module webpack/package.json`

Be

[2020-03-03 11:59] xidb commented on #366
Made a PR for that here https://github.com/JetBrains/svg-sprite-loader/pull/382

[2020-03-03 11:59] xidb commented on #381
Made a PR for that here https://github.com/JetBrains/svg-sprite-loader/pull/382

[2020-03-03 13:05] 719media commented on #381
For what it's worth, I still get the error with this PR

[2020-03-03 17:21] 719media commented on #381
I have included the PR #382 which also includes a fix for the problem I was having. There may be another way to address this problem, but this is what I went with.

From what I see, this repo treats earlier versions of webpack as default, doing checks like ` if (webpackVersion.IS_4) {` and then having the `else` case correlate to earlier versions of webpack. It may be better to default to webpack

[2020-03-03 22:06] xidb commented on #381
That's right, i updated my PR.

[2020-03-03 22:21] 719media commented on #381
OK Cool. To hopefully expedite this, I've closed #383 since it is now a duplicate of #382

[2020-03-04 16:32] sastraxi opened #385 "svg-baker-runtime uses ES6 code that needs to be transpiled"
**Do you want to request a feature, report a bug or ask a question?**

This is a bug.

**What is the current behavior?**

`svg-baker-runtime` contains ES6 code that needs to be transpiled to run on targets that do not support ES6.

**What is the expected behavior?**

`svg-baker-runtime` has been properly transpiled in a build step to ES5.

**If this is a feature request, what is motivation or use

[2020-03-04 21:52] sastraxi commented on #385
Just doing some more investigation here, and this has to do with how the code gets exported. I see now looking through the distribution that `svg-baker-runtime/browser-sprite.js` is properly transpiled, as expected. What works:

[code]

What doesn't work:

[code]

It feels like this is because of `main` vs `module`:
[code]

Perhaps the trick here is to add `"browser": "browser-sprite.js"` as per h

[2020-03-05 06:28] ozq commented on #341
Same problem.
@moimael, have you found the solution?

[2020-03-05 14:25] moimael commented on #341
@ozq unfortunately I don't remember, it's been a while ...

[2020-03-12 06:00] dvenediktova commented on #325
I'm still facing this issue
Firefox 74.0
svg-sprite-loader 4.2.1

[2020-03-16 18:40] blissdev commented on #315
Running into this issue as well with axe and our accessibility testing.

[2020-03-16 19:17] blissdev commented on #315
Another, albeit brittle solution, is to manually place an SVG element in your body with `id="__SVG_SPRITE_NODE__"` with the same attributes as the one it places currently but with an additional `aria-hidden` and it will re-use that element instead of creating a new one.

[2020-03-16 21:48] etozhkirill commented on #361
I added next interface in my project
[code]

[2020-03-17 02:13] #361 closed

[2020-03-17 08:40] nboisteault commented on #218
Hi

JS code will change at every new release so if we want efficient cache we need to extract the sprite isn't it ? It is not clear for me how to load this extracted sprit with webpack then.

[2020-03-18 04:20] ophite commented on #282
the same problem in docker

[2020-03-22 13:11] hongkongk opened #386 "svg-sprite-loader #undefined with next-images || next-optimized-images"
<img width="1019" alt="Screen Shot 2563-03-22 at 13 08 24" src="https://user-images.githubusercontent.com/7023761/77250190-c5491d80-6c78-11ea-91ac-e77eda63eec7.png">

** environment:**

- Node.js version: v12.12.0
- webpack version: 4.36.1
- svg-sprite-loader version: 4.2.1
- OS type & version: 10.12.6
 "next-optimized-images": "^2.5.5",

[2020-03-23 02:03] meibin08 commented on #225
@angelov-a I have the same isusse
#### before compiling
![image](https://user-images.githubusercontent.com/18324563/77272917-4cd07400-6ced-11ea-88fd-89a3d5bab683.png)
#### after compiling
![image](https://user-images.githubusercontent.com/18324563/77272876-375b4a00-6ced-11ea-93a2-5f7306a24ea4.png)

[2020-03-23 16:43] infabo commented on #357
This is still a thing in 2020

[2020-03-31 16:28] usqr opened #387 "spritePlaceholder function might expose server file structure in multisite environment"
**What is the current behavior?**
spritePlaceholder function exposes server file structure in a multisite environment
SVG file content:
[code]

**What is the expected behavior?**
Ability to turn off the full URL info
[code]

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**

Webpack config:

[2020-04-02 14:48] #315 closed

[2020-04-02 14:49] kisenka commented on #315
Fixed in svg-sprite-loader@4.2.2

[2020-04-02 21:48] 719media commented on #381
@kisenka Please consider this issue. There is a PR to fix it. Happy to change it in any way. I'm not sure that the supplied PR #382 fixes it in my preferred way (where the "default" webpack version is treated as 4, instead of null or empty string), but it would be awesome to get something in there so that vscode users using linting get back on latest branch.
Thank you.

[2020-04-03 17:04] KrakenTyio commented on #364
could be fixed

[2020-04-03 19:44] KrakenTyio commented on #364
I create quick FIX plugin hope help you
id and ids[1] should be same,
instead `chunks.length` can be `svgChunk.name`
[code]

[2020-04-06 10:52] shayan-binary-2 opened #390 "Lib remove defs, linearGradient tag while using with webpack"
I am using `svg-sprite-loader` on react app which use webpack. the problem is that it removes the <defs> and  `<linearGradient>` tags,

`package.json`
[code]

**webpack.config.js**

[code]

and here how I use the Icon
`import MySvg from './path-to/my-icon.svg';
`
[code]
everything goes well and it works, but as it remove those tags, the svg file not properly loaded

[2020-04-06 16:55] kisenka commented on #325
@dvenediktova could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2020-04-08 09:34] shayan-binary-2 commented on #380
@kisenka  I've create a sample repo here https://github.com/shayan-binary-2/svg-sprite-loader-sample I have same problem.

[2020-04-08 11:56] ViieeS commented on #309
Is there any way to make it work with eslint-import-resolver-webpack?

[2020-04-09 02:59] meibin08 commented on #390
I also met

[2020-04-09 08:53] dvenediktova commented on #325
@kisenka here is a [link to the repo.](https://github.com/dvenediktova/svg-sprite-loader-problem.git)

[2020-04-12 09:12] kisenka commented on #325
@dvenediktova I'am getting following error:
![image](https://user-images.githubusercontent.com/2714771/79065165-d523b280-7cb6-11ea-8577-886754a28296.png)

[2020-04-12 10:45] kisenka commented on #390
@shayan-binary-2 actually svg-sprite-loader doesn't remove `<linearGradient />` or other tags, if you open http://localhost:8080/sprite-c642ba.mylib.svg#normal-usage in your demo, you can see that gradient is on place:
![image](https://user-images.githubusercontent.com/2714771/79066860-b677e880-7cc3-11ea-9952-900b07945b5e.png)

The problem is in browsers: unfortunately they have weird support of r

[2020-04-12 11:12] #364 closed

[2020-04-12 11:13] kisenka commented on #364
I've removed chunk creation.
@TobiDimmel @betorobson @KrakenTyio could you please try it and check if the reported error occurs?

[2020-04-12 11:19] kisenka commented on #380
@burnmaniac please see this [comment](https://github.com/JetBrains/svg-sprite-loader/issues/390#issuecomment-612595735)

[2020-04-12 12:43] kisenka commented on #381
Using autodetecting webpack version was very bad idea. I've published alpha version without detecting webpack version, could some of you guys help me with trying it out?

`npm install svg-sprite-loader@drop-webpack-version-detector`

[2020-04-12 13:43] #385 closed

[2020-04-12 13:43] kisenka commented on #385
Shipped in `svg-sprite-loader@4.2.5`, please check

[2020-04-12 13:59] kisenka commented on #386
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2020-04-12 14:01] kisenka commented on #282
@ManvendraSK could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2020-04-12 14:41] kisenka commented on #356
Could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2020-04-12 14:45] kisenka commented on #353
@nbrylevv still actual? :)

[2020-04-12 14:51] kisenka commented on #309
@williansabiao @linqcan @Nettsentrisk @ivan-podgornov @ViieeS

Using autodetecting webpack version was very bad idea. I've published alpha version without detecting webpack version, could some of you guys help me with trying it out?

`npm install svg-sprite-loader@drop-webpack-version-detector`

[2020-04-12 14:52] kisenka commented on #338
@agigox @Klutch27 @martinkadlec0 @DanielaValero

Using autodetecting webpack version was very bad idea. I've published alpha version without detecting webpack version, could some of you guys help me with trying it out?

`npm install svg-sprite-loader@drop-webpack-version-detector`

[2020-04-12 15:28] dvenediktova commented on #325
@kisenka check again, I fixed an error

[2020-04-13 00:54] hongkongk commented on #386
Thanks, I have fixed it.

[2020-04-14 18:46] burnmaniac commented on #380
Thanks! That's what we did at the end. We didn't have to use [extract-svg-sprite-webpack-plugin](https://github.com/JetBrains/svg-mixer/tree/master/packages/extract-svg-sprite-webpack-plugin), it just magically works when SVG is referenced in CSS.

Sorry for not creating the repo, the things are super crazy at the moment.

Thank you very much for your time and help! Issue closed!

[2020-04-14 18:46] #380 closed

[2020-04-15 13:42] nbrylevv commented on #353
@kisenka haven't checked it for a while. I'll try that again this week and message you back

[2020-04-16 02:27] Akimyou opened #392 "Want to add some example to use svg-sprite-loader in vue project"
`svg-sprite-loader` is good loader for svg.

But the  example `custom-runtime-generator` only include React.

 I create a repo for use svg-sprite-loader in  vue through  `runtime-generator`.

Please see this repo: https://github.com/Akimyou/svg-sprite-vue-generator

But i want to add some example in `svg-sprite-loader` main repo or in docs, can U give me some suggestion about it?

[2020-04-16 09:28] KrakenTyio commented on #364
looks stable

[2020-04-17 10:54] ViieeS commented on #309
@kisenka works fine! Thank you!

[2020-04-17 14:18] TobiDimmel commented on #364
@kisenka
I tried the fix with my linked reproduction repo and my project at work.
It works like a charm. Thank you.

[2020-04-17 15:21] TobiDimmel commented on #338
@kisenka
I had this issue with my reproduction repo of #364, which is an Angular CLI project.
I tried your fixed version on a Windows machine and it worked with this repo.

[2020-04-20 11:27] AxelKhaldeev commented on #364
@kisenka
I am not experienced programmer, so sorry If I ask a stupid question.
Is it correct behaviour that after this fix there is no svgsprite in manifest.json (rails + webpacker)?

[2020-04-20 12:02] sayjeyhi opened #393 "How to use with rollup?"
Hi there.
First of all thanks to this great work.
I want to use `svg-sprite-loader` in rollup to build my icons pack:

[code]
But this will run in the rollup environment and I will use the es module with webpack. I want to build my icons pack with rollup then sprite them anywhere I use them with webpack. is it possible?

@kisenka

[2020-04-20 14:43] nbrylevv commented on #353
@kisenka yep, unfortunately there's same problem

[code]

I import icons this way
[code]
Same result as it was year ago
![Снимок экрана 2020-04-20 в 17 40 19](https://user-images.githubusercontent.com/12825240/79764553-2f171e80-832e-11ea-8cc5-24c17c067ff0.png)

[2020-04-20 21:17] nbrylevv commented on #353
Same problem with next import:
[code]

Result is
[code]

[2020-04-20 21:37] nbrylevv commented on #353
Also I've tried to generate like this (example below) but it was unsuccessful as well:
[code]

I guess there's mistake in my generating script or something. I'll keep trying to explore it this week.

[2020-04-22 05:41] sayjeyhi opened #395 "just sprite treeshaked svg files"
I was wondering if this package could handle treeshake? and just sprite svg files which presented after webpack tree shake apply?!

@kisenka

[2020-04-23 08:16] dvenediktova commented on #325
@kisenka did you check?

[2020-04-24 16:26] semirart commented on #186
Still doesn't work on 4.2.5.

[2020-04-26 14:56] entr commented on #324
In Gatsby I had to enforce the `{ esModule: false }` in loader options. I guess this also depends on the version of css-loader. In Gatsby sadly it's fairly old (1.0.1), but hey, if it works...

[2020-04-26 15:09] kisenka commented on #353
@nbrylevv it will be much faster if you create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2020-04-26 15:19] kisenka commented on #338
Published `svg-sprite-loader@4.2.6` without version detecting, but checking features instead.

[2020-04-26 15:24] kisenka commented on #309
Published in `svg-sprite-loader@4.2.6`

[2020-04-26 15:38] kisenka commented on #186
@semirart could you please create repo with minimal setup to demonstrate a problem (package.json, webpack config, SVG image and piece of your code). If you don't want to create a repository - you can create a [gist](http://gist.github.com) with multiple files.

[2020-04-26 15:41] kisenka commented on #393
@sayjeyhi this is a loader for **webpack**, not for **rollup**.

[2020-04-26 15:41] #393 closed

[2020-04-27 12:05] semirart commented on #186
@kisenka I'm not sure that the gist is needed.
My problem is related to [next-optimized-images](https://github.com/cyrilwanner/next-optimized-images) (a plugin for Next.js).
I'm trying to use SVG sprites (here is the [docs](https://github.com/cyrilwanner/next-optimized-images#sprite)). The related issue (mentioned above) – https://github.com/cyrilwanner/next-optimized-images/issues/75.

[2020-04-27 14:21] kisenka commented on #186
@semirart I'm ready to help, but I need minimal setup next.js project with svg-sprite-loader where error occurs.

[2020-04-27 17:25] semirart commented on #186
@kisenka No problem, here's the [repo](https://github.com/semirart/next-with-svg-sprites).
You can bootstrap it like this:
[code]

[2020-04-28 12:15] kisenka commented on #325
@dvenediktova fixed in `svg-sprite-loader@4.2.7`

[2020-04-28 13:06] kisenka commented on #332
Still actual with latest version?

[2020-04-28 13:16] reckter commented on #332
@kisenka Yes, still having the same error for 4.2.6 and 4.2.7.
Only changing this package to 4.1.3, fixes it immediately.

[2020-04-28 14:02] kisenka commented on #332
Can't reproduce it locally, could you please create a demo repo with reproducible error?

[2020-05-03 14:04] kisenka commented on #357
This happens when some loaders applied after svg-sprite-loader in extract mode.
@StijnMaenhaut @infabo what loaders used in your projects after svg-sprite-loader. If it's inconvenient I can remove this warning.

[2020-05-03 14:05] kisenka commented on #361
@etozhkirill could you please make a PR with typings?

[2020-05-04 12:08] Dima-Dim opened #398 "option extract: true. Why is -usage added?"
- Node.js version: 10.15.0
- webpack version: 4.43.0
- svg-sprite-loader version: 4.3.0

In source svg code:
[code]
When using the extract: true option, compiling yields:
[code]
Why is -usage added? As a result, the link becomes invalid.

[2020-05-04 12:15] infabo commented on #357
I guess it is the image-webpack-loader thats running after. So the warning is there for a reason. But es @StijnMaenhaut already stated, priority/order of loeads cant be changed in webpack encore. So it may be a thing to fix in encore instead.

[2020-05-04 13:46] kisenka commented on #357
So I closing this issue?

[2020-05-04 13:48] kisenka commented on #398
Because iconname is an id of sprite symbol and it's usage can be the same:

[code]

[2020-05-07 22:56] dmitry commented on #266
@alxpsr @moltar have you solved this issue? Looks like it's somehow related to the css loaders, which might strip out the `style` tags.

[2020-05-08 20:44] kisenka commented on #266
I can't reproduce an error. In both cases (normal & extract mode) style tags are presented in resulting code:
![image](https://user-images.githubusercontent.com/2714771/81447689-c8935c80-9185-11ea-98d9-6c319e01f449.png)

Could someone create a repo with **reproducible** error please?

[2020-05-10 15:20] kisenka commented on #381
Detecting webpack version has been dropped in `svg-sprite-loader@4.2.6`

[2020-05-10 15:20] #381 closed

[2020-05-10 15:22] kisenka commented on #366
Should be fixed in `svg-sprite-loader@4.2.6`

[2020-05-10 15:22] #366 closed

[2020-05-10 15:33] kisenka commented on #186
@semirart I'm getting following error:

![image](https://user-images.githubusercontent.com/2714771/81503437-4a9d9580-92ec-11ea-9df5-e16ada19a618.png)

[2020-05-10 18:12] semirart commented on #186
@kisenka Sorry, forgot to add all files. I've updated the repo, you can try it again.

[2020-05-11 20:06] kisenka commented on #186
Fixed in `svg-sprite-loader@5.0.0`

[2020-05-13 08:14] semirart commented on #186
@kisenka I confirm, that the issue is resolved in 5.0.0. Thank you!

[2020-05-13 12:45] LedzZm opened #401 "No color on produced svg sprite."
Hi everyone. This post is more of a question than an issue. I am new to webpack so I am probably missing something trivial, but please bear with me.

So to give you some context. I am working on a Laravel project and i would like to experiment with svg sprites, to investigate the performance improvement (if any), on the load times and or total size of resources that need to be downloaded.

So my s

[2020-05-15 08:10] adenisovgit commented on #297
Any progress on this issue? I have same problem now. In building prod svg-sprite created, but not connected to index.html. In dev mode - every single svg processing produce same error:
'ExtractPluginMissingException: svg-sprite-loader exception. svg-sprite-loader in extract mode requires the corresponding plugin'

[2020-05-15 16:55] adenisovgit opened #402 "extract: true produces sprite with broken structure (all symbols and gradients included in def)"
First I used loader without extraction and it works perfect, just index.html has too heavy - plus  600kb.
Structure of svg sprite in this mode was:
![71a1c9c519](https://user-images.githubusercontent.com/9318214/82075995-ced58b80-96e5-11ea-8268-9224b2ee50e0.jpg)
All the symbols on upper level. all the gradients inside defs inside symbols - that is OK.

Then I set extract: true and resulted sprite.

[2020-05-16 12:19] ceonizm commented on #313
Hello I just encountered the same problem.
I wanted to use an inline svg sprite map like it is described in the example.
After searching a bit it seems that there are breaking changes in html-webpack-plugin which makes this plugin not compatible with the latest version of html-webpack-plugin (at this time 4.3.0).

I solved my problem temporarily by forcing the version to 3.2.0.
it would be a good

[2020-05-20 21:20] sultan99 commented on #297
@adenisovgit
I have resolved the issue, please check it here: https://github.com/sultan99/pizza-order
after running `npm run build`

In public folder you will find `sprite.svg` file which contains all svg (sprites). Check webpack.config and svg plugins. You don't need ramda or cdn plugin.

[2020-05-20 21:38] sultan99 commented on #297
@kisenka I'm really sorry, I have missed your reply. As I mentioned above, I have resolved it but not sure how far is it in correct way.

[2020-05-21 11:33] adenisovgit commented on #402
I resolved the issue with recommendation  from [this issue](https://github.com/JetBrains/svg-sprite-loader/issues/177), with direct DOM manipulation:
[code]

Just keep in mind, when you inject sprite in document do not use "display: none" for hiding the spritestorage, because this will lead to losing gradients. Hide it with positioning, for instance.

[2020-05-21 11:33] #402 closed

[2020-05-26 10:29] dmnsgn commented on #349
The only solution I see for now is to not use hashing and use the default sprite.svg:

[code]

but we loose all the advantages of hashing (most notably caching in the browser). A workaround is to post process the generated html and manually add an id as query parameter:

[code]

Obviously post processing this is not ideal. Ideally `xlink:href` should receive the sprite file path from svg-sprite-lo

[2020-06-01 07:08] stijn-maenhaut commented on #357
Yes, you can close the issue. Needs to be fixed in Webpack Encore.

[2020-06-01 07:08] StijnMaenhaut commented on #357
Yes, you can close the issue. Needs to be fixed in Webpack Encore.

[2020-06-01 10:51] #357 closed

[2020-06-01 21:40] LedzZm commented on #401
Well some time has passed and no answer has been given and since the svg displays normally when you reference it, i will be closing this and if someone has any input, just reopen. Thanks.

[2020-06-01 21:40] #401 closed

[2020-06-02 08:48] #297 closed

[2020-06-03 11:47] Friksel opened #405 "plainSprite opion in loader instead of plugin"
**Do you want to request a feature, report a bug or ask a question?**
Feature request / Question

**What is the current behavior?**
plainSprite only seems to work when used in the plugin, but that seems to make it impossible to have two streams in a webpack config: one with plainSprites turned on (to generate a sprite file without color-information, like simple icons), and one with plainSprites tu

[2020-06-10 12:12] igordos opened #406 "Example interop-with-html-webpack-plugin not working with html-webpack-plugin v4.3.0"
Code in [template.ejs](https://github.com/JetBrains/svg-sprite-loader/blob/2019115151723d98e80f14d806e2f518ee9c6191/examples/interop-with-html-webpack-plugin/template.ejs) not working with html-webpack-plugin v4.3.0, but working with v3.2.0.
[code]
- Node.js version: 12.16.1
- webpack version: 4.43.0
- svg-sprite-loader version: 5.0.0
- OS type & version: Windows 10

Can you update code for new ve

[2020-06-12 08:51] davidpelayo commented on #200
Any progress on this?

[2020-06-20 01:33] MorevM commented on #320
Works as expected, just change `_sprites` to your folder which contains subfolders with icons.
[code]

[2020-06-22 15:58] sqal commented on #406
Yeah, I ran into the same issue. As a workaround you can use this snippet to inject your SVGs instead of the old one:

```<%= compilation.assets["sprite.svg"].source() %>```

[2020-06-25 02:33] sam-binary commented on #356
@demyan1411 I have the same issue, is there a solution already?

[2020-07-01 11:09] ManvendraSK commented on #282
I don't have the code access now. I left the organization for which I was working.

[2020-07-02 09:09] SasSam opened #407 "Doesn't work with Laravel Mix"
I try to use Laravel Mix (v5.0.4) and extend it with SVG sprite loader to generate SVG sprite. I have the following folder structure:

[code]

The content of `webpack.mix.js`:
[code]

The content of `webpack.sprite.js`:

[code]

It does NOTHING in regards sprite, but it generates the CSS from SASS! :( I don't know why... Tried to "debug" it with some console.log() in the extension and it was hit,

[2020-07-08 12:51] quasarchimaere commented on #406
I am currently also running into this issue, however the approach of @sqal does not work for me since my sprite contains a contenthash (or i am missing some webpack.conf parameters), can someone help me out here?
- [webpack.config.ts](https://github.com/researchstudio-sat/webofneeds/blob/master/webofneeds/won-owner-webapp/src/main/webapp/webpack.config.ts)
- [template.ejs](https://github.com/resea

[2020-07-08 15:56] tragid commented on #243
@kisenka Any updates on this issue? If is it possible to render SVG on both client and server side?

[2020-07-08 15:57] msinghal56 opened #408 "SVG icons getting corrupted while using file-loader along with svg-sprite-loader"
The following Webpack loaders/pluging are used in our project –

- CopyPlugin – To copy all the assets to the build folder
- File Loader – To Resolve import/require() on a file into a url and emits the file into the output directory
- Svg Sprite Loader – To generate sprite from the svg’s to be used for icons

### Issue –

The copy plugin is copying all the assets inside the build/images correctly.

[2020-07-10 19:17] sayjeyhi commented on #395
Did some one find a way or have an idea about doing this?

[2020-07-25 16:37] platinumwizard commented on #407
@SasSam

In webpack.mix.js delete .sprite().
Next line add: mix.sprite();

I've just checked, and it works.

![изображение](https://user-images.githubusercontent.com/47780753/88461679-02d7e480-cebf-11ea-80a0-cad51ea51b8e.png)

[2020-07-27 22:24] dword-design commented on #185
I actually wrote a Nuxt module that does it. Maybe it's still of interest:
https://www.npmjs.com/package/nuxt-svg-sprite-loader

[2020-07-29 11:57] quasarchimaere commented on #406
i am still searching for a working solution for this issue, is there a new way to do this now? @kisenka

[2020-08-05 12:55] morriq commented on #362
👍  also why it's not working currently? maybe I could implement it.

[2020-08-18 11:53] rjeny commented on #406
@quasarchimaere as I see your config you set `plainSprite: true` in SpriteLoaderPlugin, so you will only have `sprite.svg` and code below will work.

But if it`s not true. Ask yourself a question: you want to hash objets, that you want to be inline. For what?)

[2020-08-19 09:01] quasarchimaere commented on #406
@rjeny i will try the approach you suggested and will get back to you on that, i see your point, inlining the sprite makes the hash useless. I think inlining would just be a workaround for me anyway, what i actually would have liked to achieve is to include (and preload) the hashed spritesheet in the template/index.html -> similar to the js and css resources in our project.

[2020-09-03 16:35] kush1960 commented on #294
I can't answer all of that, but I removed this plugin an switched to [https://github.com/JetBrains/svg-mixer/tree/master/packages/extract-svg-sprite-webpack-plugin](url) and everything now works perfectly

[2020-09-04 19:28] kush1960 opened #411 "Symbol with id "filter" already exists. It happens when you require SVGs with the same file name from different folders."
Hi after much trial and error I've managed to get `extract-svg-sprite-webpack-plugin` to successfully build a spritesheet from a folder of SVGs and transpile my SCSS path to the correct symbol reference.

However I get this annoying warning every-time the build task runs:
` WARNING in ./src/svg/filter.svg
    Module Warning (from ./node_modules/extract-svg-sprite-webpack-plugin/lib/loader.js):

[2020-09-07 09:22] kush1960 commented on #411
Looking into this further, it appears that SpritePlugin.loader is running generating the sprite sheet twice.
If I remove one of the entry points below:
[code]
It works without errors.

[2020-09-07 12:33] kush1960 commented on #411
Ignore me, I just noticed I had this in my index.js file `require.context('./svg', true, /\.svg$/);`

[2020-09-07 12:33] #411 closed

[2020-09-16 16:00] denizkoele commented on #386
Overwriting our global typing in TypeScript to make svg imports work with react-inline-svg.

Workaround is to use [path mapping](https://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping) to redirect next-images typing to a custom file.

tsconfig.json
`{
  "compilerOptions": {
    ...
    "paths: {
      "next-images": ["./local_types/whatever.d.ts"]
    }
  }
}`

./local_ty

[2020-09-23 02:34] liqiang-xxfy opened #412 "How to generate spritesheet in server side with nuxt？"
**Do you want to request a feature, report a bug or ask a question?**

Question

**What is the current behavior?**

In my nuxt project, spritesheet is generated on the client side, and the icon display is very slow.

**What is the expected behavior?**

What can I do to generate a spritesheet on the server side.

[2020-10-11 05:28] dkrnl commented on #359
webpack 5 released https://webpack.js.org/blog/2020-10-10-webpack-5-release/

[2020-10-12 11:26] zamanruhy opened #413 "Fails with webpack 5: Cannot find module 'webpack/lib/RuleSet'"
I am facing a problem with webpack 5.

I have the following settings:

[code]

and getting the next error:

[code]

Loader not ready for webpack 5 yet?

[2020-10-15 17:51] titanve commented on #413
Hello! Any fix for this issue?

[2020-10-16 02:49] marvin-aoanan opened #414 "Error: Cannot find module 'webpack/lib/RuleSet'"
Error: Cannot find module 'webpack/lib/RuleSet'

[2020-10-16 02:57] #414 closed

[2020-10-16 11:17] DiFuks commented on #413
Please merge this pull request https://github.com/JetBrains/svg-sprite-loader/pull/403

[2020-10-18 15:21] Krasnopir commented on #413
i became to use @svgr/webpack
https://www.npmjs.com/package/@svgr/webpack

[2020-10-21 10:44] lt1129 opened #415 "ie edge does not support the method "querySelectorAll" of symbolNode"
Bug info:
  IE edge does not  support the method "querySelectorAll" of symbolNode,
so there is a js error in IE edge.

My fix suggestion：
  add this judgement:  if (typeof node.querySelectorAll === 'function') {

var evalStylesIEWorkaround = function (node) {
    var updatedNodes = [];

    // Maybe add this judgement，you can fix the bug
    if (typeof node.querySelectorAll === 'function') {

[2020-10-23 06:55] sayjeyhi commented on #395
I used babel `transform-imports` and now I just sprite real used SVG files

[2020-10-23 10:36] LamHaiMy commented on #313
I have downgrade svg-symbol-sprite-loader to 3.1.0, it works with my webpack-bundle-analyzer is 3.1.0

[2020-10-30 03:20] yunyuyuan opened #416 "Is there has some way to extract every single svg file?"
svg-sprite-loader is a very fantastic project.I have a question when i use it:
I have tried to use `extract: true`,but it seems that all the SVGs will be packed into one `sprite.svg` file that has big size,and all svg file would be load at sprite.it's waste of resources in some web page that only used a few svg files.
Can i extract all svg to multiple files,then i can load them on demand?

[2020-10-30 06:35] yunyuyuan commented on #416
Okey,I have found a solution;
**vue.config.js**
[code]
**index.js**
[code]
**SvgIcon.vue**
[code]

[2020-10-30 06:35] #416 closed

[2020-10-31 06:17] DiFuks commented on #413
@Krasnopir I need runtime sprite injection (https://github.com/JetBrains/svg-sprite-loader#runtime-configuration)
As I understand it, @svgr/webpack does not support this mode

[2020-10-31 08:53] Krasnopir commented on #413
@DiFuks I agree. Not suitable for all cases. For some projects, it is impossible migrate, so those projects stay on 4 webpack. But this is a good alternative for that projects where you can use embed svg instead of a sprite.
SVGR is not suitable in cases when there are many repeated icons on the page. For example - catalog with infinity scroll and many icons on product cards (favorite, basket, pho

[2020-10-31 09:00] DiFuks commented on #413
@Krasnopir Thanks for the answer. I am working with a legacy project. So I will wait for a new version of the svg-sprite-loader)

[2020-11-12 14:40] semiaddict commented on #413
I managed to get my setup working with webpack 5 by simply commenting out the following lines from node_modules/svg-sprite-loader/lib/utils/index.js :

- module.exports.getMatchedRule = require('./get-matched-rule');
- module.exports.MappedList = require('./mapped-list');

Those exports are the ones using `webpack/lib/RuleSet`, and they both don't seem to be used anywhere,

[2020-11-17 17:10] xirclebox commented on #147
I just ran across this very issue today. Has the work/investigation into fixing been dropped?

[2020-11-21 20:34] mmd-app commented on #413
Hi, any update?

[2020-11-23 15:57] glen-84 commented on #413
Duplicate of #359.

[2020-12-01 03:32] zhongzhong0505 commented on #359
any updates?

[2020-12-01 14:18] infabo commented on #166
Hey pals!

Come over to https://github.com/bensampaio/external-svg-sprite-loader

The external-svg-sprite-loader has it working.

Cya!

[2020-12-04 15:01] izaika commented on #413
Found a workaround without forking or publishing packages.
in the root of your project directory create two files:

// funcMock.js
`module.exports = () => {}`

// prebuild.sh
`
#!/bin/bash

cat ./funcMock.js > ./node_modules/svg-sprite-loader/lib/utils/get-matched-rule.js
`
Make sure prebuild.sh has enough permissions to be executed (sudo chmod 777)

change your build (or start) script in package

[2020-12-04 15:06] izaika commented on #359
Found a workaround without forking or publishing packages.
In the root of your project directory (where your package.json file situated) create two files:

// funcMock.js
module.exports = () => {}

// prebuild.sh

#!/bin/bash

cat ./funcMock.js > ./node_modules/svg-sprite-loader/lib/utils/get-matched-rule.js
Make sure prebuild.sh has enough permissions to be executed (sudo chmod 777 ./prebuild.sh)

[2020-12-04 18:10] glen-84 commented on #413
@izaika @DanielOrtel @beautyfree

You don't think this is a duplicate?

[2020-12-06 06:43] glen-84 commented on #359
Fixed in `v5.1.1` (?).

/cc @d3x42.

[2020-12-06 06:43] glen-84 commented on #413
Fixed in `v5.1.1` (?).

/cc @d3x42.

[2020-12-07 02:17] Bosch-Eli-Black commented on #413
(Note to everyone following this thread that 5.1.1 hasn't been released yet, for reasons outline here: https://github.com/JetBrains/svg-sprite-loader/pull/403#issuecomment-739306615)

[2020-12-07 09:13] d3x42 commented on #413
Should be fine now (v5.1.1 published)

[2020-12-07 09:13] #413 closed

[2020-12-07 09:13] #359 closed

[2020-12-07 11:06] yura999999999 opened #417 "Cannot find module 'webpack/package.json' problems returned"
Hi there,

After upgrade version to 5.0.0 (commit https://github.com/JetBrains/svg-sprite-loader/commit/b34b2b2ea168a88b451dd3726344fee037cc946c)

Problems with getWebpackVersion returned
https://github.com/JetBrains/svg-sprite-loader/issues/338
https://github.com/JetBrains/svg-sprite-loader/issues/309

Previously was fixed by https://github.com/JetBrains/svg-sprite-loader/commit/7131578

@d3x42 A

[2020-12-07 11:47] d3x42 commented on #417
@yura999999999 It's a bug caused by merged PR with webpack 5 support

[2020-12-08 09:14] zhongzhong0505 opened #418 "(node:27048) [DEP_WEBPACK_MODULE_ISSUER] DeprecationWarning: Module.issuer: Use new ModuleGraph API"
**Do you want to request a feature, report a bug or ask a question?**

**What is the current behavior?**
(node:27048) [DEP_WEBPACK_MODULE_ISSUER] DeprecationWarning: Module.issuer: Use new ModuleGraph API
**What is the expected behavior?**
no warning

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of yo

[2020-12-09 09:35] xinhailishi opened #419 "wish to support when webpack's target is 'node-webkit' for nw.js"
**Do you want to request a feature, report a bug or ask a question?**
report a bug .
**What is the current behavior?**
when use nw,it not works.  it  does not  inject svg to html auto.
**What is the expected behavior?**
wish to support when webpack's  target is 'node-webkit'  for nw.js and inject svg to html.
**If the current behavior is a bug, please provide the steps to reproduce, at least part

[2020-12-09 09:38] xinhailishi commented on #419
i think  it   should  update const isTargetBrowser = target => target === 'web' || target === 'electron-renderer'   to     const isTargetBrowser = target => target === 'web' || target === 'electron-renderer'||'node-webkit'||'nwjs'

[2020-12-14 07:24] Bosch-Eli-Black opened #425 "Error when `options` has not been defined"
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**

Our project uses `svg-sprite-loader` 5.1.1, `webpack` 5.10.1, and `webpack-cli` 4.2.0

When compiling the project, I get the below error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece

[2020-12-14 07:28] Bosch-Eli-Black commented on #311
@GrzegorzZajac000  Can this be closed?

[2020-12-14 07:46] GrzegorzZajac000 commented on #311
@Bosch-Eli-Black yes ;)

[2020-12-14 07:46] #311 closed

[2020-12-14 07:51] Bosch-Eli-Black commented on #311
@GrzegorzZajac000 Haha, thanks ^_^

[2020-12-14 17:44] d3x42 commented on #419
PR merged

[2020-12-14 17:44] #419 closed

[2020-12-15 02:01] LoganBarnett commented on #425
I ran into this issue during a webpack upgrade and resolved it by adding an empty `options` object to my loader:
[code]

[2020-12-15 09:50] Bosch-Eli-Black commented on #425
@LoganBarnett That fixed it! Thank you so much! 🙂

Do you think this is something that `svg-sprite-loader` should handle, or do you think it's a webpack bug?

[2020-12-15 17:41] 719media commented on #417
Is there a known way forward to fix this, or is further investigation required? This requires pinning to 5.0 otherwise it breaks linters. Thank you for any communication.

[2020-12-16 02:40] LoganBarnett commented on #425
@Bosch-Eli-Black glad it helped! Given that the stack you posted is within the loader itself, I would think `svg-sprite-loader` probably should address the issue. That said I'm not 100% certain how the two interplay :)

[2020-12-17 03:48] Bosch-Eli-Black commented on #425
@LoganBarnett Sounds good. Thanks again 🙂

[2020-12-17 19:16] Friksel commented on #417
Having the same issue here. It's even blocking the full eslint checkup by the VS Code eslint extension on the project so it's even causing Eslint to not resolve paths.

A quick workaround in your project is to goto the file `node_modules/svg-sprite-loader/lib/utils/get-webpack-version.js` and change the const `webpackVersion` to a hardcoded string of your webpackversion, like so:

[code]

Could th

[2020-12-18 21:26] ryanjmack commented on #417
We have this same issue, but it seems to happen when we go from v5.0.0 -> v5.1.1 or v5.2.1. We are still on webpack v4.44.2

We've had to downgrade this dep back to v5.0.0

[2020-12-19 10:51] d3x42 commented on #417
Hey folks, could you please provide a repo with a working example of this issue?

[2020-12-20 15:52] Friksel commented on #417
I don't believe that's really necesary as it was fixed before by not sniffing the webpack version, but using feature detection. The current version obviously does sniff the webpak version instead. Please take a look at the references in the 'opening post'.

[2020-12-21 08:08] d3x42 commented on #417
@Friksel current version use webpack ver detection for correct work with webpack 5. I need an example of the issue to be sure that after the fix it will work correctly.

[2020-12-22 18:55] 719media commented on #417
The problem is the inclusion of the getWebpackVersion from utils. That function is bad as it overwrites require.main property. This causes problems in different engines (like vs code). Feature detection should be used instead of this method. At a minimum, require.main shouldn't be getting toyed with.

I wrote about it earlier in this issue: https://github.com/JetBrains/svg-sprite-loader/issues/381

[2020-12-23 11:20] equinusocio opened #426 "xlink is deprecated in SVG 2"
**What is the current behavior?**

`<use xlink:href="#id">`

**What is the expected behavior?**

`<use href="#id">`

**If this is a feature request, what is motivation or use case for changing the behavior?**

SVG 2 deprecated the `xlink` attribute, all major browsers now support the new standard `href` inside the use element. More info here: https://developer.mozilla.org/en-US/docs/Web/SVG/Attrib

[2020-12-23 19:02] zecka opened #427 "spriteFilename and outputPath seems not work"
- Node.js version: v12.14.0
- webpack version: ^5.11.0
- svg-sprite-loader version: ^5.2.1
- OS type & version: Mac OS Mojave (10.14.6)

# Current output

[code]

# Expected output

[code]
# Github repo issue

Here is a repo to reproduce this issue: https://github.com/zeckaissue/svg-sprite-loader-issue

# My webpack config

[code]

[2020-12-24 02:15] xcchcaptain commented on #415
I got the same problem at
webpack 3.6.9
svg-sprite-loader:4.1.3
OS type: windows 10
browser:IE11 ,IE edge

[2020-12-29 08:51] shameleo opened #428 ""Compiling RuleSet failed: Properties generator are unknown" error"
**Do you want to request a feature, report a bug or ask a question?**
Bug
**What is the current behavior?**
When I use [webpack 5 Asset Modules feature](https://webpack.js.org/guides/asset-modules/) and `svg-sprite-loader` **at the same time**  I get error mentioned in title.
**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader conf

[2021-01-02 01:57] serveboy opened #429 "How can i use svg file in node_modules packages?"
now my svg files is under my project src file. it goes right .
can i delete it , and quote svg file in node_modules package?
how to do ?

[2021-01-02 08:53] serveboy commented on #429
i changed another project .and it does work. what i do :
in main.js i import svg inside  node_modules package .
in vue.config.js ues svg-sprite-loader to pack path :node_modules/xxx/src/icons  .
am i right?

[2021-01-09 13:02] dmnsgn opened #430 "[DEP_WEBPACK_DEPRECATION_ARRAY_TO_SET] DeprecationWarning: Compilation.modules was changed from Array to Set (using Array method 'filter' is deprecated)"
**Do you want to request a feature, report a bug or ask a question?**

Deprecation warning

**What is the current behavior?**

When running with --trace-deprecation,

[code]

**What is the expected behavior?**

No warning

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
**The best way is

[2021-01-09 17:00] dmnsgn opened #432 "[DEP_WEBPACK_MODULE_CHUNKS_ITERABLE] DeprecationWarning: Module.chunksIterable: Use new ChunkGraph API"
**Do you want to request a feature, report a bug or ask a question?**

Deprecation warning

**What is the current behavior?**

When running with --trace-deprecation,

[code]

**What is the expected behavior?**

No warning

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
**The best way is

[2021-01-20 22:52] antongorodezkiy commented on #324
Thank you @entr `esModule: false` makes it work in my vue project

[code]

[2021-01-25 02:58] llushikang opened #434 "How to use svg-sprite-loader with vite"
I am using vite but vite does not seem to have webpack.

[2021-01-25 23:24] Flight commented on #427
Same issue here after updating to Webpack 5.

[2021-01-26 09:44] Flight commented on #427
I think I've found a temporary fix, just use an arrow function:
`spriteFilename: () => "icons.svg"`
Or if you would like to have chuncks:
`spriteFilename: () => isProduction ? "icons.[hash:10].svg" : "icons.svg"`

[2021-01-28 02:54] alkorlos commented on #321
This problem has already been raised in https://github.com/JetBrains/svg-sprite-loader/issues/304
@kisenka wrote there "But why you need width and height, if you already has viewBox?", I can explain this moment.

viewBox defines the position and dimension of an SVG viewport, not sizes. SVG without sizes goes to the default size of 300px width and 150px height. For many icons other defaults are mor

[2021-01-28 20:59] Pet3ris commented on #267
This is the full implementation if someone is interested:

[code]

[2021-01-29 03:10] Lstmxx commented on #434
by myself, i write a vite plugin to do it

[https://vitejs.dev/guide/api-plugin.html](url)

ceater ts file and write
[code]
import this file in vite.config and add it in the plugin array
[code]

[2021-01-29 03:23] llushikang commented on #434
多谢大佬！

[2021-02-03 10:49] bzin commented on #417
I start having this problem updating to the latest version of Next.js.
Without the loader everything works fine so hopefully a fix and solution can be added soon.

https://github.com/vercel/next.js/issues/21789

[2021-02-07 00:21] joseareland commented on #427
The same here, still no luck on finding a solution.

[2021-02-18 22:39] nerisina commented on #218
Hello, I am having a similar issue with the `svg-sprite-loader` I am using storybook with vue js
<img width="400" alt="Screen Shot 2021-02-18 at 3 26 18 PM" src="https://user-images.githubusercontent.com/874455/108426757-29b68900-720a-11eb-882a-b7ab194211b6.png">

My webpack config looks like this:

[code]

I also check out the git repository from @folmert and the HTML for the SVG isn't working.

[2021-02-19 15:09] nikosdrog commented on #407
I have the same issue.
Does anyone have any suggestion.

[2021-02-21 13:45] Friksel commented on #417
I've also downgraded all projects to 5.0.0 now. Having to change that function everytime we update node_modules is a pain.

[2021-02-24 21:21] kirill-konshin opened #435 "Usage with Storybook 6.2.0-beta.2 fails due to improper resolution of Webpack"
**What is the current behavior?**

If user has Storybook of version 6.2 and newer, and if user has it configured to use Webpack 5, there will be two Webpack versions installed: version 5 for stories and version 4 for manager. Somehow the following statement in file `lib/utils/get-webpack-version.js`

[code]

Returns the version 4, I patched in `node_modules` to

[code]

And it properly resolved to

[2021-02-25 03:33] shilman commented on #435
@kirill-konshin how do I repro this?

[2021-02-25 08:27] kirill-konshin commented on #435
Here's the sandbox: https://codesandbox.io/s/frosty-hooks-2kl7e?file=/.storybook/main.js

If it does not launch automatically, create a new terminal tab and do `yarn start`, you'll see:

[code]

Somehow there's no true trace, but it's this line: https://github.com/JetBrains/svg-sprite-loader/blob/master/lib/utils/get-matched-rule-4.js#L3 and as you see, it's for WP4...

[2021-02-25 20:57] kirill-konshin commented on #435
So far I came up with following fix:

1. Make sure `svg-sprite-loader` is not hoisted if you use yarn workspaces or similar, and it has fixed version `5.2.1`
2. Install `patch-package` and `postinstall-postinstall`, and add `postinstall: patch-package` script, instruction https://github.com/ds300/patch-package#yarn
3. Add a patch `patches/svg-sprite-loader+5.2.1.patch`:
[code]

Did the trick for m

[2021-03-01 06:40] Aqours opened #436 "[Performance] Use macrotask to improve `mount` performance when we have many svg files"
**Do you want to request a feature, report a bug or ask a question?**

Request a feature

**What is the current behavior?**

![image](https://user-images.githubusercontent.com/8586286/109459876-99463700-7a9a-11eb-8d29-f25bfb2e636a.png)

The total `mount` time is too long when there have many svg files.

**What is the expected behavior?**

Use macrotask to improve `mount` performance

**If this is

[2021-03-01 08:46] Aqours commented on #436
https://github.com/JetBrains/svg-sprite-loader/blob/d2165576cab02ec59d6d6eb6b0346d5bfd14fa9b/lib/runtime-generator.js#L48

It seems that I could override this line with `window.setTimeout(function() { sprite.add(symbol) })`  on config.runtimeGenerator to improve `mount` performance.

Close.

[2021-03-01 08:46] #436 closed

[2021-03-01 20:55] kamilmielnik opened #437 "Webpack 5: Cannot find module 'webpack/lib/RuleSet'"
**Do you want to request a feature, report a bug or ask a question?**

Bug

**What is the current behavior?**

I'm getting the following error when using webpack 5:

[code]

**What is the expected behavior?**

No error.

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**

1. Clone this repo:

[2021-03-04 12:48] bencresty opened #438 "sprite loader doesn't work with multiple loaders (having multiple in- and outputs): all svg's go into first sprite"
**Do you want to request a feature, report a bug or ask a question?**
Report a bug

**What is the current behavior?**
When adding the loader multiple times on different in- and outputs all sprites get added to the first file and the second sprite file isn't created.

**What is the expected behavior?**
All sprites from source A rendered to sprite A and all sprites from source B rendered to sprite B

[2021-03-06 13:06] #430 closed

[2021-03-06 19:05] d3x42 commented on #437
I'm working on a fix, please try svg-sprite-loader@5.2.1-remove-get-webpack-version

[2021-03-06 19:06] d3x42 commented on #417
I'm working on a fix, please try svg-sprite-loader@5.2.1-remove-get-webpack-version

Also, it would be great if someone checks PR: https://github.com/JetBrains/svg-sprite-loader/pull/440

[2021-03-08 05:57] zilie opened #441 "source"
**Do you want to request a feature, report a bug or ask a question?**

**What is the current behavior?**

**What is the expected behavior?**

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
**The best way is to create repo with minimal setup to demonstrate a problem (package.json, webpack

[2021-03-08 05:57] #441 closed

[2021-03-08 10:23] Friksel commented on #417
Just did a quick check with `5.2.1-remove-get-webpack-version` and the issue seems gone. Didn't do much testing and didn't check all svg-sprite-loader features though, but the problems getWebpackVersion was causing here aren't there anymore and Webpack doesn't complain using the loader and plugin for creating sprites on a projecct here.

Thanks!

[2021-03-09 10:10] rumsky commented on #437
Same issue on webpack 4.44.1

[2021-03-10 11:54] maxstolze opened #442 "SVG "animate" not working in chrome"
Bug

**What is the current behavior?**
Loading a svg with including `<circle ...><animate ../></circle>` tag is not working in Chrome ( 88.0.4324.190), but working in
Firefox (86.0). OS animation is activated.

**What is the expected behavior?**
Animation should be shown.

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configu

[2021-03-13 07:21] kamilmielnik commented on #437
@d3x42 I confirm that svg-sprite-loader@5.2.1-remove-get-webpack-version fixes the issue!

[2021-03-13 08:42] #437 closed

[2021-03-13 08:57] #417 closed

[2021-03-13 08:58] d3x42 commented on #417
fix released in svg-sprite-loader@6.0.0

[2021-03-15 10:25] stefpb opened #443 "Error: Rule can only have one resource source (provided resource and test + include + exclude) in 6.0.0"
**Do you want to request a feature, report a bug or ask a question?**

**What is the current behavior?**
![image](https://user-images.githubusercontent.com/1069441/111138449-3b2c5000-8580-11eb-8a10-41f09da690a7.png)
`[webpack-cli] Error: Rule can only have one resource source (provided resource and test + include + exclude) in {
  "enforce": "pre",
  "loader": "eslint-loader",
  "options": {
    "

[2021-03-16 15:01] shorielov opened #444 "Webpack 5 with svg-sprite-loader@6.0.0 compilation error"
When I try to build a project I got an error: "TypeError: Cannot read property 'tap' of undefined"
Webpack version is 5.26.0

`
TypeError: Cannot read property 'tap' of undefined
    at /node_modules/svg-sprite-loader/lib/plugin.js:82:14
    at Hook.eval [as call] (eval at create (/node_modules/webpack/node_modules/tapable/lib/HookCodeFactory.js:19:10), <anonymous>:13:1)
    at Hook.CALL_DELEGATE

[2021-03-17 00:44] joseareland commented on #444
This one happens when using `extract: true` and the SpriteLoaderPlugin. .tap is an utility method on the bluebird JS library.

[2021-03-17 02:53] lc11235 commented on #434
多谢

[2021-03-17 06:55] codcer opened #445 "In webpack4, 5, the same configuration, the packaging structure is different, resulting in SVG rendering is not out"
![image](https://user-images.githubusercontent.com/7337505/111426981-5fc72a00-8730-11eb-88d7-38fc1667e3c2.png)
![image](https://user-images.githubusercontent.com/7337505/111427082-84bb9d00-8730-11eb-8a9c-2d8264e1fd51.png)

code:
[code]
svg is not out

[2021-03-17 12:54] dmnsgn commented on #444
Seems to be actually due to a missing compilation hook here: https://github.com/JetBrains/svg-sprite-loader/blob/89cfdd518c4665e85b0e6c1ababd3c9809dcfd75/lib/plugin.js#L80-L82

[2021-03-17 13:56] shorielov commented on #444
@dmnsgn Yes. And I can't create a build with svg-sprite-loader@5.2.1 and webpack@5.26.0

    at /node_modules/webpack/lib/ModuleGraph.js:720:12
    at deprecated (internal/util.js:89:15)
    at Function.getModuleGraphForModule (/node_modules/webpack/lib/ModuleGraph.js:711:18)
    at NormalModule.get issuer [as issuer] (/node_modules/webpack/lib/Module.js:278:22)
    at isModuleShouldBeExtracted (/

[2021-03-18 10:20] d3x42 commented on #444
Please try svg-sprite-loader@6.0.2

[2021-03-18 10:23] d3x42 commented on #443
Could you please provide a git report with the same reproduced issue?

[2021-03-18 10:31] dmnsgn commented on #444
@d3x42 works fine for me 👍

[2021-03-18 10:52] shorielov commented on #444
@d3x42 still reproduce the error

webpack: 5.26.0

                      throw new Error(
                                        ^

Error: Module.issuerThere was no ModuleGraph assigned to the Module for backward-compat (Use the new API)
    at /node_modules/webpack/lib/ModuleGraph.js:720:12
    at deprecated (internal/util.js:89:15)
    at Function.getModuleGraphForModule (/node_modules/webpack/

[2021-03-18 11:44] d3x42 commented on #444
@shorielov Could you please share GitHub project with a reproduced issue or your config? It seems to be another issue.

[2021-03-18 12:03] shorielov commented on #444
@d3x42 I think it's the same issue https://github.com/JeffreyWay/laravel-mix/issues/2767

You should use the new Module API for getting the issuer.

[2021-03-18 13:00] dmnsgn commented on #444
Related to this issue, I am still getting "Use new ChunkGraph API" though: https://github.com/JetBrains/svg-sprite-loader/issues/432 (a deprecation warning)

[2021-03-18 19:12] stefpb commented on #443
I updated to 6.0.2 and rerun webpack again and i get the same error:

![image](https://user-images.githubusercontent.com/1069441/111683334-9e8adc00-8825-11eb-9153-2fb9ad9cc0f4.png)

[code]

In the meantime i replaced eslint-loader to eslint-webpack-plugin. With the svg-sprite-loader v5.2.1 it runs through, but there i get
[code]

[2021-03-19 14:01] joseareland opened #446 "Webpack 5 with svg-sprite-loader@6.0.2, some options (spriteFilename, outputPath, publicPath) have no effect"
spriteFilename, outputPath and publicPath options have no effect. No errors reported during Webpack compilation.

[2021-03-29 15:26] iuscare commented on #444
Getting the same error as shorielov on 6.0.2

[code]

[2021-03-31 10:36] AlexisWalravens opened #449 "NextJS 10.1.2 Error: Cannot find module 'webpack/lib/rules/BasicEffectRulePlugin'"
**Do you want to request a feature, report a bug or ask a question?**
Report a Bug

**What is the current behavior?**
NextJS throw this error at runtime:
`Error: Cannot find module 'webpack/lib/rules/BasicEffectRulePlugin'`

**What is the expected behavior?**
Everything to be working (had no issue with 10.0.5)

**If the current behavior is a bug, please provide the steps to reproduce, at least par

[2021-03-31 12:27] AlexisWalravens commented on #449
I added webpack to the devDependencies and the error is gone but I think it more a workaround than anything else.
It's related to that issue: https://github.com/vercel/next.js/issues/21679
Next fixed it by making the webpack object available but you don't require webpack directly so, it not working.

Also now I have this error:
[code]
There is no further stack trace.

Repo is up to date if you wan

[2021-04-08 01:29] dmngu9 commented on #449
any update on this issue?

[2021-04-08 11:05] Psychosynthesis commented on #347
Get same problem after update Webpack from 4 to 5, but property is 'version'...

[2021-04-08 13:57] SystemDZ commented on #413
npm i -D webpack solved it for me

[2021-04-10 06:09] d3x42 commented on #444
Please try svg-sprite-loader@6.0.3

[2021-04-10 06:09] d3x42 commented on #432
Please try svg-sprite-loader@6.0.3

[2021-04-10 06:23] d3x42 commented on #443
Please try svg-sprite-loader@6.0.4

[2021-04-10 07:22] d3x42 commented on #442
It's not related to the SVG loader itself. Please consider asking a question about chrome specific SVG behaviour on StackOverflow.

[2021-04-10 07:22] #442 closed

[2021-04-10 09:33] iuscare commented on #444
Thanks for the update. I am afraid, but still no success with the ModuleGraph. Same setup, just updated version generates the following stack trace:
[code]

[2021-04-10 10:29] d3x42 commented on #444
@iuscare svg-sprite-loader@6.0.5. It works on test project, I hope it'll solve your issue

[2021-04-10 11:37] iuscare commented on #444
@d3x42 yay! This seems to work. Great! I am going to test it the following days, but on first look it seems that the issue can be closed for me. Thank you so much, I really appreciate your effort.

[2021-04-11 11:30] dmnsgn commented on #432
Warning is gone, functioning as before from initial test 👍 Thanks!

[2021-04-11 11:30] #432 closed

[2021-04-12 08:18] stefpb commented on #443
With svg-sprite-loader@6.0.5 the same error :/

Tell me if there is any way I can support you better. I really want to help as best I can.

[2021-04-12 10:12] Bosch-Eli-Black opened #450 "webpack should be a peer dependency"
`svg-sprite-loader` uses `webpack` but doesn't declare it as a peer dependency, which generates warnings when using the Yarn PnP (plug and play) feature:

[code]

To fix this problem, I believe `svg-sprite-loader` should list `webpack` in its [peerDependencies](https://docs.npmjs.com/cli/v6/configuring-npm/package-json#peerdependencies) or [optionalDependencies](https://docs.npmjs.com/cli/v6/confi

[2021-04-12 10:16] Bosch-Eli-Black commented on #450
As a temporary workaround, it's possible to add this to one's `.yarnrc.yml` file:

[code]

[2021-04-13 08:22] Bosch-Eli-Black commented on #425
I think this got fixed at some point, as I'm no longer seeing this issue when using the following versions:

* `svg-sprite-loader` 6.0.5
* `webpack` 5.31.2
* `webpack-cli` 4.6.0

🙂

[2021-04-13 12:36] Emiliano-Bucci opened #451 "Cannot read property 'version' of undefined"
**Do you want to request a feature, report a bug or ask a question?**
**Bug**

**What is the current behavior?**
I get the error `Cannot read property 'version' of undefined`

**What is the expected behavior?**
It should work fine without error.

I keep getting the `Cannot read property 'version' of undefined` error using `svg-sprite-loader` with `next-optimized-images` (Next.js), and only if I us

[2021-04-14 20:25] #444 closed

[2021-04-14 20:27] d3x42 commented on #443
@stefpb It would be great if you could create a small repo with the reproduced issue.

[2021-04-15 11:00] bernhardberger commented on #428
Is this fixed yet?

[2021-04-16 06:03] KingPengZero commented on #449
nextjs10.1.2 报错，目前没有办法解决

[2021-04-19 03:58] KingPengZero commented on #451
Is there a solution？

Or other solutions？

[2021-04-19 07:27] Bosch-Eli-Black commented on #425
Never mind, just ran into this again.

[2021-04-19 08:42] d3x42 commented on #451
Please provide a repository with a reproduced issue.

[2021-04-19 11:15] KingPengZero commented on #451
https://github.com/AlexisWalravens/svg-sprite-loader-nextjs-bug-example

[2021-04-21 09:25] mr-sanders commented on #321
Seems, that svg attributes are trimmed in `extract: false` mode as well. I agree with @alkorlos - it's really inconvenient. Why don't allow configure `preserve` list of `svgToSymbol`? In my case, I have proper width/height and viewBox attributes inside the exported svg from Figma. I don't need to set them manually. I want to set default width/height attributes to the `<use>`'s parent `<svg>` eleme

[2021-04-21 09:26] pangxiaolong commented on #449
I have the same problem, but no one seems to be maintaining the issues

[2021-04-21 09:30] pangxiaolong commented on #449
Have you completely solved this mistake?

[2021-04-21 12:20] AlexisWalravens commented on #449
@pangxiaolong No, as I said it's more a workaround than anything, and it works only when using webpack 4 with NextJS if you switch to v5 the error above is still there.

[2021-04-21 17:32] LuudJanssen commented on #451
I made a PR for this issue (#452). Could be that this is actually an issue on Next.js's side, but don't have the in-depth knowledge to say anything about that.

[2021-04-22 23:30] firestar300 commented on #446
Same problem for me.

[2021-04-22 23:33] firestar300 commented on #427
Same here :(

[2021-04-23 11:08] d3x42 commented on #451
published: svg-sprite-loader@6.0.6

[2021-04-23 16:43] Emiliano-Bucci commented on #451
Now i get this error -> https://github.com/JetBrains/svg-sprite-loader/issues/449

[2021-04-24 17:44] lauraferrandof commented on #428
Any news on this bug? I'm still getting it with the latest versions of webpack and svg-sprite-loader 😢

[2021-04-24 18:18] lauraferrandof commented on #427
Same here 😢

[2021-04-26 18:03] bencresty opened #453 "Please make it possible to turn off automatically adding ids in <styles>!! It's breaking svg's"
**Do you want to request a feature, report a bug or ask a question?**

Using the sprite-loader inline styles like `.a { fill: #ff0; }` are changed by the loader to `#icon-name .a { fill: #ff0; }`. This is breaking code here as we use the `innerHTML` of the `<symbol>` with the icon.
We could add the id to the usage of that innerHTML, but than our HTML would be illegally contain duplicate ids. So th

[2021-04-27 08:51] infabo commented on #428
Bump!

[2021-04-29 14:43] someden opened #455 "In which cases loader will break SVG?"
I try to use loader in my project, but it broke all SVG images: some of them bigger, some of them changed position, color, lose some parts...
Partially it's because of deleted attrs like width and height (#321). But it's not the only reason.
So, in which cases loader will break SVG?

[2021-04-30 15:17] Cleam commented on #434
There is a plugin [vite-plugin-svg-icons](https://github.com/anncwb/vite-plugin-svg-icons) - Fast creating SVG sprites.

[2021-05-06 08:18] #428 closed

[2021-05-06 09:29] bzin commented on #449
I also have this issue.

Although the problem is gone when you add `webpack` package to dependencies.

I would rather not have `webpack` there since Next.js deals this for me.

[2021-05-16 15:17] inker commented on #455
@someden Do you also use `svgo-loader` by any chance?

[2021-05-26 08:45] someden commented on #455
@inker no

[2021-05-28 09:33] tooltonix commented on #428
When will #454 be available in a new version or when will there be a new version? i need these changes urgently.

[2021-06-05 06:29] jpvanhal opened #458 "Compiling RuleSet failed: Properties mimetype are unknown"
**Do you want to request a feature, report a bug or ask a question?**

Bug

**What is the current behavior?**

Using `SpriteLoaderPlugin` together with [`Rule.mimetype`](https://webpack.js.org/configuration/module/#rulemimetype) results in the error:

[code]

**What is the expected behavior?**

No errors.

**If the current behavior is a bug, please provide the steps to reproduce, at least part of

[2021-06-07 01:47] dskline commented on #267
Probably due to a recent update, one of the webpack rules in the default storybook config has a `rule.test` that returns undefined now. I made a small tweak to the if statement:

[code]

[2021-06-10 11:57] DhanushDK17 commented on #446
I encountered these issues in version 6.0.7

When there was no outputPath mentioned the loader had taken the publicPath to move the sprite file after build. The public path was just '/' even after I had mentioned publicPath.

[2021-06-11 13:10] IainAndrew commented on #243
Any updates? I'm following [this example](https://github.com/JetBrains/svg-sprite-loader/tree/master/examples/server-side-rendering) in a Next.js project and the sprite has no symbols in the SSR page.

[2021-06-17 18:50] kirill-konshin commented on #435
Any updates? This is still an issue...

[2021-06-21 05:24] protango opened #461 "Wrong webpack installation gets loaded in nested node project"
**Do you want to request a feature, report a bug or ask a question?**
Report a bug

**What is the current behavior?**
Consider this project structure:
* project_a
  * node_modules
    * webpack@4
  * project_b
    * node_modules
      * svg-sprite-loader@latest
      * webpack@5

If we invoke webpack on `project_b`, the plugin will require files from the `webpack@4` installation located inside `pr

[2021-06-21 05:53] protango commented on #461
@d3x42 I'm trying to fix this myself, but realised I'd basically be reverting #440 (I was going to add a webpack version check to the `get-matched-rule.js` file). Can you help me out by explaining the rationale for #440? The `get-webpack-version` code looks like it should work fine, though #437 and #417 seem to indicate otherwise. Is there some edge case where this doesn't work?

[2021-06-21 08:47] d3x42 commented on #461
@protango Please check [309](https://github.com/JetBrains/svg-sprite-loader/issues/309) and [338](https://github.com/JetBrains/svg-sprite-loader/issues/338)

[2021-06-21 08:53] ekasprzyk commented on #428
Running on 6.0.7 and still getting this issue.  Has the fix been released?  (I can't find it inside the 6.0.7 version comparison with 5.*)

[2021-06-21 09:07] #446 closed

[2021-06-21 09:11] d3x42 commented on #428
@ekasprzyk Please try 6.0.8

[2021-06-22 08:12] jpvanhal commented on #458
Fixed by #460.

[2021-06-22 08:12] #458 closed

[2021-06-23 00:17] protango commented on #461
Thanks @d3x42, I've put through another PR #463 that resolves this problem by forcing `get-matched-rule-4` to only load `webpack/lib/RuleSet` from the **nearest** webpack installation (ie. the one resolved by `require('webpack')`). This ensures incorrect webpack installations will not be loaded without having to check the version number.

[2021-06-23 09:28] d3x42 commented on #461
Seems to be fine, i hope it won't affect other users

[2021-06-23 09:29] d3x42 commented on #461
svg-sprite-loader@6.0.9

[2021-06-23 09:29] #461 closed

[2021-06-23 16:49] rrooding opened #464 "rawRule.use is not iterable"
Trying to use webpack 5 with Next.js & svg-sprite-loader with extract, I receive the following error:

`rawRule.use is not iterable`

It's this code here that is causing the issue:
https://github.com/JetBrains/svg-sprite-loader/blob/839f8786e94e3afc3edbb6533ec8f7e3c25c969e/lib/utils/get-matched-rule-5.js

It is triggered by this automatically added webpack configuration from Nx.dev/Next:

<img wid

[2021-06-24 06:24] mdudek commented on #464
I'm facing same issue, please fix it.

[2021-06-27 08:27] kovart commented on #464
The issue occurs from >= 6.0.6

[2021-07-02 09:04] Bosch-Eli-Black commented on #464
@kovart Works fine for me on 6.06 (but not 6.09) 🙂

[2021-07-02 17:04] RikoRodriges commented on #350
After 4.1.3 give Error. After 5.0.0 no Error, but return no symbols (ssr side).

[2021-07-02 21:01] Ariane-B commented on #363
Very similar issue here, also using Docker, though with node 14.15 and Buster in my Docker image.

My error looks like this:

I'm not entirely sure of the process behind the issue, but I suspect it may be related to how the plugin exports strings as code to be evaluated. The code being written on Windows; being run in Docker; through WSL; with Babel; inside another Linux distro that's run in Docke

[2021-07-06 19:23] just-website opened #465 "Webpack 5 / MiniCssExtractPlugin issue"
*Problem*
In bundle with MiniCssExtractPlugin all path to backgrond-images on svg in styles replaced from sprite url to absolute path file system.

There is an open same (issue)[https://github.com/JetBrains/svg-sprite-loader/issues/294].
The difference is only in the version of the packages

* Node v14.16.1
* Webpack v5.41.0
* svg-sprite-loader v6.0.9

[2021-07-07 11:45] skrivanos commented on #363
Experiencing something very similar in Docker (image: `node:14-slim`) when using extract mode and building via NextJS:

[code]

I can confirm that `esModule: false` also solves this case but I am worried about the implications of what @Ariane-B said.

[2021-07-07 12:06] Ariane-B commented on #363
@skrivanos I ended up using [external-svg-sprite-loader](https://github.com/bensampaio/external-svg-sprite-loader). It might be an option for you, regardless of whether JetBrains ever fixes this. It works almost the same as this one, but it's written in a very clear way that doesn't worry me at all. Options are also much less confusing.

Keep in mind though that the latest version only works with

[2021-07-08 06:28] domq commented on #464
Confirm that I can reproduce the issue in 6.08 and 6.09, but not 6.07

The following patch works for me. (If you are watching this bug, consider applying it in your own project with [patch-package](https://www.npmjs.com/package/patch-package))

[code]

[2021-07-09 01:28] Dravenxu opened #466 "SpriteSymbol is not a constructor"
**can not load page**

**chrome console error _node_modules_svg_baker_runtime_browser_symbol_js__WEBPACK_IMPORTED_MODULE_0__ is not a constructor**

****

- Node.js version:v14.17.1
- webpack version: v5.41.1
- svg-sprite-loader version: 6.0.9
- OS type & version: windows10

![1625793882(1)](https://user-images.githubusercontent.com/16648538/125009708-a8b43d00-e097-11eb-898e-ff869022efa5.jpg)
![16

[2021-07-21 10:33] MelonCode commented on #464
Are there any news about this one?

[2021-07-21 14:26] iuscare commented on #464
same for me above `6.0.7`

[2021-07-21 14:52] nueq22 commented on #464
same issue 😔 `6.0.9`

[2021-08-04 05:50] dFelinger commented on #464
The question is the answer :) "rawRule.use is not iterable"

For every rule:
Wrap "use" object with an array
or
Extract "use" object to root of the rule and remove "use"

[code]

[code]

[2021-08-04 09:35] oliver-la commented on #407
For all poor souls coming across this issue:

There is a working implementation of svg-sprite-loader for laravel mix: https://github.com/swisnl/laravel-mix-svg-sprite

# Installation:

`yarn add laravel-mix-svg-sprite`

# Configuration

Example webpack.mix.js:

[code]

Setting extract to true will only generate the svg file and you're resposible for importing it manually. Webpack can load it dynam

[2021-08-15 16:30] DhanushDK17 commented on #446
I'm still having this issue in version 6.0.9.
Assuming publicPath is the path of the file which is used by the browser for accessing the sprite.svg
the svg sprite loader doesn't add the publicPath I specify in the config
`chainWebpack: (config) => {
    const svgModule = config.module.rule('svg');
    svgModule.uses.clear();

    svgModule
      .test(/\.svg$/) // no i18n
      .use('svg-sprite')

[2021-08-17 07:48] KL13NT opened #468 "Is it possible to use this loader with @svgr/webpack?"
**Do you want to request a feature, report a bug or ask a question?**
Question

**What is the current behavior?**
`svg-sprite-loader` seems to override `@svgr/webpack` as both export a module and causes my application to crash.

**Please tell us about your environment:**

- Node.js version: v14.16.1
- webpack version: v5.46.0
- svg-sprite-loader version: 6.0.9
- OS type & version: Windows 8.1 Pro

[2021-08-19 15:08] danielweck opened #469 "incompatible PostCSS versions `svg-sprite-loader` >> `svg-baker` >> `postcss-prefix-selector` ("Error: [object Object] is not a PostCSS plugin")"
`svg-sprite-loader` depends on `svg-baker` which in turn depends on `postcss-prefix-selector`.
Problem: PostCSS v5 is not compatible with PostCSS v8

NPM dependencies tracing:

https://github.com/JetBrains/svg-mixer/blob/68f4f77f780d64883e26719a882c9893888c7099/packages/svg-baker/package.json#L23-L24

https://github.com/RadValentin/postcss-prefix-selector/blob/1ddbaf925256b4d6593ebae5a9d07b22c4273

[2021-08-19 15:11] danielweck commented on #469
Ah, seems to be fixed here:
https://github.com/RadValentin/postcss-prefix-selector/issues/94
...checking

[2021-08-19 15:27] danielweck commented on #469
I confirm that updating `postcss-prefix-selector` to the hotfix release `1.12.0` transitively fixes the `svg-sprite-loader` regression bug.
https://github.com/RadValentin/postcss-prefix-selector/issues/94#issuecomment-902007232

However, I stand by my original comment that depending on incompatible PostCSS versions (directly + transitively) is likely to cause issues in the future.

I am nonetheles

[2021-08-19 15:27] #469 closed

[2021-08-26 12:41] chrisands opened #470 "[question] html-webpack-plugin@^4 support"
**Do you want to request a feature, report a bug or ask a question?**

In html-webpack-plugin@4 they renamed hooks, so currently svg-sprite-loader doesn't support @4>. Also, they dropped webpack@<4 support. Are you planning to support html-webpack-plugin@4?

I locally fixed the package with [`patch-package`](https://www.npmjs.com/package/patch-package) and now I think of making PR to the source. W

[2021-08-29 19:00] sidletski opened #471 "Extract mode fails with pitching loaders"
**Do you want to request a feature, report a bug or ask a question?**
A bug/question

**What is the current behavior?**
Looks like svg-sprite-loader using with sprite loader plugin in extract mode doesn't work with pitching loaders

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
Create c

[2021-09-08 09:34] dimitriskot commented on #465
@just-website, hi!
Do you have some temporary workaround?

[2021-09-09 13:03] #353 closed

[2021-09-10 00:30] roamn commented on #464
@rrooding As workaround you can modify nextJs default webpack rules like this

[code]

More about it you can find [here](https://nextjs.org/docs/api-reference/next.config.js/custom-webpack-config)

[2021-09-14 08:39] nboisteault opened #473 "Security: set-value is not up to date"
**Do you want to request a feature, report a bug or ask a question?**
I have a dependabot alert :
[code]
[code]

**Please tell us about your environment:**
- svg-sprite-loader version: 6.0.9

[2021-10-04 19:34] diniscorreia opened #474 "[Question] Generate multiple sprites without different loader rules"
I'm trying to generate multiple sprites, without having to write different loader rules: for our project we want to have a directory with individual SVG icons — but that might also contain an unknown number of sub-directories, each with it's own individual icons.

When outputting, we wanted it to get the same directory structure, with each sprite in the same location as the original icons.

Would

[2021-10-13 08:25] netconomy-stephan-dum opened #475 "Bug production mode replacement in plain mode not propagated"
## What is the current behavior?
We are currently facing the issue that icons paths for external sprites are not getting replaced.

## What is the expected behavior?
The svg url should be replaced with the correct one.

also overwriting _valueAsString will fix the issue:

[code]

on top here is another improvement suggestion which is not mandatory. ;)

[code]

this could be refactored to
[code]
th

[2021-10-16 21:09] dineshtrivedi commented on #427
Any update on this issue?

[2021-10-28 12:44] #475 closed, assigned to nobody

[2021-11-04 07:42] ezoterik opened #477 "Invalid paths in css file"
**Do you want to request a feature, report a bug or ask a question?**

Bug or question

**What is the current behavior?**

After runing `npm run dev` I get (in `dist/css/main.css`):

[code]

**What is the expected behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
**The

[2021-11-07 23:17] justojo commented on #473
Same here. Am getting 5 high severity due to set-value not being up to date.

``-- svg-sprite-loader@6.0.10
  `-- svg-baker@1.7.0
    `-- micromatch@3.1.0
      `-- snapdragon@0.8.2
        `-- base@0.11.2
          `-- cache-base@1.0.1
            +-- set-value@2.0.1
            `-- union-value@1.0.1
              `-- set-value@2.0.1  deduped`

[2021-11-10 20:29] alrazihi commented on #418
[DEP_WEBPACK_MODULE_ISSUER] DeprecationWarning: Module.issuer: Use new ModuleGraph API

[2021-11-23 09:52] xyxiao001 commented on #445
maybe you should ignore webpack5 default type
![image](https://user-images.githubusercontent.com/15681693/143003171-0d513c67-5b88-470a-ab18-693e41f6a2d2.png)

[2021-11-26 15:07] huawuhe opened #478 "warning in ./src/assets/icons/home.svg Module parse failed: Unexpected token (1:0) You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders"
**Do you want to request a feature, report a bug or ask a question?**

**What is the current behavior?**

**What is the expected behavior?**

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
**The best way is to create repo with minimal setup to demonstrate a problem (package.json, webpack

[2021-11-26 15:11] huawuhe commented on #478
const path = require("path");
module.exports = {
  publicPath: process.env.NODE_ENV === "production" ? "" : "/",
  outputDir: process.env.NODE_ENV === "production" ? "dist" : "devDist",
  lintOnSave: false,
  // 配置svg
  chainWebpack: (config) => {
    config.module.rules.delete("svg");
    config.module
      .rule("svg-sprite-loader")
      .test(/\.svg$/)
      .include.add(path.resolve("@/asset

[2021-11-26 15:14] huawuhe commented on #478
top is my code,lastly i change code at here,
before:    .include.add(path.resolve("@/assets/icons"))
change:  .include.add(path.resolve("src/assets/icons"))
hope can help you

[2021-12-08 14:37] Nialaren commented on #427
same here :(

[2021-12-10 13:54] KingSora commented on #465
Good day! 😃

For everyone who has the same issue, I wrote a somewhat dirty fix for that by creating a new plugin which extends from the `SpriteLoaderPlugin`:
[code]

Now you can just use the new `MiniCssExtractSpriteLoaderPlugin` in your webpack config and it should work.
Note: I wrote this for our own purposes / usecases and not as a general solution so older webpack versions won't work

[2021-12-10 13:57] KingSora commented on #294
Wrote a fix for Webpack 5, so in case you stumble upon this issue or you need inspiration for the fix: https://github.com/JetBrains/svg-sprite-loader/issues/465#issuecomment-990993090

[2022-01-13 14:56] sqal commented on #470
Hey @chrisands Could you paste instructions on how to patch this plugin so it works with the latest version of html-webpack-plugin?

[2022-01-14 13:45] Borovensky opened #479 "Webpack 5! Is svg-sprite-loader compatible with Webpack 5?"
**Webpack 5! Is svg-sprite-loader compatible with Webpack 5?**
I update my application from 4 to 5 webpack and seems sprite stop working properly.
svg-sprite-loader is not generated symbol anymore, instead I got this data `data:image/svg+xml;base64`

**Current behavior**
I receive this as output:
![Screenshot from 2022-01-14 15-13-03](https://user-images.githubusercontent.com/16164749/149522543-71

[2022-01-14 22:05] chrisands commented on #470
@sqal sure, here's diff. I'll try make PR
[code]

[2022-01-14 22:06] chrisands commented on #479
Here #470 I posted diff that also adds webpack@5 support.

[2022-01-17 08:10] Borovensky commented on #479
Hi @chrisands. Thanks. I will check it out.

[2022-02-15 10:09] holloway commented on #470
Is there a plan to release this?

[2022-02-18 13:35] ianberdin opened #481 "Webpack 5 cache=filesystem"
It doesn't work with webpack 5 cache=filesystem. It works on first run, but after webpack restarted it doesn't work. (just serve index.html instead of sprite.svg)
[code]

[2022-02-25 09:58] jiikoosol commented on #479
Any news about releasing this fix?

[2022-02-25 10:12] jiikoosol commented on #470
@chrisands Any news about releasing this fix?

[2022-02-26 19:55] 719media commented on #470
@d3x42 with vue-cli v5 releasing, this is beginning to cause more problems. Any word?

[2022-03-01 12:07] d3x42 commented on #470
Unfortunately, the main maintainer of this package passed away. I'm ready to review PR with fixes If someone is ready to make them, but currently not ready to prepare changes by myself.

So feel free to prepare PR and ping me for review.

[2022-03-17 02:27] Bosch-Eli-Black commented on #450
@zhibin2015 For a workaround, see the comment directly above yours 🙂

[2022-03-17 08:43] dcorb commented on #347
I upgraded from nextjs 8 to next.js 12 and I got this error.

I upgraded svg-sprite-loader from 4.x to 6.x and the error went away
I didn't have any custom webpack config

[2022-03-19 11:09] daweiyong opened #482 "Performance consumption"
SVG is too much, inserted into the dom performance overhead is large

[2022-04-11 10:22] Boom-BO commented on #466
这个问题我也遇到了，解决了吗兄弟？

[2022-05-02 15:17] bryanpizzillo commented on #477
@ezoterik Did you ever happen to find a fix for this? I have been trying to fight the SpriteLoaderPlugin and css-loader to get a proper URL. I have been trying to figure out what is going on, and I have ended up with:
* My incorrectly referenced <hash>.svg files now only contains the JS for the sprite.|
   * It seems like there is a default rule for file assets in webpack 5?
* css-loader blows up

[2022-05-05 13:23] ajotka commented on #470
I am trying to do the PR for webpack 5, but there is a huge blocker.
SVG Sprite Loader is using ["webpack-toolkit"](https://github.com/JetBrains/webpack-toolkit) and this package is trying to use 'webpack/lib//MultiEntryPlugin' which is deprecated in Webpack 5.
Any chance to update? Or should I implement workaround?

[2022-05-05 22:38] holloway commented on #470
Hey @ajotka I'm keen to help out -- just let me know if there's anything I can do.

[@d3x42](https://github.com/d3x42) any thoughts on the preceding question?

[2022-05-13 01:40] zy1281539626 commented on #445
6666

[2022-05-16 23:11] Poylar opened #485 "PLEASE HELP"
I have a file in my dist folder with sprites, but I can't connect this file to the page to use it.
I'm using pug, how do I do that?

`const path = require('path');
const { CleanWebpackPlugin } = require('clean-webpack-plugin');
const MiniCssExtractPlugin = require('mini-css-extract-plugin');
const CopyPlugin = require('copy-webpack-plugin');
const BrowserSyncPlugin = require('browser-sync-webpack-

[2022-05-16 23:15] #485 closed

[2022-05-17 21:31] NickWoodward opened #486 "NPM recommending svg-sprite-loader 2.0.3 as a vulnerability fix?"
**Do you want to request a feature, report a bug or ask a question?**
Vulnerability

**What is the current behavior?**
Running `npm audit fix` suggests rolling back svg-sprite-loader to `2.0.3`

**What is the expected behavior?**
Being able to use the latest version

**Please tell us about your environment:**

- Node.js version: 16.14.0
- webpack version: 5.72.1
- svg-sprite-loader version: 6.0.11

[2022-06-03 13:07] thany opened #487 "Exception emitted for every svg"
**Do you want to request a feature, report a bug or ask a question?**
Bug

**What is the current behavior?**
[code]

**What is the expected behavior?**
No warning. It works, so why complain?

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**

Piece of webpack config might be relevant:

[cod

[2022-06-03 15:46] jslag commented on #363
I'm seeing the same problem, with a project locally on MacOS. The `esModule: false` workaround addresses it, thankfully.

[2022-06-06 07:32] denibudeyko opened #488 "How can I add new attributes to the parent SVG?"
- webpack version: 4.41
- svg-sprite-loader version: 4.15

Hi, I have a small question. How can I add additional attributes to parent SVG tag, that covers all svg symbols. Based on WGAG recommendations I need to add role, label, and focusable state for parent SVG. I suppose I can do that, in webpack configuration, ( options object) , but unfortunately I did not find any information about that. Cou

[2022-06-09 12:44] Helios69 opened #489 "Is there a way to set role, focusable and other attributes to root svg sprite tag without extracting?"
Is there a way to set role, focusable and other attributes to root svg sprite tag without extracting?

[2022-06-13 10:55] Shramkoweb opened #490 "Regular Expression Denial of Service in postcss"
**Do you want to request a feature, report a bug or ask a question?**
Security issue.

**What is the current behavior?**

The package postcss versions before 7.0.36 or between 8.0.0 and 8.2.13 are vulnerable to Regular Expression Denial of Service (ReDoS) via getAnnotationURL() and loadAnnotation() in lib/previous-map.js. The vulnerable regexes are caused mainly by the sub-pattern /*\s* sourceMapp

[2022-06-14 03:19] BowenZ commented on #481
@ianberdin Hi, I encounterd the same problem, have you solved this?

[2022-07-07 17:45] MarmaladeKnight commented on #285
I have the same issue but the reason is that if I connect extracted sprite via url in xlink:href, I will miss the gradients. That`s why I want to connect sprite into the page without using link in icons

[2022-07-11 19:44] MarmaladeKnight opened #492 "Unable to modify change spriteFilename if loader rule has resourceQuery while using SpriteLoaderPlugin"
**Do you want to request a feature, report a bug or ask a question?**
report a bug

**What is the current behavior?**
Always get sprite.svg filename

**What is the expected behavior?**
Loader gets filename from options and plugin uses it

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**

[

[2022-07-18 03:33] Tyh2001 commented on #434
@Lstmxx svg 可以正常展示了，但是有乱码
![f322ca81fb028cb6af7e052dd28e8d1](https://user-images.githubusercontent.com/73180970/179441503-9db47662-02e0-4545-952e-e6d2adefc868.jpg)

[2022-07-18 06:14] Lstmxx commented on #434
问题已经解决，如果有遇到相同情况的朋友可以查看这个
https://github.com/Tyh2001/the-bug-svgBuilder/pull/1

[2022-07-20 03:09] Lstmxx commented on #434
I refactor the code and publish in https://github.com/Lstmxx/vite-svg-plugin. If you are interested, you can check the code.

[2022-07-20 11:11] alivedise opened #493 "SvgSpriteLoader is trying to guess you are using webpack 4 or 5"
**Do you want to request a feature, report a bug or ask a question?**
Bug
**What is the current behavior?**
In my environment I am using monorepo with some package using webpack 4 and some webpack 5.

See https://github.com/JetBrains/svg-sprite-loader/blob/master/lib/utils/get-matched-rule-4.js#L4

It seems svg-sprite-loader is trying to access 'webpack/lib/RuleSet' to see the user is having webpa

[2022-08-06 08:37] Poylar commented on #260
Still facing this issue

[2022-08-06 08:42] Poylar commented on #260
https://github.com/JetBrains/svg-sprite-loader/issues/65#issuecomment-256903682

[2022-08-10 07:26] ianberdin commented on #481
Nope.
I made a super dirty hack: load rendered sprite on development.

[2022-08-21 23:19] NickWoodward commented on #490
Did you find a decent fix for this? In the past I managed to override postcss used, but I'm now getting

[code]

[2022-08-22 09:35] Shramkoweb commented on #490
No. Unfortunately, I am waiting for a fix.

[2022-10-10 09:04] koskinpark commented on #434
how to use this plugin with vite with extract mode ?

[2022-10-20 02:33] z-zp opened #494 "Node16 npm audit moderate"
**Do you want to request a feature, report a bug or ask a question?**

**What is the current behavior?**

**What is the expected behavior?**

**If the current behavior is a bug, please provide the steps to reproduce, at least part of webpack config with loader configuration and piece of your code.**
**The best way is to create repo with minimal setup to demonstrate a problem (package.json, webpack

[2022-11-01 15:38] artemkliaus commented on #427
same here :(

[2022-11-07 20:30] MaximeCheramy commented on #494
There is also a critical vulnerability:

[code]

Direct dependency:

[code]

[2022-11-15 19:42] mapreal19 commented on #470
@chrisands did you make the PR? any updates here?